[2020-11-11 02:09] taoyuhong commented on #5498
[External_System_ID] ACRN-6784

[2020-11-11 08:29] xiaofst opened #5501 "[WHL][Yocto][Hybrid] in hybrid mode ACRN HV env, can not shutdown pre-lanuched RTVM"
Steps
1. dd SOS rootfs on NVME, dd RTVM rootfs on SATA,
2. install hybrid mode acrn hypervisor on SOS,
3. power on board use multiboot2
4. check system(prelaucned rtvm on sata, sos on nvme all works well)
5. from prelaunched RTVM shutdown RTVM
6. check system(SOS on NVME works well, prelaucned rtvm is shutdown)

Expected result
step4: from vm_console can enter pre-launched RTVM, SOS; vm_list show

[2020-11-11 08:51] xiaofst commented on #5501
[External_System_ID]ACRN-6585

[2020-11-12 05:13] terryzouhao commented on #5478
@tomwei666 , we were also using the same N3350 APL-UP2 board (Intel® Celeron™ N3350 (up to 2.4 GHz) ).
Just re-tried another commit #4803d94 (Sep 10, 2019 ), one day earlier than the previous one, all passed and flashed to N3350 again with enclosed log.
Actually just guess your failure "BPDT header Signature or partition number verification failed" was still because of the different "Priv key":
./

[2020-11-13 03:22] szhen11 opened #5506 "[EHL][SBL][hybrid_rt] in hybrid_rt, TPM can not work in pre-lanuched RTVM"
Environment
board: ElkhartLake LPDDR4x T3 CRB
flash SBL: \\10.239.48.225\acrn\ACRN_Validation\EHL\B0\sbl_ifwi_ehl_beta_rc2_b0_sata_btg0_dbg_nvme_boot_toshi
image: http://sit-image.sh.intel.com/acrn_daily_build/YOCTO-2020ww45.5-1/yocto-ehl-crb-b-sbl-hybrid_rt/
PRE-LAUNCHED kernel: 5.4.69-rt39-linux-intel-ese-lts-preempt-rt-acrn-uos
Test case:
271325_fTPM passthru_TPM device nodes probe on post-laun

[2020-11-13 03:23] szhen11 commented on #5506
[External_System_ID]ACRN-6823

[2020-11-13 14:11] yonghuah opened #5508 "hv-bugfix-for-hv-emulated-device-de-init_v2.3"
HW: TGL

Build info:

ACRN: release_2.3 branch

HV: http://sit-image.sh.intel.com/engine-build/jenkins-YOCTO_BITBAKE_ACRN_HYPERVISOR-730/yocto-tgl-rvp-uefi-hybrid_rt/

SOS_Kernel: BSP kernel(5.4.70)+ UIO kernel patch(ivshmem)

RT_kernel:BSP rt kernel(5.4.69) +UIO kernel patch(ivshmem)

http://sit-image.sh.intel.com/yocto/e2e/ww23.5/BSP_RT_5.4/5.4.69_ivsh/

YaaG: http://sit-image.sh.intel.com/yocto

[2020-11-13 14:14] yonghuah commented on #5508
[External_System_ID]ACRN-6827

[2020-11-13 17:42] ionutnechita opened #5510 "Can't create the boot file with a new compilation of acrn hypervisor"
Hi ACRN team,

I tried to make a new compile, but I can't.
I notice some problems with an object (`sos_pci_devs') and ld issue.

Error is this:

**_/usr/lib64/gcc/x86_64-suse-linux/10/../../../../x86_64-suse-linux/bin/ld: /tmp/acrn-hypervisor/build/hypervisor/modules/boot_mod.a(cpu_primary.o): warning: relocation in read-only section `multiboot_header'
/usr/lib64/gcc/x86_64-suse-linux/10/../../../

[2020-11-14 01:51] yonghuah commented on #5510
Hi Nechita,

   Can you share your build/compile  command  for this?

From: Ionut Nechita <notifications@github.com>
Sent: Saturday, November 14, 2020 01:43
To: projectacrn/acrn-hypervisor <acrn-hypervisor@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [projectacrn/acrn-hypervisor] Can't create the boot file with a new compilation of acrn hypervisor (#5510)

Hi ACRN te

[2020-11-14 07:12] ionutnechita commented on #5510
This command is used:
make all BOARD=nuc7i7dnb SCENARIO=industry RELEASE=0 2>&1 | tee -a log_compile1.txt

[2020-11-14 07:32] yonghuah commented on #5510
Please use xml config files as input, example:
make clean && make BOARD_FILE=$PWD/misc/vm_configs/xmls/board-xmls/nuc7i7dnb.xml \
SCENARIO_FILE=$PWD/misc/vm_configs/xmls/config-xmls/nuc7i7dnb/industry.xml FIRMWARE=uefi

Seems that global variable is not defined by default and shall be generated by configtool,  will double check that,  you can walk around it by this way.

Thanks.
-Yonghua

From: Io

[2020-11-14 16:56] ionutnechita commented on #5510
Hi @yonghuah,

I recompiled again with the parameters sent by you, and the issue is reproduced.
(make clean && make BOARD_FILE=$PWD/misc/vm_configs/xmls/board-xmls/nuc7i7dnb.xml SCENARIO_FILE=$PWD/misc/vm_configs/xmls/config-xmls/nuc7i7dnb/industry.xml FIRMWARE=uefi)

...
hypervisor/modules/librelease.a /tmp/acrn-hypervisor/build/hypervisor/modules/sys_init_mod.a -Wl,--end-group
/usr/lib64/gcc/x86

[2020-11-14 17:09] ionutnechita opened #5511 "[Documentation] Build ACRN with OpenSUSE Tumbleweed"
Hi ACRN team,

OpenSUSE Tumbleweed - The makers' choice for sysadmins, developers and desktop users.
https://www.opensuse.org/#Tumbleweed
Any user who wishes to have the newest packages that include, but are not limited to, the Linux kernel, SAMBA, git, desktops, office applications and many other packages, will want Tumbleweed. Tumbleweed appeals to Power Users, Software Developers and openSUSE C

[2020-11-14 17:22] ionutnechita opened #5512 "[Documentation] Create and boot ACRN SOS with rootfs based on OpenSUSE Tumbleweed"
Hi ACRN team,

OpenSUSE Tumbleweed - The makers' choice for sysadmins, developers and desktop users.
https://www.opensuse.org/#Tumbleweed
Any user who wishes to have the newest packages that include, but are not limited to, the Linux kernel, SAMBA, git, desktops, office applications and many other packages, will want Tumbleweed. Tumbleweed appeals to Power Users, Software Developers and openSUSE C

[2020-11-16 00:56] wenlingz commented on #5451
please add JIRA info, thanks

[2020-11-16 08:37] Ragnarliu opened #5514 "Coding style issue for xhci.c"
**Describe the bug**
A clear and concise description of what the bug is.

**Platform**
Describe the platform information,

**Codebase**
Describe which codebase is used.

**Scenario**
Describe the scenario: Hybrid, Industry or logical_partition

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear an

[2020-11-16 08:37] Ragnarliu commented on #5514
[External_System_ID]ACRN-6828

[2020-11-16 14:15] gvancuts commented on #5511
Hi @ionutnechita ,

Thanks for your request! The team is concentrating on Ubuntu and the Yocto Project at the moment. I'm not, personally, convinced we need to add Tumbleweed to the mix. More importantly, I don't believe the current ACRN team has the resources to do that... so it's also a great area for contribution! ;-)

Back to the reason I saw I'm not convinced we need to add this to the mix is

[2020-11-16 14:21] gvancuts commented on #5512
Hi @ionutnechita , would you be willing to create this tutorial? We'd be happy to review and take this!

The skeleton of such guide would be very similar to the existing ones, it's about compiling `acrn-hypervisor`, the `acrn-kernel` and installing all the build artefacts in the right place. Does Tumbleweed use Grub? We need multiboot(2) support to boot ACRN.

I am assuming that Tumbleweed is an R

[2020-11-16 14:27] gvancuts commented on #5480
Hi @tomwei666 , can you share the error logs?

[2020-11-16 19:31] vmurthy-intel opened #5517 "SOS boots with only one CPU core even though two cpu cores are assigned to it in hybrid scenario on TGL-U"
**Description of issue**
Even though I have assigned two CPU cores to SOS, after it boots, I can SOS is running with only on CPU core. I have assigned CPU cores 0 and 1 to SOS but I can see after boot that SOS is running with only core 0.

ACRN:\>vcpu_list

VM ID    PCPU ID    VCPU ID    VCPU ROLE    VCPU STATE    THREAD STATE
=====    =======    =======    =========    ==========    ==========

[2020-11-17 01:24] taoyuhong opened #5518 "refcount_t hit zero at acrn_trace_release"
Because refcount do not allow 0
For 5.4 kernel, when run 'cat /dev/acrn_trace_*', will meet:

[162152.702889] refcount_t hit zero at acrn_trace_release+0x2b/0x70 in
[162152.703955] WARNING: CPU: 1 PID: 10384 at kernel/panic.c:681 refcount_error_report+0x9c/0xac

[2020-11-17 01:24] taoyuhong commented on #5518
[External_System_ID] ACRN-6452

[2020-11-17 01:41] fuzhongl commented on #5451
[External_System_ID]ACRN-6829

[2020-11-17 07:48] ionutnechita opened #5522 "[Feature] Does the ACRN Hypervisor support OpenvSwitch ( OVS )?"
Hi ACRN team,

OpenvSwitch ( OVS )
https://www.openvswitch.org/
Open vSwitch, sometimes abbreviated as OVS, is an open-source implementation of a distributed virtual multilayer switch. The main purpose of Open vSwitch is to provide a switching stack for hardware virtualization environments, while supporting multiple protocols and standards used in computer networks.

Open vSwitch is a software imp

[2020-11-17 08:04] gvancuts commented on #5522
Hi @ionutnechita , we used to have a tutorial about that - see https://projectacrn.github.io/2.0/tutorials/open_vswitch.html

We pulled it mainly because it was based on Clear Linux and we switched to Ubuntu as our reference Service VM OS. Having skimmed through the steps quickly now, it _should_ still be valid and the difference would mostly be in how you install OVS itself (which I can't think w

[2020-11-17 14:27] ionutnechita commented on #5522
Hi @gvancuts,

I saw the document.
I will reproduce the steps from ClearLinux for OVS for first time.
I'm interested in making a page for OVS with updated steps.
But for me the final setup will be with OpenSUSE Tumbleweed.

Thanks for your support.
I'll be back with feedback.

[2020-11-17 17:44] ionutnechita opened #5524 "[ACRN] CPU parameters with advanced configuration"
Hi ACRN team,

I looked through your documentation now, and from what I noticed, there is currently no advanced configuration for pCPU and vCPU.
https://projectacrn.github.io/latest/tutorials/cpu_sharing.html#scheduling-framework
From what I saw there is only one CPU control parameter. "--cpu_affinity". From what I've seen and read, it's pretty static.
I think it should be improved in the future.

[2020-11-18 07:16] wenlingz commented on #5517
@peterfang please give the comments, thanks

[2020-11-18 08:24] gvancuts commented on #5522
Thanks @ionutnechita !! I'm looking forward to your update :-)

[2020-11-18 08:35] gvancuts commented on #5151
Error thrown when attempting to lauch VxWorks:
[code]

The problem was introduced with this PR #4692

[2020-11-19 08:06] stanleyintel opened #5528 "[Documentation] Incorrect order and definition of GVT_args"
**Describe the bug**

Documentation error: The description of GVT_args in user-guides/acrn-dm-parameters.html wrongly places gvt_high_gm_sz before gvt_low_gm_sz. Also gvt_low_gm_sz should be for GVT-g aperture size and gvt_high_gm_sz should be for GVT-g hidden gfx memory size.

Doc URL: https://projectacrn.github.io/latest/user-guides/acrn-dm-parameters.html

[2020-11-19 08:30] peterfang commented on #5517
This is expected behavior.

The current design is: we offline all pCPUs that can be used by a post-launched VM.

We use that to keep accounting of the current load of pCPUs (pCPUs other than PCPU0 can start at load 0). This helps us with CPU placement on a VM.

[2020-11-19 09:45] gvancuts commented on #5517
But based on their configuration, that pCPU is not to be used by a post-launched VM, they want it assigned to the Service VM, so that logic is broken.

That logic is really something we ought to fix in all our scripts. Why offlining all pCPUs if the VMs do not yet require them? This is very sub-optimal.

[2020-11-19 10:18] peterfang commented on #5517
We offline all pCPUs (except for pCPU0) that can potentially be used by a post-launched VM, regardless of whether that VM is created the moment libvirtd is launched.

In order to perform pCPU load balancing (one of the requirements of the ACRN driver), the simplest solution is to vacate all the pCPUs that can be potentially used by a post-launched VM and start from 0 load. This is the easiest way

[2020-11-19 10:25] gvancuts commented on #5528
Nice catch - thanks! Please take a look at PR #5529 to see if it correctly addresses the problem. Thanks!

[2020-11-19 10:32] gvancuts commented on #5517
What pCPU load balancing are you referring to?

So how does that work in the case where libvirt is not involved?

I understand that the current mechanism is the easiest but it's really sub-optimal, I'd like to think we can do better to get more out of the HW resources available ;-)

[2020-11-19 10:43] peterfang commented on #5517
I'm referring to the "--cpu_affinity" parameter in dm.

When a user uses an xml file to launch a VM in libvirt, CPU placement is usually set to automatic. It is libvirtd's job to find a VM and place its vCPUs on pCPUs. We want to give VMs as much CPU resource as possible.

All of this is performed by libvirtd. So if the libvirt service is disabled, only a launch script will offline the CPUs.

I ag

[2020-11-19 16:09] gvancuts commented on #5510
I ran some quick experiments on my environment: I can reproduce the problem when using `make clean && make all BOARD=nuc7i7dnb SCENARIO=industry RELEASE=0`.

I then tried the other command (minus the `FIRMWARE=uefi` since this is obsolete), and that worked: `make clean && make BOARD_FILE=$PWD/misc/vm_configs/xmls/board-xmls/nuc7i7dnb.xml SCENARIO_FILE=$PWD/misc/vm_configs/xmls/config-xmls/nuc7i7dn

[2020-11-19 16:32] gvancuts commented on #5524
Hi @ionutnechita

This is statically defined for each VM in your scenario. You can further refine this using the `--cpu_affinity` parameter, by specifying which of the pCPUs you want to use. So if you want to have only three vCPUs in your VM you can list those in the command-line. I actually suspect you already understood that part... but I'm not clear what is the improvement you would like to see

[2020-11-19 18:34] yuchuyang opened #5530 "acrn-config: refine ivshmem vbar searching method"
Refine ivshmem vbar 0 and 2 searching method for pre-launched vm.

Signed-off-by: Yang,Yu-chu <yu-chu.yang@intel.com>

[2020-11-19 18:35] ionutnechita commented on #5510
Ok, understood.
This is modification for vUART, no?
Thanks for check.

[2020-11-19 18:36] yuchuyang commented on #5530
[External_System_ID]ACRN-6763

[2020-11-20 09:40] #5480 closed

[2020-11-20 09:42] #5478 closed

[2020-11-23 08:57] yonghuah opened #5535 "null access in update_assigned_vf_state"
pci_find_bus() may return null if invalid bdf   value is injected

[2020-11-23 08:59] yonghuah commented on #5535
[External_System_ID]ACRN-6837

[2020-11-24 06:41] wenlingz commented on #5535
[External_System_ID]ACRN-6837

[2020-11-24 15:31] ionutnechita commented on #5510
Hi @gvancuts,

This issue it's fixed.
Thanks.

This issue is fixed:
hypervisor/modules/librelease.a /tmp/acrn-hypervisor/build/hypervisor/modules/sys_init_mod.a -Wl,--end-group
/usr/lib64/gcc/x86_64-suse-linux/7/../../../../x86_64-suse-linux/bin/ld: /tmp/acrn-hypervisor/build/hypervisor/modules/boot_mod.a(cpu_primary.o): warning: relocation in read-only section multiboot_header' /usr/lib64/gcc/x86

[2020-11-24 15:39] ionutnechita opened #5542 "Can't create the boot file with a new compilation of acrn hypervisor #2"
Hi ACRN team,

I tried to make a new compile, but I can't.
I notice some problems with an object (`sos_pci_devs') and ld issue.

Error is this:

**_Found nuc7i7dnb configuration for SCENARIO industry under /tmp/acrn-hypervisor/misc/vm_configs/scenarios/industry/nuc7i7dnb
cc main.c static_checks.c vm_cfg_checks.c ../../hypervisor/arch/x86/configs/vm_config.c /tmp/acrn-hypervisor/misc/vm_configs/sce

[2020-11-25 02:40] yonghuah opened #5544 "DM segmentation fault (VirtIO backend fault Injection)"
Steps

1- assign the virtio devices to the hypercube OS in the launch script.

2- launch Hypercube OS as Guest with GDB support.

3- monitor the DM error messages or segfaults.

Expected result

no segmentation fault

Actual result

segmentation fault

Reproduce rate

2/10

Debugging info

File: virtio.c:664
Function: vq_endchains
Line: vq->save_used = new_idx_ vq->used->idx
Reason: used = 0x0

[2020-11-25 02:42] yonghuah commented on #5544
[External_System_ID]ACRN-6848

[2020-11-25 07:29] yonghuah opened #5548 "inputs are not fully validate in acrn_ioreq_complete_request() function"
**Describe the bug**
  'vcpu' is not validated and may result in memory access overflow.

[2020-11-25 07:33] yonghuah commented on #5548
[External_System_ID]ACRN-6849

[2020-11-25 11:33] gvancuts commented on #5542
Hi @ionutnechita , I don't see this on my dev environment (still running Clear Linux). But I just created a Tumbleweed Docker container to try this out and I can reproduce the same error using it.

Not sure if it's the right approach but this patch got me passed this error:
[code]
Unfortunately, there is another error after that one... see:
[code]

[2020-11-25 11:35] gvancuts commented on #5542
FWIW, Ubuntu 20.04 does not have the problem either.

[2020-11-25 11:59] gvancuts commented on #5542
@NanlinXie who can look at this? You can reproduce this problem very easily by using my [OpenSUSE Tumbleweed Dockerfile](https://github.com/gvancuts/acrn-dockerfiles/blob/master/Dockerfile.tumbleweed) (for quick instructions, read the [README.md](https://github.com/gvancuts/acrn-dockerfiles/blob/master/README.md))

@ionutnechita , if you want to use Ubuntu 20.04 in the meantime, you can do so via

[2020-11-25 12:01] gvancuts commented on #5510
Thanks... closing!

[2020-11-25 12:01] #5510 closed

[2020-11-25 13:51] ionutnechita commented on #5542
Ok, thanks for reproduce this.

[2020-11-25 13:56] ionutnechita commented on #5542
For the Dockerfile with OpenSUSE, I will review it and come back with a feedback.
Thanks.

[2020-11-25 14:26] ionutnechita commented on #5542
I also tried to make a change in the file: misc/hv_prebuild/vm_cfg_checks.c and I notice now that the issue no longer appears.
This would be the difference:

diff --git a/misc/hv_prebuild/vm_cfg_checks.c b/misc/hv_prebuild/vm_cfg_checks.c
index 4c73fcca..33454613 100644
--- a/misc/hv_prebuild/vm_cfg_checks.c
+++ b/misc/hv_prebuild/vm_cfg_checks.c
@@ -21,7 +21,7 @@ static uint8_t rtvm_uuids[][16] =

[2020-11-25 14:43] ionutnechita opened #5549 "Can't create the acrn tools with a new compilation of acrn hypervisor"
Hi ACRN team,

I tried to make a new compile, but I can't.
I notice some problems with acrn-crashlog tools and ld issue.

Error is this:
**_/usr/lib64/gcc/x86_64-suse-linux/10/../../../../x86_64-suse-linux/bin/ld: /tmp/acrn-hypervisor/build/misc/tools/acrn-crashlog/acrnprobe/obj/load_conf.o:/tmp/acrn-hypervisor/misc/tools/acrn-crashlog/acrnprobe/include/load_conf.h:155: multiple definition of `con

[2020-11-25 14:47] ionutnechita commented on #5542
I created another ticket for the acrn-crashlog issue. ACRN#5549

[2020-11-25 14:53] ionutnechita commented on #5524
For this "I think this 3rd example is a generalization of your second scenario above. As far as I know, it is not possible to do that. I'm not immediately seeing why you would want such fine-grained control, do you have a use-case in mind?"

Yes, I would like to create an api for virtual machines in the future, or use libvirt support.

An advanced affinity change would bring more flexibility in cr

[2020-11-25 15:02] ionutnechita commented on #5524
For this "Is that you don't want to have to state which pCPUs to use, you want to just be able to give a number?"

Yes, I would like to give a number, for a simple configuration.
And for a complex configuration, to give a number for vCPU, but also the affinity parameters with pCPU and vCPU.

[2020-11-26 10:32] gvancuts commented on #5549
It seems like the problems you've encountered are related to gcc version 10.x. I can reproduce these on Fedora 33 too (which also uses gcc 10.x). The new default to `-fno-common` seems to be the culprit here (see also https://gcc.gnu.org/gcc-10/porting_to.html for more details).

The following patch should solve your issues:
[code]

Can you test it and confirm back to us whether it helps?

@Nanlin

[2020-11-26 10:59] gvancuts commented on #5549
As an FYI, compiling the ACPICA tools (`iasl`) will also require a newer version than the one in our documentation for those distros that come with gcc 10. The version from March 2020 (https://acpica.org/node/178) seems to be good but I'd recommend we try with the latest (e.g.: https://acpica.org/sites/acpica/files/acpica-unix2-20200717.tar.gz)

[2020-11-26 11:06] gvancuts opened #5553 "Get ready or gcc-10"
`gcc-10` will gradually be included in Linux distributions. OpenSUSE Tumbelweed and Fedora 33 for example already ship it.

There are a couple of issues with it:
1. Cannot compile ACRN: see also #5510 and #5549 for more details about the errors.
2. Cannot compile the ACPICA tools: these compilation problems were fixed in the March 2020 version (see https://acpica.org/sites/acpica/files/changes_49.

[2020-11-26 11:35] vmurthy-intel commented on #5517
@peterfang one quick question: So you mean, libvirtd, if it is enabled, will assign minimum pCPUs to SOS (I believe it will always assign only one pCPU, i.e. pCPU 0) and offline other pCPUs for SOS even though u have assigned 2 pCPUs in scenario XML for SOS. Correct ?? Then I believe in this case, libvirt is kind of overriding the pcpu assignment done in the scenario xml.

Also I observed that "cp

[2020-11-26 13:38] ionutnechita commented on #5549
Hi @gvancuts,

I have now tried to compile.
And the change you propose works.
(+CFLAGS                 += -fcommon)
(PRE_BUILD_CFLAGS += -fno-stack-protector -fno-builtin -W -Wall -fcommon)

I saw the ticket: Get ready or gcc-10 #5553, ACRN#5553.
Someone should apply these changes for working with GCC 10, GLIBC 2.32 and IASL/ACPICA 20200717.

Thank you for checking and finding a fix.

[2020-11-27 00:19] peterfang commented on #5517
I can only respond to the libvirtd part of your question and the answer is yes. For simplicity's sake, we try to vacate all pCPUs that can be potentially used by a post-launched VM because we want to reduce pCPU sharing between the Service VM and the post-launched VMs.

[2020-11-27 01:32] fuzhongl commented on #5549
[External_System_ID]ACRN-6856

[2020-11-27 01:32] fuzhongl commented on #5553
[External_System_ID]ACRN-6856

[2020-11-27 01:52] lifeix opened #5555 "call assign/deassign mmiodev could crash hv"
If we assign the mmio device address and size maliciously, this may crash the HV, SOS even the UOS.

[2020-11-27 01:53] lifeix commented on #5555
[External_System_ID] https://jira.devtools.intel.com/browse/ACRN-6855

[2020-11-27 10:24] gvancuts commented on #5553
@JasonChenCJ

Here is how to reproduce the compilation error with gcc-10:
[code]

[2020-11-28 15:29] rome-xi opened #5558 "can't boot RTVM in industry scenario"
Ubuntu version: 20.04
GCC version: 9.3
ACRN-hypervisor branch: release_2.2 (acrn-2020w40.1-180000p)
ACRN-Kernel (Service VM kernel): release_2.2 (5.4.43-PKT-200203T060100Z)
RT kernel for Ubuntu User OS: 4.19/preempt-rt (4.19.72-rt25)
HW: Maxtang Intel WHL-U i7-8565U
toturial:https://projectacrn.github.io/latest/getting-started/rt_industry_ubuntu.html
I refer to the website tutorial,sos is booted,b

[2020-11-29 09:33] fuzhongl commented on #5558
@rome-xi Please remove **-s 8,virtio-net,tap0** in your launch script.
Thanks!

[2020-11-29 09:42] rome-xi commented on #5558
The result has not changed.

[2020-11-29 10:47] rome-xi commented on #5558
linux /boot/bzImage root=PARTUUID="fe3100fa-5742-421f-8381-c63a4977e9c4" rw rootwait nohpet console=hvc0 console=ttyS0 no_timer_check ignore_loglevel log_buf_len=16M consoleblank=0 clocksource=tsc tsc=reliable x2apic_phys processor.max_cstate=0 intel_idle.max_cstate=0 intel_pstate=disable mce=ignore_ce audit=0 isolcpus=nohz,domain,1 nohz_full=1 rcu_nocbs=1 nosoftlockup idle=poll irqaffinity=0

[2020-11-29 11:52] fuzhongl commented on #5558
zcat /proc/config.gz

check if following is in:

CONFIG_SERIAL_8250_EXTENDED=y
CONFIG_SERIAL_8250_DETECT_IRQ=y

[2020-11-30 02:11] saininav opened #5559 "YaaG failed to passthrough GVT-g with Yocto Service OS. Kernel NULL pointer dereference.."
YaaG (Yocto as a Guest) (postlaunch) failed to passthrough GVT-g with Yocto Service OS. Guest OS is featured with X11.

Platform: Kabylake NUC7i7DNHE
OS: Yocto (Poky)
Layers: meta-acrn
SOS Kernel: Linux-intel 5.4.68
UOS Kernel: Linux-intel 5.4.68
ACRN Hypervisor  : v2.2

[dmesg_uos_error.log](https://github.com/projectacrn/acrn-hypervisor/files/5613437/dmesg_uos_error.log)
[dmesg_error_sos.log](ht

[2020-11-30 11:16] gvancuts opened #5561 "Log output in `build/hypervisor/cfg.log` is polluted with '-e' characters"
The log output found in `build/hypervsior/cfg.log` is polluted with `-e` sequences - see:
[code]

[2020-12-01 01:23] wenlingz commented on #5561
@gvancuts please help add JIRA ID, thanks

[2020-12-01 01:40] fuzhongl commented on #5561
[External_System_ID]ACRN-6868

[2020-12-01 06:13] NanlinXie opened #5564 "doc: replace an Ubuntu cloud guest image into openstack doc."
Track below issue as future task.
[doc: update the doc to setup openstack with ACRN](https://github.com/projectacrn/acrn-hypervisor/pull/5560)
We use a Clear Linux cloud guest image, can we replace this by an Ubuntu cloud guest image? I'd suggest we pick the latest one as of today, i.e. https://cloud-images.ubuntu.com/focal/20201126/

[2020-12-01 07:42] yuchuyang opened #5565 "acrn-config: remove hardcoded invalid device in launch script"
The following device is hardcoded in launch-script if the uos type is not PREEMPT-RT LINUX; however, this is no longer needed.

[2020-12-01 07:43] yuchuyang commented on #5565
[External_System_ID]ACRN-6845

[2020-12-01 08:24] gvancuts commented on #5553
Hi @fuzhongl , I would like to keep this open until we have also fixed the ACPICA version issue.

[2020-12-01 08:28] gvancuts commented on #5364
Hi @NanlinXie , who should this be assigned to?

[2020-12-01 09:01] gvancuts commented on #4948
I'm seeing even longer boot times lately, more like a minute and sometimes even longer:
[code]

`DM version is: 2.3-unstable-79892f91-dirty (daily tag:acrn-2020w45.1-180000p), build by acrn@2020-11-30 12:28:20`

Are you seeing this too in your test environment?

@vijaydhanraj , FYI

[2020-12-02 04:37] saininav opened #5570 "[Python 3.9] AttributeError: 'xml.etree.ElementTree.Element' object has no attribute 'getchildren'"
Python 3.9 does not support xml.etree.ElementTree.Element.getchildren. It throws build error.

Error log:
|   File "acrn-workspace/poky/build-gatesgarth/master-acrn-sos/work/x86_64-linux/acrn-hypervisor-native/2.3-r0/git/misc/acrn-config/scenario_config/../acpi_gen/asl_gen.py", line 426, in main
|     for mmio_dev_node in mmio_dev_nodes.getchildren():
| AttributeError: 'xml.etree.ElementTree.Eleme

[2020-12-02 05:22] fuzhongl commented on #5371
Passed on Release 2.3 RC6

Xenomai 4.19kernel with new patch:
https://github.com/intel/linux-stable-xenomai/pull/2

[2020-12-02 05:22] #5371 closed

[2020-12-02 05:28] fuzhongl commented on #5370
Fixed in v2.3

[2020-12-02 05:28] #5370 closed

[2020-12-02 05:39] #5491 closed

[2020-12-02 05:41] #5498 closed

[2020-12-02 05:42] #5501 closed

[2020-12-02 05:43] #5506 closed

[2020-12-02 05:43] #5508 closed

[2020-12-02 05:44] #5514 closed

[2020-12-02 05:44] fuzhongl commented on #5368
Fixed in v2.3

[2020-12-02 05:44] #5368 closed

[2020-12-02 05:45] #5154 closed

[2020-12-02 05:46] fuzhongl commented on #5150
Fixed with  5.4.52-rt31-linux-intel-preempt-rt-acrn-uos

[2020-12-02 05:46] #5150 closed

[2020-12-02 05:51] #5316 closed

[2020-12-02 05:51] #5346 closed

[2020-12-02 05:52] #5411 closed

[2020-12-02 05:52] #5461 closed

[2020-12-02 05:52] #5463 closed

[2020-12-02 05:53] #5482 closed

[2020-12-02 05:53] #5490 closed

[2020-12-02 06:00] #4691 closed

[2020-12-02 09:49] Leo2Chang opened #5572 "[WHL][Hybrid_rt] build hybrid_rt hv from source, boot RTVM fail"
**Describe the bug**
[WHL][Hybrid_rt] build hybrid_rt hv from source, boot RTVM fail

**Platform**
whl-ipc-i7; whl-ipc-i5

**Codebase**
repo: https://github.com/projectacrn/acrn-hypervisor
branch: release_2.3
commit d57a213242741e23c4ffe1832c57551e05a1406b (HEAD -> release_2.3, tag: acrn-2020w48.5-180000p, origin/release_2.3)

**Scenario**
Hybrid_rt

**To Reproduce**
1. git clone https://github.co

[2020-12-02 09:56] Leo2Chang opened #5573 "[EHL][logical_partition] build EHL logical_partition hv from source Fail"
**Describe the bug**
[EHL][logical_partition] build EHL logical_partition hv from source Fail

**Platform**
board: ehl-crb-b
scenario: logical_partition
build cmd: make all BOARD=ehl-crb-b SCENARIO=logical_partition RELEASE=0

**Codebase**
repo: https://github.com/projectacrn/acrn-hypervisor
branch: release_2.3
commit d57a213242741e23c4ffe1832c57551e05a1406b (HEAD -> release_2.3, tag: acrn-2020w48

[2020-12-03 00:42] fuzhongl commented on #5572
[External_System_ID]ACRN-6871

[2020-12-03 00:42] fuzhongl commented on #5573
[External_System_ID]ACRN-6872

[2020-12-03 08:06] gvancuts opened #5580 "Add 'README.rst' to 'misc/hv_prebuild' tool folder"
There is a tool under `misc/hv_prebuild` in the ACRN source code repository. I believe this is **not** a user-facing tool but rather something used by the ACRN build system. It would be useful to have a short `README.rst` file in that repo to briefly explain what's in there, that will help users to understand if they should care about the content or not ;-)

@terryzouhao , who would be the right p

[2020-12-03 08:45] gvancuts opened #5581 "CODEOWNERS has outdated information"
The `CODEOWNERS` file has outdated and missing information. Specifically:
* `/misc/efi-stub/` no longer exists
* `packaging`, `life_mngr`, `hv_prebuild` and `vm_configs` are missing an owner

[2020-12-03 08:46] gvancuts commented on #5581
@NanlinXie @terryzouhao if you can help me identify the right owners for these, I can send a PR.

[2020-12-04 08:05] fuzhongl commented on #5558
@rome-xi Please apply following patch in 4.19 rt kernel: Then, you can login without uart cable.

[code]

[2020-12-05 13:35] yonghuah opened #5586 "ACRN coding style cleanup"
1. rename hyperall name for hv-emuated devices management.

[2020-12-05 18:41] ionutnechita opened #5588 "ACRN Configuration Summary Message is not well formed on the screen"
Hi ACRN team,

I tried to make a new compilation, but the result summary is a bit changed as well.
Error is this:
**_make[1]: Leaving directory '/acrn-hypervisor/devicemodel'
\n\033[47;30mACRN Configuration Summary:\033[0m \nBOARD = nuc7i7dnb\t SCENARIO = industry
BUILD type = \c
RELEASE
Hypervisor configuration is based on:
\tdefconfig file:\t\t\t/acrn-hypervisor/misc/vm_configs/scenarios/industr

[2020-12-05 18:47] ionutnechita commented on #5588
With git revert from this commit:
git revert e2590d88aa3e1c72dc6473eadc83312412a604b3

    Revert "hv: fix formatting for cfg.log output"

    This reverts commit e2590d88aa3e1c72dc6473eadc83312412a604b3.

Summary is fine.

[2020-12-06 09:41] yonghuah commented on #5586
[External_System_ID] ACRN-6879

[2020-12-07 00:41] fuzhongl commented on #5588
@gvancuts Could you please help to check it?
Thanks!

[2020-12-07 06:25] szhen11 commented on #5570
[External_System_ID]ACRN-6881

[2020-12-07 09:58] gvancuts commented on #5588
Hmmm... OK, the behaviour is different based on different systems. Tumbleweed and Clear Linux need this `-e` option to format things properly, but Ubuntu does not (and actually prints out this `-e` inside the file which also messes up (differently) the format.

[2020-12-07 10:23] gvancuts commented on #5588
OK, I think I found what's causing this. On Clear Linux and Tumbleweed, `/bin/sh` is a symlink to `/bin/bash`. `/bin/sh` is the shell used by default by `make` unless otherwise stated. The built-in `echo` command in bash understands the `-e` argument.

On Ubuntu, `/bin/sh` points at `/bin/dash` and the built-in `echo` command in dash does not understand the `-e` option, so it simply prints it out

[2020-12-07 10:51] gvancuts commented on #5588
@ionutnechita , can you do a sanity check on your side with this fix? I tried it on my Docker image based on Tumbleweed and it solved the problem... so hopefully this works for your native env too!

[2020-12-07 17:32] ionutnechita commented on #5588
Hi @gvancuts,

I tested now with this modification is fine now.
Using OpenSUSE Tumbleweed, native OS.
It's fine to merge this modification.

Thanks.

[2020-12-08 00:21] fuzhongl commented on #5588
[External_System_ID] ACRN-6882

[2020-12-09 08:06] yuchuyang opened #5592 "acrn-config: fix the logic of get_vuart1_vmid"
The function validate if the legacy vuart1 and its target_vm_id are paired. However, it dynamically changes the tracking list. It would try to access an invalid keys which has been removed.
Refine the logic to add a valid paired legacy vuart1 to new list.

Signed-off-by: Yang,Yu-chu

[2020-12-09 08:08] yuchuyang commented on #5592
[External_System_ID]ACRN-6883

[2020-12-09 13:01] SLinke-intel opened #5594 "documentation issues on "Getting Started Guide for ACRN Industry Scenario with Ubuntu Service VM""
The "Getting Started Guide for ACRN Industry Scenario with Ubuntu Service VM" has some misleading content:
 https://projectacrn.github.io/latest/getting-started/rt_industry_ubuntu.html
- In “Build ACRN HV on Ubuntu” -> “5. Build ACRN”
https://projectacrn.github.io/latest/getting-started/rt_industry_ubuntu.html#build-the-acrn-hypervisor-on-ubuntu
missing: ”sudo mkdir /boot/acrn/”
- **False syntax i

[2020-12-09 13:44] gvancuts commented on #5594
Good catch!

You can do that but my understanding is that this is not necessary as `root` is the value by default if none is provided (see https://www.gnu.org/software/grub/manual/grub/html_node/search.html)

I tend to agree with you. The hint really is about using `blkid` to figure out the right UUID but using a different device node makes it a bit confusing.

This is correct. That line is at the

[2020-12-09 14:14] gvancuts commented on #5594
@SLinke-intel , take a look at #5595 and let me know if this addresses your comments.

[2020-12-09 15:48] SLinke-intel commented on #5594
Hi Geoffrey,

Thanks for your response. I agree that your changes cover the remaining points.
As a feedback for you: I think that the correctly exchanging the UUID PARTUUID in the grub menu entry is a critical part, that can easily become a pitfall. (I failed myself at the beginning and noticed the same mistake done by a colleague). The documentation is in fact correct, but maybe the wording could

[2020-12-09 22:06] sunilmpatel opened #5596 "Issues configuring Intel NUC7i7DNHE and running Ubutntu 18.04 as SOS and windows LTS as UOS"
**Description**
Issues configuring Intel NUC7i7DNHE, goal is to get following configuration working using Intel NUC:
- SOS (UBUNTU 18.04)
- UOS Windows 10 LTS
- GVT-g/GVT-d (GPU pass thru) to windows guest

Issue #1 Once I boot into SOS, I get folllowing messages periodically on see attached dMesg.txt file.
[  377.126628] [drm:gen8_de_irq_handler] *ERROR* Fault errors on pipe A: 0x00000080

Issue

[2020-12-10 00:13] fuzhongl commented on #5596
@sunilmpatel
About issue 1#:
This is known issue after v2.0. Could you please use v2.0 until this issue is fixed?
or using text mode for Ubuntu sos?

About issue 2#
Please refer [Enable GVT-d in ACRN](https://projectacrn.github.io/latest/tutorials/gpu-passthru.html) to enable GOP feature of GVT-d; which is need for WaaG image creation.

[2020-12-10 06:57] #5594 closed

[2020-12-10 22:07] sunilmpatel commented on #5596
About issue 1#:
After I rebuild v2.0 using stock board and scenerio files **nuc7i7dnb.xml**. Upon reboot into my SOS my Screen gets stuck at "Loading ACRN". I have tried following kernel options so far and nothing seems to be helping..
i915.enable_gvt=1 i915.gvt_workload_priority=1 i915.enable_initial_modeset=1 i915.nuclear_pageflip=1

Attached are dmesg log
[dmesg_2_0.txt](https://github.com/proj

[2020-12-11 09:10] ionutnechita opened #5598 "[Feature] Uptime command not exist in ACRN Shell Commands"
Hi ACRN team,

I observe this page:
https://projectacrn.github.io/latest/user-guides/acrn-shell.html
But not observe "uptime" command in this table.

You can implement this command in ACRN Shell Commands to see uptime while ACRN Hypervisor is running?
ACRN:/> uptime
ACRN Hypervisor Uptime: 40 minutes

Thanks.

[2020-12-13 00:30] slinke67 opened #5599 "Issues configuring Maxtang WL10 (i58265U) and running Ubutntu 18.04 as SOS and windows LTS as UOS with GVT-g"
**Describe the bug**
When following the "Getting Started Guide for ACRN Industry Scenario with Ubuntu Service VM" and the "Launch Windows as the Guest VM on ACRN" tutorial of ACRN 2.3  WaaG fails to enable GVT-g.

**Platform**
Maxtang WL10  (i58265U)
32GB
HDMI + DP connected (Ubuntu on both displays)

**Codebase**
Ubuntu 18.04 desktop + ACRN 2.3

**Scenario**
Industry scenario following GSG, HV/SO

[2020-12-14 07:12] slinke67 commented on #5599
adding the missing log files.
[dmesg.log](https://github.com/projectacrn/acrn-hypervisor/files/5687010/dmesg.log)
[hv.log](https://github.com/projectacrn/acrn-hypervisor/files/5687015/hv.log)
[install_win.sh.txt](https://github.com/projectacrn/acrn-hypervisor/files/5687017/install_win.sh.txt)
[waag.log](https://github.com/projectacrn/acrn-hypervisor/files/5687009/waag.log)
[acrncrl.list.txt](https

[2020-12-14 09:48] slinke67 commented on #5599
FYI: also tried to install Ubuntu 18.04 server variant to run WaaG with GVT-d but I read **somewhere** this is currently not supported for WaaG installation.

I read (not related to WaaG installation tutorial) that "If you use GVT-g, you can set up Weston in the Service VM, and set up Weston as the desktop environment in the Service VM". Does that mean I should switch from regular Ubuntu desktop (

[2020-12-15 00:52] fuzhongl commented on #5596
@sunilmpatel
Issue 1#:
Please refer  [Using the Serial Port on KBL Intel NUC](https://projectacrn.github.io/latest/tutorials/using_serial_port.html) and share console log?
If there is no this serial cable on your side, please using **text mode** for ubuntu sos with ACRN v2.3.

Issue 2#:
We prefer v2.3.

Thanks!

[2020-12-15 03:21] wenlingz commented on #5570
@saininav patch has been merged, please help verify and close this issue, thanks

[2020-12-15 09:26] szhen11 opened #5600 "[EHL][acrn configuration-tool][Hybrid-rt]no way to add vcpu_clos on configuration-tool when set RDT y"
HW/Board
BOARD: EHL
SOS IMAGE:http://sit-image.sh.intel.com/acrn_daily_build/YOCTO-2020ww48.5-1/yocto-ehl-crb-b-sbl-hybrid_rt/build.txthttp://sit-image.sh.intel.com/acrn_daily_build/YOCTO-2020ww37.4-1/yocto-tgl-rvp-uefi-hybrid_rt/build.txt

Steps

1.Checkout to the latest acrn-hypervisor source code.
2. Using acrn configuration tool Web UI to generate launch script. select board "ehl-crb-b.xml" fr

[2020-12-15 09:26] szhen11 commented on #5600
[External_System_ID]ACRN-6869

[2020-12-15 13:29] gvancuts commented on #5598
hi @ionutnechita , out of curiosity, what use-case do you have in mind for this new command?

[2020-12-15 13:30] gvancuts commented on #5588
patch has been merged, closing this issue.

[2020-12-15 13:30] #5588 closed

[2020-12-15 13:33] gvancuts commented on #5594
Hi @SLinke-intel , I'm not completely following you on this comment. Can you explain what mistake you made initially (and where we could make the documentation clearer)? Thanks!

[2020-12-15 15:50] swinslow opened #5601 "Add ACRN logo to README file"
In connection with the trademark registration for the ACRN lockup logo, recommend adding the logo to the README file. This would make it visible on the main GitHub page where users can obtain the ACRN code. I'll submit a draft PR to address this shortly.

[2020-12-16 03:09] saininav commented on #5570
Issue fixed.  Thanks.

[2020-12-16 03:09] #5570 closed

[2020-12-17 01:48] ssqre opened #5605 "Add split-lock emulation"
Currently, the ACRN doesn't support split-lock emulation. The guest may encounter kinds of problems if this feature is enabled on the hardware. e.g. WaaG reboot, geekbench test crash in Linux based guests. We need to support split-lock emulation in hypervisor.

[2020-12-17 01:50] ssqre commented on #5605
[External_System_ID] ACRN-6709
[External_System_ID] ACRN-6593

[2020-12-17 01:58] mgcao opened #5606 "EHL preempt-rt miss some RT related boot arguments in pre-launched configure file"
when test RTVM, found some RT performance exception.

after checking:
     some RT related boot arguments are needed for preempt-rt linux.
add them in configure file built in for EHL board.
      for EHL, it is booted with SBL, not like GRUB, extra boot arguments
    can be added; so better to be built in.

[2020-12-17 03:20] mgcao commented on #5606
[External_System_ID] ACRN-6895

[2020-12-17 09:58] ionutnechita commented on #5598
Hi @gvancuts,

Is for testing and debug hypervisor; I would like to know how long this hypervisor has been running.

[2020-12-17 10:08] yuchuyang opened #5609 "acrn-config: reserve hostbirdge bdf of pre-launched vm"
bdf 00:00.0 is reserved for pci host bridge. Reserve the this bdf of pre-launced vm even there is no passtrhough pci devices and ivshmemis disabled.                                                                                                                                                                        Refine the logic of get_pt_pci_num. It only counts the passthrough devices, and does

[2020-12-17 13:43] gvancuts commented on #5528
hi @stanleyintel , the patch was merged so let me close this issue. Feel free to re-open it if something is still missing to address it. Thanks

[2020-12-17 13:43] #5528 closed

[2020-12-17 14:54] gvancuts commented on #5601
Patch was merged, let's close this.

[2020-12-17 14:54] #5601 closed

[2020-12-17 21:42] dbkinder opened #5611 "Update LICENSE to include latest year of contribution"
Project LICENSE file is still as written with the project started (Copyright 2017-2018) and needs to be updated annually to include the latest year of contribution to the project.  Update it now to be 2017-2021.

[2020-12-17 21:53] dbkinder commented on #5611
[External_System_ID] ACRN-6774

[2020-12-18 01:54] szhen11 opened #5614 "[CFL][hybrid_rt] TPM can not work in pre-launched RTVM"
Environment

BIOS Information
Vendor: INSYDE Corp.
Version: Z01-0001A027
Release Date: 10/14/2019
BIOS Revision: 1.28
*
Base Board Information
Manufacturer: Logic Supply
Product Name: RXM-181
Version: Type2 - Board Version
image: http://sit-image.sh.intel.com/temp/wenling/EBP/ww50.1/

Test case:
271325_fTPM passthru_TPM device nodes probe on post-launched VM
271325_fTPM passthru_generate random ch

[2020-12-18 01:54] szhen11 commented on #5614
[External_System_ID]ACRN-6888

[2020-12-18 02:09] taoyuhong opened #5615 "support deny access pdev resource from SOS"
**Describe the feature**
A clear and concise description of what the feature is.

  For pdev owned by HV, or passthrough to pre-launched VM. Deny access their mmio/pio resource from SOS.

[2020-12-18 02:13] taoyuhong commented on #5615
[External_System_ID]ACRN-6608

[2020-12-18 18:02] dbkinder commented on #5611
Done.

[2020-12-18 18:02] #5611 closed

[2020-12-21 02:16] fuzhongl commented on #5599
@slinke67 Sorry for response so late!
After v2.0, the acrngt switches to IDV solution; but there is known issue for GVT-g.
Please refer following [PR](https://github.com/projectacrn/acrn-hypervisor/pull/5617/) before it is merged.
Thanks!

[2020-12-22 01:14] #5549 closed

[2020-12-22 01:15] #5558 closed

[2020-12-22 01:16] #5561 closed

[2020-12-22 01:47] NanlinXie commented on #5379
S5 document is updated. Closed it.

[2020-12-22 12:57] SLinke-intel commented on #5594
Hi Geoffrey,

in the GSG adapting the new entry in /etc/grub.d/40_custom UUSD/PARTUUID lines

  search --no-floppy --fs-uuid --set 9bd58889-add7-410c-bdb7-1fbc2af9b0e1
AND
  multiboot2 /boot/acrn/acrn.bin  root=PARTUUID="e515916d-aac4-4439-aaa0-33231a9f4d83"

is described as
"Update this to use the UUID (--set) and PARTUUID (root= parameter) (...) of the root partition"

Sometimes this leads to us

[2020-12-22 12:58] SLinke-intel commented on #5594
Sorry my for late response to your question...
Have a nice holiday season.

Stephan Linke

[2020-12-23 22:29] gvancuts commented on #5594
No worries at all, and thanks for the clarification!

You too! :-)

[2020-12-24 14:18] ionutnechita opened #5625 "[CFL][industry] Fewer warnings and errors when starting SOS"
Hi ACRN Team,

I started the SOS, and I notice some errors in the ACRN console, but also in dmesg.
Some of them seem quite important, but others are just low-impact warnings.
I will attach the logs to talk about them.

One of the issues:
...
[Thu Dec 24 15:01:25 2020] platform idma64.0: failed to claim resource 0: [mem 0x00000800-0x00000fff]
[Thu Dec 24 15:01:25 2020] intel-lpss 0000:00:15.0: Fail

[2020-12-24 14:33] ionutnechita opened #5626 "[CFL][industry] Host Call Trace once detected"
Hi ACRN Team,

I restarted the SOS a few times, and I saw this.
I tried to reproduce again, but I didn't notice it again.

HV version 2.4-unstable-2020-12-24 12:15:55-703e0e2d DBG (daily tag:acrn-2020w51.5-180000p) industry@cfl-k700-i7
SOS:
Multiboot2 Bootloader: GRUB2 2.04
OpenSUSE Tumbleweed

HV:
commit 703e0e2d52c39da339cd4085caf1ba5596abc32d (HEAD -> master, origin/master, origin/HEAD)
Author:

[2020-12-26 03:54] fuzhongl commented on #5626
@ionutnechita This issue is related with the passthrough device to Pre_launched VM.
Do you use the default hybrid_rt.xml when build acrn.bin?
If not, please share the scenario.xml you used to build acrn.bin.
Thanks!

[2020-12-29 11:22] ionutnechita commented on #5626
Hi @fuzhongl,

I generated the ACRN Hypervisor binary like this:
make all BOARD=cfl-k700-i7 SCENARIO=industry RELEASE=0

ACRN Configuration Summary:
BOARD = cfl-k700-i7      SCENARIO = industry
BUILD type = DEBUG
Hypervisor configuration is based on:
        defconfig file:                 /tmp/acrn-hypervisor/misc/vm_configs/scenarios/industry/cfl-k700-i7/cfl-k700-i7.config;
        Others are se

[2020-12-30 01:17] fuzhongl commented on #5626
@ionutnechita
Please try to build with xml:
`make all BOARD_FILE=misc/vm_configs/xmls/board-xmls/cfl-k700-i7.xml SCENARIO_FILE=misc/vm_configs/xmls/config-xmls/cfl-k700-i7/industry.xml RELEASE=0`

[2021-01-04 16:24] ionutnechita commented on #5626
Hi @fuzhongl,

I observe this issue with your command for build.

[2021-01-04 16:30] ionutnechita commented on #5626
This is my cmdline for starting SOS:
Linux version 5.4.73-PKT-200203T060100Z (root@demo-acrn-opensuse-lab1) (gcc version 10.2.1 20201202 [revision e563687cf9d3d1278f45aaebd03e0f66531076c9] (SUSE Linux)) #1 SMP PREEMPT

Command line: root=/dev/sda3 console=ttyS0 idle=halt rw rootwait console=tty0 consoleblank=0 no_timer_check quiet loglevel=3 i915.nuclear_pageflip=1 hvlog=2M@0xe00000 memmap=0x20000

[2021-01-05 01:25] fuzhongl commented on #5625
@YangLiang3 Could you please help to check this issue?
Thanks!

[2021-01-05 01:27] fuzhongl commented on #5599
@slinke67 Please have a try with: https://projectacrn.github.io/latest/tutorials/using_windows_as_uos.html
Thanks!

[2021-01-05 01:59] fuzhongl commented on #5626
@ionutnechita
This issue can't be reproduced on our side, please boot into native and share `dmesg`  `cat /proc/iomem` log.
Thanks!

[2021-01-06 07:23] ssqre opened #5635 "[Virtio GPIO] flood messages with "virtio gpio irq_evt_notify""
When BE polling mode is enable and virtio-gpio is enabled in launched script, there are flood messages such as "virtio gpio irq_evt_notify”

[2021-01-06 07:23] ssqre commented on #5635
[External_System_ID] ACRN-6897

[2021-01-06 08:15] #5342 closed

[2021-01-06 08:21] #4940 closed

[2021-01-06 14:06] ionutnechita commented on #5626
Hi @fuzhongl,

I try now with NUC board and Industrial scenario, and this issue appear on this platform ( KBL ).
NUC Platform:
Intel(R) Client Systems NUC7i7BNH/NUC7i7BNB, BIOS BNKBL357.86A.0082.2020.0505.1614 05/05/2020

ACRN DM:
DM version is: 2.4-unstable-08bafdff-dirty (daily tag:acrn-2020w51.5-180000p), build by root@2021-01-06 14:27:49

[acrn-dm-version.txt](https://github.com/projectacrn/ac

[2021-01-06 16:32] ionutnechita opened #5637 "[ACRN-DM] Segmentation fault starting VM that does not exist"
Hi ACRN Team,

I tried to start a virtual machine without any configuration or script.
From what I noticed, the acrn-dm tool does not check first if there is any previous configuration or stored on disk.
The acrn-dm process stopped but with an internal program error. ( Segmentation fault (core dumped) )
I think acrn-dm should do a check before starting a virtual machine.

Scenario: All scenario, b

[2021-01-07 00:59] #5021 closed

[2021-01-07 03:15] #5015 closed

[2021-01-07 03:24] #5004 closed

[2021-01-07 03:40] #5013 closed

[2021-01-07 03:41] #5016 closed

[2021-01-07 03:42] #5020 closed

[2021-01-07 03:43] #5022 closed

[2021-01-07 03:43] #5024 closed

[2021-01-07 03:43] #5029 closed

[2021-01-07 03:44] #5036 closed

[2021-01-07 03:44] #5039 closed

[2021-01-07 03:45] #5041 closed

[2021-01-07 03:45] #5043 closed

[2021-01-07 03:46] #5044 closed

[2021-01-07 03:52] #5106 closed

[2021-01-07 07:44] fuzhongl commented on #5626
@ionutnechita Could you please try acrn v2.3?
Thanks!

[2021-01-07 10:42] ionutnechita commented on #5626
Hi @fuzhongl,

Can you tell me why you closed this ticket?

[2021-01-07 10:43] ionutnechita commented on #5626
I will try to build on 2.3 today.

[2021-01-07 13:18] ionutnechita commented on #5626
This issue/problem is present in 2.3.
Call Trace and SOS can not booting.
After 32 SOS reboots.

[2021-01-07 14:31] gvancuts commented on #5626
Hi @ionutnechita , I think I had missed an important detail in your bug description and that it's not 100% reproductible. You mentionned this happened after 32 Service VM reboots in your last comment. Is this the typical rate of occurrence?

@fuzhongl , you mentionned above you are not able to reproduce this. Have you tried with multiple reboots as well? (Or did you miss this subtlety just like I

[2021-01-08 01:53] lifeix opened #5638 "Windows64 can't boot without MCE"
The Windows64 can't boot if the ACRN emulate a vCPU which doesn't support MCE

[2021-01-08 01:54] lifeix commented on #5638
[External_System_ID]ACRN-6914

[2021-01-08 05:39] fuzhongl commented on #5626
@ionutnechita sorry for close it ticket by mistake.
CFL is very limited on our side, What's the the typical rate of occurrence for KBL NUC?
@gvancuts Yes, I also missed it like you did: not aware this stability related issue.
Will try to reproduce on our side.

[2021-01-08 12:52] ionutnechita commented on #5626
Hi @fuzhongl,

I try now with ACRN HV 2.3.

On KBL NUC, with multiple restart, it happens to be quite often.
In the range of 100, after 6-7 reboot is stuck or after 32-33 is stuck.

[2021-01-10 08:12] fuzhongl commented on #4824
Fixed with following PR: #4629 missing in v1.6.1
commit 597f7658fc4b3c9611b07c373286741552a5a199

[2021-01-10 08:12] #4824 closed

[2021-01-11 08:16] fyin1 opened #5640 "Passthru device irq mapping info could be lost in hash table"
**Describe the bug**
"nobody cared irq" happens on SOS on some platforms.

**Platform**
A customer reference board.

**Codebase**
The code base is on ACRN 2.0. But it could happens on mainline branch as well.

**Scenario**
Industry

**To Reproduce**
Just boot to SOS could see the issue.

**Expected behavior**
There is no "nobody cared irq" issue

**Additional context**
Attach the following logs if

[2021-01-11 08:17] fyin1 commented on #5640
[External_System_ID]ACRN-6922

[2021-01-12 02:06] fuzhongl commented on #4812
Fixed in v2.3

[2021-01-12 02:06] #4812 closed

[2021-01-14 02:40] yuchuyang commented on #5609
[External_System_ID]ACRN-6926

[2021-01-14 08:12] NanlinXie opened #5644 "Refinement of ACRN offline supporting tools"
Configuration Tool Arch need to be optimized.

[2021-01-14 08:13] NanlinXie commented on #5644
[External_System_ID]ACRN-6699

[2021-01-15 02:08] fuzhongl commented on #5626
@ionutnechita This issue is reproduced on our side.
Please add `nokalsr` in sos kernel command line for workaround.
We will narrow down and fix it later.
Thanks!

[2021-01-15 16:12] gvancuts commented on #5282
The patch was merged, can this issue be closed?

[2021-01-15 16:16] gvancuts opened #5646 "Runtime dependencies for the ACRN configuration tool not documented"
You need to have `flask` and `flask_bootstrap` installed on your development system in order to run the ACRN configuration tool. These dependencies are not documented in our online documents.

You will get the following error if you do not have `flask_bootstrap` installed:
[code]

You will get the following error if you do not have `flask_bootstrap` installed:
[code]

On Ubuntu, you can install th

[2021-01-15 16:25] gvancuts commented on #5646
My bad, it is in fact documented here: https://projectacrn.github.io/latest/tutorials/acrn_configuration_tool.html?highlight=requirements#prerequisites ... closing this :-)

[2021-01-15 16:25] #5646 closed

[2021-01-18 03:35] NanlinXie opened #5647 "[doc] Fix typo in document"
https://projectacrn.github.io/latest/developer-guides/hld/hv-dev-passthrough.html

"Remapping of (virtual) PIC interrupts are set up in a similar sequence" should be
"Remapping of (virtual) MSI interrupts are set up in a similar sequence"

[2021-01-18 04:25] szhen11 commented on #5282
tested and closed it.

[2021-01-18 04:25] #5282 closed

[2021-01-19 04:26] yonghuah opened #5649 "Virtualization QOS: RDT cQOS across VMs with CAT - pseudo-locking- phase3"
PTCM phase3:
 * Support L2 pSRAM for single post launched RTVM

[2021-01-19 04:28] yonghuah commented on #5649
[External_System_ID]ACRN-6865

[2021-01-19 06:54] fuzhongl commented on #5626
[External_System_ID]ACRN-6933

[2021-01-19 21:49] gvancuts commented on #5625
Hi @ionutnechita , can you be more explicit about the errors you want to raise in this bug report?

[2021-01-20 19:12] dbkinder opened #5653 "top level ''make clean'' reports errors"
On the main branch, at the top level, ``make clean`` reports some errors:
[code]

[2021-01-21 09:31] gvancuts commented on #5653
You're missing the `libsystemd-dev` dependency on your system. It should have been installed as per https://projectacrn.github.io/latest/getting-started/building-from-source.html#install-build-tools-and-dependencies, or do you use a different environment?

`libtelemetry` really is a Clear Linux thing if I'm not mistaking. We could/should remove this actually...

[2021-01-21 10:27] gvancuts commented on #5653
Just submitted a PR (see #5655) if we care to remove this (which I think we should).

[2021-01-23 15:06] ionutnechita commented on #5625
Hi @gvancuts,

Yes.
For HV this errors/warnings:
1. [37967034us][cpu=0][vm0:vcpu0][sev=2][seq=66]:vpci_write_cfg 0:1c.1 not found! off: 0xdb, val: 0xbf
[37977886us][cpu=0][vm0:vcpu0][sev=2][seq=67]:vpci_write_cfg 0:1c.3 not found! off: 0xdb, val: 0xbf

For kernel this errors/warnings:
1. [Thu Dec 24 15:01:25 2020] platform idma64.0: failed to claim resource 0: [mem 0x00000800-0x00000fff]
[Thu Dec

[2021-01-23 15:22] ionutnechita commented on #5653
Hi @gvancuts,

This "No package 'libtelemetry' found" is optionally.
Without libtelemetry, compiling is working.
It would be better to remain optional, and not to remove it altogether.

In OpenSUSE Tumbleweed, library for telemetry exist.
For install: zypper in -y telemetrics-client telemetrics-client-devel

Thanks.

[2021-01-23 16:33] ionutnechita commented on #5511
Hi @gvancuts,

I started working on the documentation to be able to build the whole environment in OpenSUSE Tumbleweed.

At the moment I have the building part in the docker.
https://github.com/ionutnechita/acrn-dockerfiles/blob/master-ionutnechita/Dockerfile.tumbleweed

If you have time to create a page in the official documentation for OpenSUSE Tumbleweed with ACRN build.

Thanks.

[2021-01-25 03:28] fuzhongl commented on #5653
[External_System_ID]ACRN-6939

[2021-01-25 08:19] gvancuts commented on #5653
Yes, making this optional is something we did back in the days specifically to avoid compilation errors on systems that did not ship this (e.g. Ubuntu, Fedora, etc.).

OK, we can certainly keep it but I'm wondering if anyone uses this, do you, or do you know of people using it?

This is good to know. I wasn't aware of the fact it was packaged up for OpenSUSE Tumbleweed. Despite this, I'm a little

[2021-01-25 20:54] gvancuts commented on #5637
@NanlinXie , can we assign someone to this?

A quick run in gdb tells me it's happening at this line: https://github.com/projectacrn/acrn-hypervisor/blob/master/devicemodel/hw/pci/core.c#L1448 (`bus0_memlimit = bi->memlimit32;`)

[2021-01-26 03:54] NanlinXie commented on #5637
@shuox , could you help to check this issue? Thanks!

[2021-01-26 09:52] gvancuts commented on #4870
Closing this as the PR was merged.

[2021-01-26 09:52] #4870 closed

[2021-01-26 09:55] gvancuts commented on #5581
Part of this is being addressed in #5657

[2021-01-26 10:41] gvancuts opened #5660 "Improve life_mngr Makefile"
`life_mngr` Makefile should be improved to reflect better what needs to be installed and how. The entire picture is not clear to me so what I would like to review and agree on in this feature request is what should be built, how and what should be installed. Here are a few initial thoughts (with some assumptions) and some questions:
* Copying the `life_mngr.service` file to the build directory sho

[2021-01-27 03:15] ylian16 opened #5661 "hypervisor: multiboot modularization"
Multiboot API cleanup for modularization

[External_System_ID] ACRN-6846

[2021-01-27 07:56] wenlingz commented on #5661
[External_System_ID] ACRN-6846

[2021-01-27 08:18] szhen11 opened #5665 "create dp4 scenario"
add DP4 scenario with 1 pre-launched Zephyr and 1 pre-launched RTVM for ehl-crb-b board.

[2021-01-27 08:21] gvancuts commented on #5665
What does DP4 stand for?

[2021-01-27 08:23] szhen11 commented on #5665
@gvancuts it is Design Pattern 4

[2021-01-27 08:27] szhen11 commented on #5665
[External_System_ID] ACRN-6942

[2021-01-28 10:57] gvancuts opened #5669 "Top level "make clean""
A top-level `make clean` (or `make clean` in the `doc/` folder) will produce the following output:
[code]

The `# Keeping these temporarily, but no longer strictly needed.` line is intended to be a comment internal to the `Makefile` and while it's completely harmless it could leave the user a bit puzzled. It is preferable, IMHO, to make this silent.

[2021-01-28 10:58] gvancuts commented on #5653
Patch was merged, closing this.

[2021-01-28 10:58] #5653 closed

[2021-01-28 13:18] NanlinXie commented on #5581
[External_System_ID] ACRN-4759

[2021-01-28 18:42] ionutnechita opened #5671 "[ACRN] compile not working with master branch"
Hi ACRN Team,

I try to compile new ACRN, but observe one issue.

Error:
mapi.o /workspace/acrn-hypervisor/build/devicemodel/core/mptbl.o /workspace/acrn-hypervisor/build/devicemodel/core/main.o /workspace/acrn-hypervisor/build/devicemodel/core/hugetlb.o /workspace/acrn-hypervisor/build/devicemodel/core/vrpmb.o /workspace/acrn-hypervisor/build/devicemodel/core/timer.o /workspace/acrn-hypervisor/bu

[2021-01-29 01:01] yuchuyang opened #5672 "config-tool: Add schema for scenario validation"
Introduce the schemas with file extension "xsd" which is capable to validate the xml formatting against schema.
The xsd file provides the desired input data format, data type and description for elements.

[2021-01-29 01:07] yuchuyang commented on #5672
[External_System_ID]ACRN-6945

[2021-01-29 08:06] gvancuts commented on #5671
I can reproduce this, this is an issue triggered by gcc 10.x's new default to `-fno-common`.

There are 2 ways we can fix this:
[code]

Or

[code]

I don't understand the implications of either of these to determine which is preferable... but if someone can help me answer that question, I'm happy to raise a PR.

In the meantime, can you quickly confirm that these solve the issue on your side too?

[2021-01-29 08:50] ionutnechita commented on #5671
Hi @gvancuts,

First and second variant working for me.

Thanks for reproduce this issue.

[2021-01-29 09:10] gvancuts commented on #5671
We have many `__attribute__((packed))` instances in the code already. The few `__packed` ones left are "fixed" by a `#define __packed __attribute__((packed))` line in the code.

The only ones which do not seem to be touched are the ones in `devicemodel/include/rtct.h`... and I don't know why they are not causing any issue. But perhaps we should also change those to `__attribute__((packed))`?

[2021-01-29 14:53] gvancuts commented on #4948
Still facing this issue with the latest code:

[code]
[code]

[2021-01-29 17:37] vijaydhanraj commented on #4948
Adding @gvancuts old analysis here.
•	After a clean boot: starting a Kata Container (busybox) takes even more time than I reported earlier, about 45 sec. About 15 secs are spent by the acrn-dm to start the VM, and it takes close to 30 secs before I see the acrn-dm process started.
•	A second start of the same Kata Container (busybox, previously shut down using ‘exit’ from the prompt) takes about 1

[2021-01-30 11:59] ionutnechita opened #5681 "[GuestOS] FreeBSD is it supported to be booted with acrn-dm?"
Hi ACRN Team,

I would plan in the future to try to start a virtual machine with FreeBSD.

FreeBSD is a free and open-source Unix-like operating system descended from the Berkeley Software Distribution (BSD), which was based on Research Unix. The first version of FreeBSD was released in 1993. In 2005, FreeBSD was the most popular open-source BSD operating system, accounting for more than three-qua

[2021-01-30 19:16] dbkinder commented on #5385
Fixed

[2021-01-30 19:16] #5385 closed

[2021-01-30 19:17] dbkinder commented on #5113
Fixed.

[2021-01-30 19:17] #5113 closed

[2021-01-30 19:17] dbkinder commented on #5647
fixed.

[2021-01-30 19:17] #5647 closed

[2021-02-01 01:00] fuzhongl commented on #5671
[External_System_ID] ACRN-6947

[2021-02-01 18:49] gvancuts commented on #4948
I do actually. It takes more than a minute the first time I run Kata and subsequent launches take much less time. Is this a known issue (or behaviour)?

[code]

[2021-02-01 18:52] gvancuts commented on #5671
Patch was merged, closing.

[2021-02-01 18:52] #5671 closed

[2021-02-01 18:53] gvancuts commented on #5669
Patch was merged, closing.

[2021-02-01 18:53] #5669 closed

[2021-02-01 18:55] gvancuts commented on #5581
A couple of patches have been merged that take care of this. Closing.

[2021-02-01 18:55] #5581 closed

[2021-02-01 19:14] vijaydhanraj commented on #4948
Thanks, @gvancuts for checking.
A quick glance at kata issues brought this up,
1. https://github.com/kata-containers/runtime/issues/1025 (this is little old)
2. https://github.com/kata-containers/runtime/issues/2692. But this is with virtio-fs.

It might be a good idea to raise another issue with kata team with the recent data since we do have some indicators pointing to Kata when using either hyp

[2021-02-01 20:38] ionutnechita commented on #5671
I will try tomorrow to test the master branch again.

Thanks.

[2021-02-02 07:39] SIMING29 opened #5688 "Can I use nuc7i7dnb config files for NUC7i5DNB boad?"
There are no board and scenario config files for NUC7i5DNB in source code. So, can I use the nuc7i7dnb config files for my board? Or should I modify the config files according to the difference of processors?

Thanks.

[2021-02-02 07:46] szhen11 opened #5689 "[EHL][SBL] copy GPA error when booting zephyr as pre-launched VM"
HW/Board
EHL SBL

Steps
1. build zephyr 2.5 from master refer to: https://docs.zephyrproject.org/latest/getting_started/index.html
https://docs.zephyrproject.org/latest/boards/x86/ehl_crb/doc/index.html
west build -p auto -b acrn samples/hello_world
2. build acrn with hybrid scenario from master + patch
http://acrn-dms-02.sh.intel.com/report/resource/zephyr/victor/0001-acrn-config-update-zephyr-en

[2021-02-02 07:48] szhen11 commented on #5689
[External_System_ID] ACRN-6953

[2021-02-02 07:48] gvancuts commented on #5688
There is a fair chance it will work as-is. Take a look though at things like number of cores and memory size. If you are developing serious on this, I would recommend that you create a specific config for your board at some point, but that may not be required to get this up and running for the first time.

[2021-02-02 08:12] SIMING29 commented on #5688
ok,I will try that first, thanks.

[2021-02-02 08:13] #5688 closed

[2021-02-02 09:12] SIMING29 commented on #5688
Hi @gvancuts
If I want to creat my board config file, can I only get it by manually modifying the file?  Is there a tool to make board config file for specific board?

[2021-02-02 15:26] gvancuts commented on #5688
There is a tool for that, its use is described here: https://projectacrn.github.io/latest/tutorials/acrn_configuration_tool.html

Please note that it is undergoing pretty invasive surgery at the moment (for the better). What is in our documentation reflects what the latest release includes (i.e. v2.3). We will update the docs once the new version has landed (various patches already have).

[2021-02-02 15:46] gvancuts commented on #5688
If you don't need to modify the scenario (i.e. number and type of VMs), you can jump directly to this section that explains how to collect the board info: https://projectacrn.github.io/latest/tutorials/acrn_configuration_tool.html#board-and-vm-configuration-workflow

[2021-02-02 18:08] ionutnechita opened #5690 "[SerialConsole ACRN] Added support in ACRN HV for usbserial/pl2303"
Hi ACRN Team,

Is it possible to use a serial converter to be able to see the ACRN HV console?

[ 1942.614512] usb 1-1: USB disconnect, device number 2
[ 1943.314580] usb 1-2: USB disconnect, device number 3
[ 1943.314588] usb 1-2.1: USB disconnect, device number 5
[ 1946.176054] usb 1-2: new full-speed USB device number 6 using xhci_hcd
[ 1946.325238] usb 1-2: New USB device found, idVendor=067b,

[2021-02-02 19:02] ionutnechita commented on #5048
Hi @fuzhongl,

This issue is reproduced with:
Linux  5.4.90-PKT-200203T060100Z-g42a5e48c3e11 #1 SMP PREEMPT Tue Feb 2 20:08:45 EET 2021 x86_64 x86_64 x86_64 GNU/Linux

dmesg -l err
[    3.514566] iTCO_wdt iTCO_wdt: can't request region for resource [mem 0x00c5fffc-0x00c5ffff]

cat /proc/ioports
0000-0cf7 : PCI Bus 0000:00
  0000-001f : dma1
  0020-0021 : pic1
  0040-0043 : timer0
  0050-0053 : tim

[2021-02-02 22:16] dbkinder opened #5692 "Keep Open: Used when updating config option documentation in .xsd files"
Documentation for ACRN configuration options is now maintained in ``misc/config_tools/schema/*.xsd`` files.  This Jira issue (ACRN-6954) and GitHub issue (5692) are open for reference in GitHub for making edits to the documentation within these files so they're not caught by CI checks as an undocumented code change.

Use ``Tagged-On: #5692`` in PRs that are doc-only changes but also touch one of t

[2021-02-02 22:18] dbkinder commented on #5692
[External_System_ID] ACRN-6954

[2021-02-02 23:59] yuchuyang opened #5693 "config-tools: check vmsix enablement for ehl-crb-b"
Assign extra vbar for vmsix devive for ehl-crb-b only.

Signed-off-by: Yang,Yu-chu

[2021-02-02 23:59] yuchuyang commented on #5693
[External_System_ID] ACRN-6950

[2021-02-03 01:55] shuox opened #5695 "KeyLocker: guest support"
For platform with Key Locker capability, the hypervisor shall expose virtual Key Locker to its guest, to ensure the guest can take use of Key Locker features to protect SW AES keys.
Randomized LOADIWKEY will not be supported in the guest.

[2021-02-03 03:02] shuox commented on #5695
[External_System_ID] ACRN-6243

[2021-02-03 09:49] gvancuts opened #5699 "Unused kernel config (`kernel_config_sos`) in the `acrn-kernel` repo"
The reference kernel configuration for the Service VM OS (`sos`) is stored in the `acrn-kernel` repo. We use `kernel_config_uefi_sos` these days, and have been for quite some time. Previously, that reference config was kept in `kernel_config_sos` but that is obsolete by now and completely unused. We should remove this file.

[2021-02-03 10:32] gvancuts commented on #5690
Hi @ionutnechita , the last time I checked that (well, over a year ago), it was not possible. This is something we had explored as it would really help when people have platforms that do not expose a native serial port. As far as I know though, it is still not possible (and I don't even know if this can easily be added).

[2021-02-03 13:09] hidrol opened #5700 "IVSHMEM with Zephyr not working"
We are trying to use the IVSHMEM Device with following setting:

**Hardware:**
EHL A0 Board

**Software:**
Logical Partition Mode with Yocto

**VM0:**
Zephyr

**VM1:**
RT Linux

The xml scenario file regarding ivshmem looks like this:

[code]

**Zephyr prj.conf file:**

[code]

**Zephyr Kconf in drivers/virtualization:**

[code]

**Zephyr user application c code:**

[code]

When we run this applic

[2021-02-03 13:16] yonghuah commented on #5700
@hidrol  can you list all the PCI devices detected in Zephyr?

thanks.
-Yonghua

[2021-02-03 13:18] hidrol commented on #5700
We are quite new in working zephyr. How do we check for PCI Devices in Zephyr?

[2021-02-03 15:37] gvancuts commented on #5700
Have you tested the `ivshmem` device using Zephyr IVshmem module (from the shell)?

[2021-02-03 16:31] wilky93 commented on #5700
Hi, I am working with hidrol on the same project.

What do you mean exactly? We are not using shell in Zephyr. We boot ACRN, with "vm_console 0" we get into Zephyr VM. There the application is executed immediately. And it gets stucked as described above.

If we run Zephyr in qemu, then the application does not get stucked.

Application and config-files are described above.
We also do not use virt_

[2021-02-03 17:04] ionutnechita commented on #5690
Hi @gvancuts,

I understand, so it would be very complicated to implement this function.
Good thing you tested, now I know an answer.
I think that's enough for me.

Thank you for helping me.

Ticket can be closed.

[2021-02-03 17:06] ionutnechita commented on #5637
Any update here?

[2021-02-03 17:29] ionutnechita commented on #5626
Hi @fuzhongl, @gvancuts

I tested it today, and I notice this issue again. ( using kaslr parameter )

uname -a
Linux demo-acrn-opensuse-labl1 5.4.90-PKT-200203T060100Z-g42a5e48c3e11 #4 SMP PREEMPT Wed Feb 3 13:05:20 EET 2021 x86_64 x86_64 x86_64 GNU/Linux
acrn-dm --version
DM version is: 2.4-unstable-94a980c9-dirty (daily tag:acrn-2021w05.5-180000p), build by root@2021-02-02 20:42:05

cat /proc/cm

[2021-02-03 22:02] hidrol commented on #5700
Also, we use the plain ivshmem version. The ACRN hypervisor version (Ver 2.2) we use does not support ivshmem with interrupt functionality. Could this maybe be the problem?

[2021-02-03 22:29] hidrol commented on #5700
@gvancuts @yonghuah We have 2 IVSHMEM devices defined in the xml file. How does zephyr know which one to chose?

[2021-02-04 01:14] yonghuah commented on #5700
@hidrol Doorbell (interrupt) of ivshmem device is optional, ivshmem device should work without it.

[2021-02-04 08:31] fuzhongl commented on #5048
@ionutnechita
Which scenario are you using?
Some devices are hidden to sos; in case it will reset RTVM by p2sb.
If you really need it, you can refer follow patch:

[code]

Then You will see:
root@acrn-NUC7i7DNHE:/home/acrn# dmesg |grep iTCO
[code]
root@acrn-NUC7i7DNHE:/home/acrn#

[2021-02-04 08:48] hidrol commented on #5700
@yonghuah I just wanted to make sure that there are no incompatibilities between our ACRN and Zephyr Versions, because at the time our ACRN revision launched IVSHMEM wasn't yet implemented in Zehphyr.

[2021-02-04 09:12] ionutnechita commented on #5048
Hi @fuzhongl,

// Which scenario are you using?
Use now, industrialy scenario.

[2021-02-04 09:19] gvancuts commented on #5690
Thanks @ionutnechita , closing this.

[2021-02-04 09:19] #5690 closed

[2021-02-04 10:14] hidrol commented on #5700
With the following code we checked if the device is being found. Turns out Zephyr can not find the ivshmem device.
[code]

[2021-02-04 10:49] gvancuts commented on #5700
That's a good question... I do not know. Could you perhaps try with only one such device in case this is what confuses Zephyr?

Do you see these `ivshmem` devices in the Yocto VM (ID 1)?

[2021-02-04 11:19] gvancuts opened #5702 "Documentation about GVT (Graphics Sharing) is outdated"
Our GVT-{g/d} documentation is largely outdated. There are at least these documents that should be looked at for an update:
- https://projectacrn.github.io/latest/user-guides/kernel-parameters.html#intel-gvt-g-acrngt-parameters
- https://projectacrn.github.io/latest/developer-guides/hld/hld-APL_GVT-g.html

[2021-02-04 11:34] ionutnechita commented on #5048
Hi @fuzhongl,

I tested with this modification:
diff --git a/misc/config_tools/library/board_cfg_lib.py b/misc/config_tools/library/board_cfg_lib.py
index ff2b7e67c..f535084fa 100644
--- a/misc/config_tools/library/board_cfg_lib.py
+++ b/misc/config_tools/library/board_cfg_lib.py
@@ -29,6 +29,7 @@ HEADER_LICENSE = common.open_license() + "\n"
 KNOWN_HIDDEN_PDEVS_BOARD_DB = {
     'apl-mrb':['00:0d

[2021-02-04 12:51] ionutnechita opened #5704 "[OVMF] Boot with Zephyr not working"
Hi ACRN Team,

I create environment with Zephyr, but vm not started.
Flag VM is Init, not Started or Created.

Boot for ./launch_zephyr.sh

cpu1 online=1
cpu2 online=1
cpu3 online=1
SW_LOAD: get ovmf path /usr/share/acrn/bios/OVMF.fd, size 0x200000
vm_create: zephyr_vm1
VHM api version 1.0
vm_setup_memory: size=0x8000000
open hugetlbfs file /run/hugepage/acrn/huge_lv1/zephyr_vm1/D279543825D611E886

[2021-02-04 13:40] ionutnechita commented on #5704
Is possible to view grub console/prompt with acrnctl?

[2021-02-04 17:21] gvancuts commented on #5704
Just noticed this on the mailing list (from @jsun26intel)
* https://lists.projectacrn.org/g/acrn-dev/topic/patch_1_2_dm_declare/80374574?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,0,80374574
* https://lists.projectacrn.org/g/acrn-dev/topic/patch_2_2_dm_remove_adr/80374575?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,0,80374575
You have these error messages on your system, not sure if this is w

[2021-02-04 17:56] ionutnechita commented on #5704
Hi @gvancuts,

I tried to setup from this wiki page:
https://projectacrn.github.io/latest/tutorials/using_zephyr_as_uos.html
But I didn't see anything appear on the console. ( acrnctl start launch_zephyr )

Using the HV ACRN console:
vm console 2
I saw that it remained in EFI Shell.
I have to give commands in the UEFI shell to start the Zephyr application.

FS0:
cd efi
cd boot
SHELL:> grub_x86_64.

[2021-02-04 18:08] ionutnechita opened #5705 "[WindowsGuest] Less memory in the virtual machine than the initialization"
Hi ACRN Team,

I managed to start a virtual machine with Windows 10 on NUC.
But I noticed that there is less memory in Windows than the initialization script.

In script / launch_win.sh memory is:
#for memsize setting
mem_size=8192M

But in Windows is:
(systeminfo | Select-String 'Total Physical Memory:').ToString().Split(':')[1].Trim()
7,095 MB

Is it normal or isn't all the memory allocated to t

[2021-02-04 21:02] gvancuts commented on #5704
It used to work just fine and start Zephyr automatically. Perhaps there is a regression in newer OVMF, I'll try to reproduce this on my side.

In the meantime, I noticed that you use `grub_x86_64.efi` (in the `zephyr.img`, under `efi/boot`), can you rename that file into `bootx64.efi` (as in the tutorial). One possibility for what you're observing is that the `OVMF.fd` firmware is automatically pi

[2021-02-04 21:06] gvancuts commented on #5704
I guess you're asking about the Grub from within the VM, aren't you?

I must admit I never use `acrnctl` myself so I don't know... :-) Which actually makes me wonder, do you use `acrnctl` extensively?

[2021-02-04 21:35] ionutnechita commented on #5704
Yes, I use the acrnctl command more.

For the name file issue, I'll try again tomorrow.
grub_x86_64.efi -> grubx64.efi to rename in zephyr.img

If you have time, try to reproduce this problem too.

Thanks.

[2021-02-04 21:59] gvancuts commented on #5511
Thanks @ionutnechita ! I took a quick look at your `Dockerfile`, it looks good... I will take some of the latest patches you made and merge them in my own ;-) (note: you don't need `kconfiglib` with the latest ACRN codebase. You may want to keep it if you want to compile existing releases but otherwise you can remove this)

We could add a section in this doc [here](https://projectacrn.github.io/la

[2021-02-04 22:48] gvancuts commented on #5704
I'll try this tomorrow (I need to set-up another system from scratch for that... too late for that today ;-)

[2021-02-05 07:05] szhen11 opened #5710 "[EHL][hybrid_rt_fusa] Fail to generate hybrid_rt_fusa scenario"
Step:
run command to generate hybrid_rt_fusa scenario:

 make clean && make hypervisor BOARD=ehl-crb-b SCENARIO=hybrid_rt_fusa
And getting err:

/home/rui/cwpqa-acrn-robot/acrn-hypervisor/build/hypervisor/include/config.h generated
Warning: ttyS are fully used. ttyS0 is used for hv_console, ttyS1 is used for vuart1!
Board configurations for ehl-crb-b is generated successfully.
Error: Scenario xml

[2021-02-05 07:06] szhen11 commented on #5710
[External_System_ID] ACRN-6960

[2021-02-05 09:11] Ragnarliu opened #5712 "[CFL][EHL][Hybrid-rt][WAAG]Post Launch WAAG with USB_Mediator-USB3.0 flash disk/SSD with USB3.0 port .waag cannot access USB mass storage"
Steps

1:insert USB SSD  in standard A port 

2:boot uos by sharing the USB SSD/3.0 flash disk in cmd line

 -s n,xhci,1-1:1-2:1-3:2-1:2-2:2-3 \

3:uos can access SSD.uos can access SSD 

Expected result

3:uos can access SSD.uos can access SSD 

Actual result

3. if plus SSD ,will make mouse, keyborad & other usb devices offline. can not access all usb devices.

[2021-02-05 09:16] Ragnarliu commented on #5712
[External_System_ID] ACRN-6889

[2021-02-05 11:00] ionutnechita opened #5714 "[WindowsGuest] Image disappears after windows user account login"
Hi ACRN Team,

I rebuild acrn.bin with the last commit and notice problems when starting windows.
After the user logs in, the interface disappears and streaks appear on the screen.

OS SOS:
HW NUC NUC7i7BNH
SCENARIO: Industrial/Industry
OpenSUSE Tumbleweed
5.4.90-PKT-200203T060100Z-g42a5e48c3e11 #4 SMP PREEMPT Wed Feb 3 13:05:20 EET 2021 x86_64 x86_64 x86_64 GNU/Linux
acrn-dm --version
DM version

[2021-02-05 11:38] gvancuts commented on #5714
Hi @ionutnechita , were you testing with the same Service VM kernel on both accounts?

Can you also confirm whether you keep the user-space tools (`acrn-dm` for example) in sync when you use different `acrn.bin` versions?

[2021-02-05 11:40] gvancuts commented on #5714
For the record, these are the commits in between these two you've tested:
[code]

[2021-02-05 12:00] ionutnechita commented on #5714
Hi @gvancuts,

// were you testing with the same Service VM kernel on both accounts?
Yes, using same kernel.

acrn-dm and acrn.bin is latest.
DM version is: 2.4-unstable-1f686aea-dirty (daily tag:acrn-2021w06.3-180000p), build by root@2021-02-05 12:30:19

15-16 commits. is it's pretty complicated to see where the problem would be.

Can someone help us from development in this case.

I will return

[2021-02-05 12:31] ionutnechita commented on #5714
I also notice that trace:
[    6.193659] smpboot: CPU 2 is now offline
[    7.114772] ------------[ cut here ]------------
[    7.114778] WARNING: CPU: 0 PID: 673 at arch/x86/kernel/apic/msi.c:103 msi_set_affinity+0x1ca/0x230
[    7.114779] Modules linked in: openvswitch nsh ebtable_nat ebtable_broute ebtable_filter btusb btrtl btbcm btintel bluetooth ecdh_generic ecc usbhid snd_hda_codec_hdmi snd

[2021-02-05 12:33] hidrol commented on #5700
Fortunately a patch from zephyr could fix the problem.

[2021-02-05 13:06] gvancuts commented on #5704
Hi @ionutnechita , I got around to testing this today. I can reproduce your problem, and it is solved by using `grubx64.efi` instead of `grub_x86_64.efi`. Can you try this on your side and close this ticket if that solves your problem too?

[2021-02-05 13:31] gvancuts commented on #5714
Thanks for the confirmation

It's not too many actually. I'll see if I can "git bisect" this for you. Most of the engineering team will be off over the next for the Chinese New year.

Sounds good!

[2021-02-05 14:12] gvancuts commented on #5700
Very good to hear! Care to indicate which one it is that solved it?

And please close this ticket as soon as you're happy with the resolution and if there is no further action required.

[2021-02-05 14:20] gvancuts commented on #5704
Just a heads-up that this tool may be deprecated in the future. The idea is that ACRN could/would be managed through an API and higher-level libraries and utilities such as `libvirt`. It's still around today and actively used by Kata Containers when using ACRN (and it only uses the `blkrescan` function if I'm not mistaking) but that's also an area where we'd like to change the Kata Containers impl

[2021-02-05 15:17] ionutnechita commented on #5704
Is a very good idea with API and libvirt.
I would be interesting for such an implementation with API in the future on ACRN.

But until then, I will test Windows, Linux, Zephyr, Linux-RT with acrnctl.

Thanks.

[2021-02-05 17:07] ionutnechita commented on #5714
It may be the problem in the kernel and not in the hypervisor.

[   22.693643] [drm:drm_atomic_helper_wait_for_flip_done] *ERROR* [CRTC:51:pipe A] flip_done timed out
I noticed quite a few of these messages when booting.
Windows is automatically turned on by acrnd.

There may be a problem connecting the entire kernel and the drm / i915 modules.
Or bugs in I915.

[2021-02-05 17:44] ionutnechita commented on #5714
I found out what the problem was:
In cmdline inserted splash.
root=/dev/sda2 console=ttyS0 idle=halt rw rootwait console=tty0 consoleblank=0 no_timer_check **splash** quiet loglevel=1 kaslr clocksource=hpet i915.nuclear_pageflip=1 i915.enable_initial_modeset=1 hvlog=2M@0xe00000 memmap=0x200000$0xe00000 maxcpus=4 root=PARTUUID=d444e5a8-ef96-48da-a81b-d8c450b39b35 hugepagesz=1G hugepages=28

And spl

[2021-02-05 22:48] hidrol commented on #5700
Sure, this is the patch: https://github.com/zephyrproject-rtos/zephyr/pull/32020
@gvancuts  @yonghuah thanks for the quick replies and your support.

[2021-02-05 22:48] #5700 closed

[2021-02-07 02:01] chejianj opened #5717 "windows ivshmem driver does not work with hv land ivshmem"
https://fedorapeople.org/groups/virt/virtio-win/direct-downloads/upstream-virtio/virtio-win10-prewhql-0.1-161.zip

Install above driver in WaaG.

It is working with dm land ivshmem, but not working with hv land ivshmem

[2021-02-07 02:11] chejianj commented on #5717
[External_System_ID] ACRN-6873

[2021-02-07 07:11] yonghuah commented on #5700
@hidrol ,

Copy my comment from below:
https://github.com/zephyrproject-rtos/zephyr/pull/32020

ACRN emulates MMIO/Register BAR for ivshmem device even for ivshmem-plain mode, but recent we catch a mismatch that ACRN set MMIO BAR size to 4096Bytes, but per the IVSHMEM device spec, this MMIO BAR size should be 256bytes, fixing of this issue is on the way.

With above mismatch bar size, Some guests

[2021-02-07 08:23] jsun26intel opened #5719 "acrn-dm pop some warning messages while launch vm"
**Describe the bug**
When launch post-launched VM by acrn-dm, it always pop up warning message like below:

 /tmp/dm.X6a7zsH     24:     Device (PCI0)
         Warning  3073 -        Multiple types ^  (Device object requires either a _HID or _ADR, but not both)
 /tmp/dm.X6a7zsH    799:     Processor (CPU0, 0x00, 0x00000000, 0x00) {}
         Warning  3168 -                          ^ Legacy Proces

[2021-02-07 08:24] jsun26intel commented on #5719
[External_System_ID] ACRN-6959

[2021-02-08 02:12] jsun26intel commented on #5626
@ionutnechita can you still see this issue with nokaslr parameter?

[2021-02-08 05:17] szhen11 opened #5723 "[config_tools] "Create a new scenario" from the "Scenario Setting" menu Fail"
Environment

repo: https://github.com/projectacrn/acrn-hypervisor.git
branch: release_2.4
config-tool wiki: https://projectacrn.github.io/latest/tutorials/acrn_configuration_tool.html#instructions
step 4: Load or create the scenario setting
host: ubuntu 18.04

Steps

git clone https://github.com/projectacrn/acrn-hypervisor.git
cd acrn-hypervisor/misc/acrn-config/config_app;python3 app.py
Open Conf

[2021-02-08 05:17] szhen11 commented on #5723
during "generate launch script" can also get this error, but can get new launch script.

[2021-02-08 05:18] szhen11 commented on #5723
[External_System_ID] ACRN-6966

[2021-02-08 09:30] ionutnechita commented on #5626
Hi @gvancuts, @jsun26intel

I tested now with nokaslr and not observe this behaviour.
Thanks for this parameter,

In this moment my issue is resolved.

[2021-02-08 11:31] gvancuts commented on #5626
Thanks for the confirmation @ionutnechita , closing this ticket.

[2021-02-08 11:31] #5626 closed

[2021-02-08 11:42] gvancuts commented on #5714
Nice catch @ionutnechita ! Closing this issue, feel free to re-open if needed.

[2021-02-08 11:42] #5714 closed

[2021-02-08 11:45] gvancuts commented on #5714
Actually, let me ask: is there some default that needs to be fixed in our codebase for this? Or is it something you had inserted yourself?

I only found a single occurence of the `splash` keyword in our code, and it's in one of our tutorial. So I think  the code base should be OK but looking for a confirmation here. Thanks!

[2021-02-08 11:48] gvancuts commented on #5704
I agree, this feels like the right way to go to me too ;-)

Yes, I just wanted to make sure you were not building up a huge dependency on `acrnctl` on your side and that we would be pulling the rug from under your feet ;-)

[2021-02-08 15:41] ionutnechita commented on #5714
I just add it just to see the splash boot on SOS. Just for testing only.
I think it's better not to put it this parameter, so as not to encounter this problem on windows.

I don't know what the solution may be here.

[2021-02-08 18:36] ionutnechita opened #5726 "vhm: failed to set memory region for vm[1]!"
Hi ACRN Team,

I noticed these errors when starting the first VM.
The first VM for me is Windows 10.

ACRN 2.4
acrn-dm --version
DM version is: 2.4-unstable-1f686aea-dirty (daily tag:acrn-2021w06.3-180000p), build by root@2021-02-08 10:36:33
uname -a
Linux 5.4.90-PKT-200203T060100Z-g42a5e48c3e11-dirty #5 SMP PREEMPT Fri Feb 5 16:24:41 EET 2021 x86_64 x86_64 x86_64 GNU/Linux

[    1.192148] vhm: in

[2021-02-08 19:15] dbkinder commented on #5564
@gvancuts May we assign this to you?

[2021-02-08 19:40] dbkinder commented on #5408
done as Geoffroy suggested.

[2021-02-08 19:40] #5408 closed

[2021-02-08 19:55] dbkinder commented on #5406
@gvancuts Is the documentation here sufficient?  https://projectacrn.github.io/latest/user-guides/acrn-dm-parameters.html#device-model-parameters

[2021-02-08 23:21] gvancuts commented on #5406
Not quite, what I would like to see is an exhaustive list of all possible values for `emul` and their options. Things that should go in such list would be: `virtio-blk`, `virtio-net`, `virtio-console`, `virtio-rnd`, `virtio-hyper_dmabuf`, `virtio-rpmb`, `passthru`, `xhci`, `wdt-i6300esb`,  `pci-gvt` and `ivshmem`. I may be missing some in there ;-)

[2021-02-09 01:15] #5379 closed

[2021-02-09 01:16] #5378 closed

[2021-02-09 02:46] psun3x opened #5731 "vhm: Fix refcount_t wrong usage"
**Describe the bug**
A clear and concise description of what the bug is.

**Platform**
Describe the platform information,

**Codebase**
Describe which codebase is used.

**Scenario**
Describe the scenario: Hybrid, Industry or logical_partition

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear an

[2021-02-09 02:46] psun3x commented on #5731
[External_System_ID] ACRN-6940

[2021-02-09 04:39] peterfang opened #5732 "OVMF release v2.4"
OVMF release v2.4

- Ensure successful USB enumeration
- Enable UsbMassStorageDxe

[2021-02-09 04:53] peterfang commented on #5732
[External_System_ID] ACRN-6971

[2021-02-09 07:04] NanlinXie commented on #5699
[External_System_ID] ACRN-6973

[2021-02-09 07:31] NanlinXie opened #5735 "config: add AUTOFS/AUTOFS4 module to kernel config"
config: add AUTOFS/AUTOFS4 module to kernel config

[2021-02-09 07:32] NanlinXie commented on #5735
[External_System_ID] ACRN-6974

[2021-02-09 08:06] gvancuts commented on #5735
For the record, this was originally tracked in projectacrn/acrn-kernel#324

[2021-02-09 08:38] gvancuts commented on #5564
OK (just did it)

[2021-02-09 08:44] peterfang opened #5736 "Allow only one active SOS life_mngr socket"
At most one VM is allowed to use "--pm_notify_channel uart" at a time, since only one socket connection to SOS life_mngr is allowed.

Monitor the listening socket in SOS life_mngr and close any additional connections after a socket connection is established. Identify a closed socket connection to SOS life_mngr as a failure in dm and fail gracefully.

[2021-02-09 08:45] peterfang commented on #5736
[External_System_ID] ACRN-6824

[2021-02-10 14:47] ionutnechita opened #5740 "[WindowsGuest] unknown device "fbuf" in acrn-dm"
Hi ACRN Team,

acrn-dm -A -m $mem_size -s 0:0,hostbridge -s 1:0,lpc -l com1,stdio \
  -s 2,passthru,0/2/0,gpu \
  -s 3,virtio-blk,/usr/share/acrn/conf/win.img \
  -s 4,virtio-net,tap0 \
  -s 5,xhci,1-1,1-2 \
  -s 8,fbuf,tcp=0.0.0.0:5900,w=800,h=600 \
  --ovmf /usr/share/acrn/bios/OVMF.fd \
  --windows \
  $vm_name
}

pci slot 8:0: unknown device "fbuf"

acrn-dm --version
DM version is: 2.4-unstabl

[2021-02-10 15:11] gvancuts commented on #5740
Hmmm... excellent question.... I don't see any occurence of `fbuf` in our code... and it makes me wonder if we ever really used this. I don't see any implementation of that parameter in our `devicemodel`.

@anthonyzxu @ywan170 can you shed some light on this?

[2021-02-10 18:01] #4138 closed

[2021-02-10 18:03] dbkinder commented on #5164
Support questions, not a documentation change request.

[2021-02-10 18:03] #5164 closed

[2021-02-10 18:05] dbkinder commented on #5193
open_vswitch document was removed and will not be updated.

[2021-02-10 18:05] #5193 closed

[2021-02-10 18:06] dbkinder commented on #5194
document was removed and will not be updated.

[2021-02-10 18:06] #5194 closed

[2021-02-10 18:10] dbkinder commented on #5292
These options are now documented (https://projectacrn.github.io/latest/reference/config-options.html#hv-features-ivshmem)

[2021-02-10 18:10] #5292 closed

[2021-02-10 18:12] dbkinder commented on #5327
@fuzhongl @NanlinXie Will this be updated for v2.4?

[2021-02-10 18:16] dbkinder commented on #5406
@NanlinXie Who in the development team can provide this information so we can update the documentation?

[2021-02-10 18:33] dbkinder opened #5741 "doc: Supported HW doc is obsolete and misleading"
The supported HW document (https://projectacrn.github.io/latest/reference/hardware.html) describes platforms as "verified".  We know that older hardware platforms, such as Apollo Lake, cannot fully support newer versions of ACRN, so the hardware list is misleading.  Platforms were verified for a specific version of ACRN, but are longer verified as new versions of ACRN are released.

We at least ne

[2021-02-10 18:37] dbkinder commented on #5265
@NanlinXie @fuzhongl @gvancuts Where can we get material to update this FAQ?  Alternatively, we should delete it (or just empty out what's there) since it's not very useful or even wrong (e.g, no more ``make menuconfig``).

[2021-02-10 18:41] dbkinder commented on #5741
@junjiemao1 can we use the board.xml information to automatically figure out what ACRN features a board can or cannot support as part of the board/scenario validation?

[2021-02-10 19:04] dbkinder opened #5742 "doc: Update ACRN configuration"
The underlying methods for configuring ACRN have changed in the 2.4 release (for example, no more ``menuconfig`` of Kconfig options).  How to do ACRN configuration needs an update (https://projectacrn.github.io/latest/tutorials/acrn_configuration_tool.html) as well as tracking down now obsolete discussions of using ``menuconfig`` (as in https://projectacrn.github.io/latest/getting-started/building

[2021-02-11 08:59] gvancuts opened #5744 "Failed to load DMC firmware i915/kbl_dmc_ver1_04.bin"
From @ionutnechita (see https://github.com/projectacrn/acrn-kernel/issues/330)

Hi ACRN Team,

I noticed this problem with the i915 module.
I think this module should be put to compile the kernel. So that the error does not appear from him.

...
[Wed Feb 3 18:21:49 2021] i915 0000:00:02.0: Failed to load DMC firmware i915/kbl_dmc_ver1_04.bin. Disabling runtime power management.
[Wed Feb 3 18:21:49

[2021-02-11 09:18] gvancuts commented on #5744
[External_System_ID] ACRN-6976

[2021-02-11 10:34] gvancuts commented on #5265
I would remove this section entirely for now. Half of it is plain outdated and the other half is of limited value in my opinion, the most relevant entry in there in for me is the explanation as to why many things are static in ACRN. So if we want to keep the FAQ, let's use that entry and say a little more than that. It's not just memory size, but also the fact many things are hard-coded such as nu

[2021-02-12 09:20] ionutnechita opened #5746 "[WindowsGuest] After a few stops and starts of the virtual machine, nothing appears on the display"
Hi ACRN Team,

I tried to make a stop and start scenario for windows, and it seems that after a while it no longer works.

I observe FULL RESET flag, but SOS is clean in this case, without conflict with other VM.

# acrnctl start win_vm1
cat: /usr/share/acrn/conf/add/win_vm1.args: No such file or directory
cpu1 online=0
cpu2 online=0
cpu3 online=0
ioctl(TUNSETIFF): Device or resource busy
ovs-vsct

[2021-02-16 11:24] gvancuts commented on #5327
For what it's worth, I think we should. I'm getting a feeling that unless we force this once for all, it will never happen.

I'm using ACPICA version 20210105 lately and have not run into any problem yet.

I'd like to propose that we use that, update all documents and **if** we cannot verify them all, then treat potential regressions in some of them as bugs. How does that sound?

[2021-02-17 16:11] gvancuts opened #5749 "Make `make install` use the same parameters used during build"
Our build system takes a few parameters, such as `BOARD`, `SCENARIO` and `RELEASE`. So you can, as an example, build a release version for an UP2 board by running: `make BOARD=apl-up2 SCENARIO=industry RELEASE=1`

The next natural step, if you've been building this on your target, is to run `sudo make install`. **But**
1. The first problem is that you need to repeat the exact same parameters that

[2021-02-17 16:11] gvancuts commented on #5749
@NanlinXie @junjiemao1 , who can be assigned to this?

[2021-02-18 02:07] ywan170 commented on #5740
The fbuf is only used in very early phase of Windows enabling. And it hasn't merged to acrn-dm as we have supported the GOP for gvt-d and gvt-g. @NanlinXie We need to update the document..

[2021-02-19 18:24] gvancuts opened #5752 "Fail to load firmware for the Apollo Lake (APL) integrated graphics card"
`dmesg` shows when booting on Apollo Lake (APL) processors that a couple of firmware fail to load. This leads to a long boot time (over a minute).

[code]
And also
[code]

[2021-02-22 06:55] junjiemao1 commented on #5741
@dbkinder We are about to refine the structure of board.xml in the v2.5 release to make the XML file more informative and machine-friendly. We also plan to introduce some examples how unavailable features due to hardware limitations can be recorded as XSD assertions and reported in the board configuration phase. More thorough checks will be introduced in the release after the next, after we verifi

[2021-02-22 06:56] fuzhongl commented on #5705
narrow down to following patch:

[code]

[2021-02-22 07:54] fuzhongl commented on #5726
@ionutnechita There is WaaG stability issue  for mainline.
Please try v2.3 branch。
Thanks！

[2021-02-23 12:46] gvancuts commented on #5702
@NanlinXie , I have updated the kernel parameters doc.

Can you assign someone to look at https://projectacrn.github.io/latest/developer-guides/hld/hld-APL_GVT-g.html? I have also heard that we use something called `idv` nowadays. We should add details about this too.

[2021-02-23 12:47] gvancuts commented on #5699
Patch was merged, closing.

[2021-02-23 12:47] #5699 closed

[2021-02-23 12:51] gvancuts commented on #5236
We have made some progress on this ;-) (see, amongst others, #5759 #5703)

This item is still open though:

[2021-02-23 13:08] gvancuts commented on #5445
Patch was merged, closing.

[2021-02-23 13:08] #5445 closed

[2021-02-23 13:36] gvancuts commented on #4161
This is still an issue. The `acrnprobe` service does not start correctly.

It's not only the `Requires=usercrash_s` line that's causing the problem now though. The `acrnprobe` binary does not start anymore. The patch that removed the code for `libtelemetry` (https://github.com/projectacrn/acrn-hypervisor/commit/baea9ecb4477156585e277d6c91e934dcda44424) was incomplete and more is needed to make it

[2021-02-23 17:26] ionutnechita commented on #5726
Hi @fuzhongl,

I tested with ACRN 2.3 and ACRN Kernel 5.4.90.
And I didn't see this problem with vhm when I started Windows.
Thanks for information.

Will it be repaired in 2.5?

[2021-02-23 19:02] fidencio opened #5761 "[RFE] Kata Containers CI doesn't support ACRN"
Kata Containers has ACRN as one of its supported VMMs, even providing a configuration file that could be used by folks using ACRN.

However, this not tested as part of Kata Containers CI (please, see: https://github.com/kata-containers/tests/issues/3269), and would be really really great if we (as Kata Containers) could have some help to setting up the CI on Kata Containers side, avoiding then pos

[2021-02-23 20:09] yuchuyang commented on #5672
[External_System_ID] ACRN-6981

[2021-02-23 21:05] gvancuts commented on #5761
I think it would be great indeed! I am not familiar with the Kata CI system, so not sure how to help but if you can describe how you test other VMMs today, hopefully I can guide you with ACRN?

@vijaydhanraj , FYI

[2021-02-23 21:23] fidencio commented on #5761
@gvancuts, You can take a look at what we do as part of the CI [here](https://github.com/kata-containers/tests/tree/main/.ci).

The important parts that we'd need, as a starting point, is a script to install ACRN, something similar to what we have for CLH or QEMU (https://github.com/kata-containers/tests/blob/main/.ci/install_cloud_hypervisor.sh or https://github.com/kata-containers/tests/blob/mai

[2021-02-23 21:32] vijaydhanraj commented on #5761
Yes, this is much needed to ensure the support is not broken. Appreciate the initiative. @gvancuts please let me know if you need any help.

[2021-02-23 21:40] fidencio commented on #5761
@vijaydhanraj, @gvancuts, I've added the topic to the next Kata Containers Architecture Committee meeting.

Please, take a look at https://etherpad.opendev.org/p/Kata_Containers_2021_Architecture_Committee_Mtgs for the agenda, instructions on how to join, etc.

In case that doesn't work for you, please, let me know and I can remove that accordingly.

[2021-02-23 21:41] fidencio commented on #5761
Last but not least, we're always on Slack / IRC: https://katacontainers.io/community/ :-)

[2021-02-23 21:51] gvancuts commented on #5761
That works for me!

[2021-02-24 01:33] wenlingz commented on #5236
@gvancuts  please add JIRA ID, thanks

[2021-02-24 07:52] gvancuts opened #5766 "Hypervisor version information retrieval"
At the moment, the only way to retrieve the hypervisor version information is using the `version` command in the ACRN debug shell. There are a couple of restrictions with this:
* It is not possible to easily retrieve such information from the Service VM (more on that below [1])
* Such information is completely inaccessible in a system running a production build (`RELEASE=1`)

There should be a new

[2021-02-24 08:49] gvancuts opened #5769 "Incorrect rendering of rightwards arrows in documentation"
The [Enable GVT-d in ACRN](https://projectacrn.github.io/latest/tutorials/gpu-passthru.html) tutorial uses rightwards arrows. The source file uses `&rarr;` to display these but this is not a valid symbol in ReST, so it is displayed as-is. E.g.:
![rightwards-arrow-tutorial](https://user-images.githubusercontent.com/2192801/108974210-8809be80-7685-11eb-9f63-3530a66d98e1.png)

[2021-02-24 09:00] gvancuts commented on #5236
[External_System_ID] ACRN-6988

[2021-02-24 09:01] gvancuts commented on #5236
Done. Thanks.

[2021-02-24 13:53] gvancuts opened #5772 "The `RELEASE` variable is not correctly handled"
The preference nowadays is to use `RELEASE=[y|n]` instead of `[0|1]`. This is also always encoded in the scenario XML file which sets it to `y` or `n`. The value is not correctly handled when building components other than the hypervisor itself. This problem is manifesting itself in a couple of ways:
1. The `build/hypervisor/cfg.log` file does not pick it up correctly and always indicates a `RELEA

[2021-02-24 19:36] sainath14 opened #5773 "Fix incorrect struct definition for ir_bits"
Incorrect struct definition for ir_bits in ioapic_rte. Since the bits after the delivery status in the lower 32 bits are not touched by code, this has never showed up as an issue. (And the higher 32 bits in the RTE are aligned by the compiler)

[2021-02-24 19:44] sainath14 commented on #5773
[External_System_ID] ACRN-6989

[2021-02-24 19:51] dbkinder commented on #5564
doc is updated now (though new instructions are not independently tested)

[2021-02-24 19:51] #5564 closed

[2021-02-25 02:23] yuchuyang commented on #5736
[External_System_ID] ACRN-6990

[2021-02-25 03:45] szhen11 opened #5778 "[EHL][v2.4] Failed to build hv with hypervisor_tools_default_setting _for newboard"
Environment
BOARD: EHL SBL
repo: https://github.com/projectacrn/acrn-hypervisor.git
branch: release_2.4

Steps #

1.Boot to native os, copy acrn-hypervisor/misc/acrn-config/target/ to board and get board info

cd target; sudo python3 board_parser.py  ehl-crb-b #
Copy step1's ehl-crb-b.xml to acrn-hypervisor/misc/config_tools/data/ehl-crb-b/

2.build hv use the following command:

#make clean && ma

[2021-02-25 03:46] szhen11 commented on #5778
[External_System_ID] ACRN-6987

[2021-02-25 07:04] Leo2Chang commented on #5572
can not reproduce this issue on whl-ipc-i7 and whl-ipc-i5
with both cmd:
`make all BOARD=whl-ipc-i7 SCENARIO=hybrid_rt RELEASE=0
make BOARD_FILE=$PWD/misc/config_tools/data/whl-ipc-i7/whl-ipc-i7.xml SCENARIO_FILE=$PWD/misc/config_tools/data/whl-ipc-i7/hybrid_rt.xml`

HV commit:
bc22a62b4d3d3d5e8c3b4b884fdcfca746dd4d3f (HEAD -> release_2.4, origin/release_2.4)

[2021-02-25 07:07] #5572 closed

[2021-02-25 07:17] Leo2Chang commented on #5573
can not reproduce this issue on **release_2.4** with cmdline:
`make all BOARD=ehl-crb-b SCENARIO=logical_partition RELEASE=0`
`make BOARD_FILE=$PWD/misc/config_tools/data/ehl-crb-b/ehl-crb-b.xml SCENARIO_FILE=$PWD/misc/config_tools/data/ehl-crb-b/logical_partition.xml`

HV commit bc22a62b4d3d3d5e8c3b4b884fdcfca746dd4d3f (HEAD -> release_2.4, origin/release_2.4)

close this issue as fixed.
thank yo

[2021-02-25 07:17] #5573 closed

[2021-02-25 11:38] gvancuts opened #5780 "ACRN Boot Sequence documentation updates"
Some updates needed for the ACRN boot documentation
* Add multiboot2 (`acrn.bin`) to [this section](https://projectacrn.github.io/latest/introduction/index.html#boot-sequence)
* Old paths used to the configuration files in [this tutorial](https://projectacrn.github.io/latest/tutorials/using_grub.html#using-pre-installed-grub)
* https://projectacrn.github.io/latest/tutorials/acrn-secure-boot-with-g

[2021-02-25 11:51] gvancuts opened #5781 "ACRN Device Model arguments and parameters out-of-sync"
The ACRN Device Model (`acrn-dm`) parameter descriptions in our documentation has gone (once more :-() a bit out of sync with what's in the actual code. These three pages need to be back in sync:
* (Source code) https://github.com/projectacrn/acrn-hypervisor/blob/master/devicemodel/core/main.c (check consistency between `usage()` function and actual implementation
* https://projectacrn.github.io/l

[2021-02-26 01:23] wenlingz commented on #5781
@gvancuts Please add JIRA ID, thanks

[2021-02-26 08:11] lifeix opened #5788 "Need support of high MMIO addresses"

[2021-02-26 08:12] lifeix commented on #5788
[External_System_ID]https://jira.devtools.intel.com/projects/ACRN/issues/ACRN-6046

[2021-02-26 08:47] ionutnechita opened #5789 "[WindowsGuest] How to create a new virtual machine with Windows 10 LTS/LTSC"
Hi ACRN Team,

I try to create one vm with windows, but windows installer not appear on my display.
How to proceed?

[2021-03-01 02:02] junjiemao1 commented on #5772
[External_System_ID] ACRN-6991

[2021-03-01 12:38] gvancuts commented on #5781
[External_System_ID] ACRN-6997

[2021-03-01 12:38] gvancuts commented on #5781
Done - thanks

[2021-03-01 13:10] gvancuts commented on #5789
Hi @ionutnechita , what is your HW platform in this case?

[2021-03-01 15:39] ionutnechita commented on #5789
My HW platform is:
NUC7I7BNH - Intel(R) Client Systems NUC7i7BNH/NUC7i7BNB, BIOS BNKBL357.86A.0082.2020.0505.1614 05/05/2020
Intel(R) Core(TM) i7-7567U CPU @ 3.50GHz
00:02.0 VGA compatible controller: Intel Corporation Iris Plus Graphics 650 (rev 06)

[2021-03-01 22:31] gvancuts opened #5793 "Enhance `misc/Makefile` for better readability and more intuitive build folder"
The `misc/Makefile` can easily be enhanced to improve on a couple of points:
* Improve readability by grouping and consistently using the same order when building and installing all the tools
   * They should be grouped according on the subfolders (i.e. `debug_tools` and `services`)
   * They should be sorted, with `services` tools listed first
* All `services` and `debug_tools` get built and put

[2021-03-02 02:18] fuzhongl commented on #5726
@ionutnechita This issue should be fixed in v2.4.
Thanks!

[2021-03-02 10:25] liudlong opened #5795 "The PL2303 USB-to-Serial Devices will function lost after hot-plug"
Description
Environment

USB mediator

HW/Board

ALL platform

Build link

Image info

Steps

Expected result

Actual result

Reproduce rate
percentage is not acceptable, please use the actually records like 1/20, 2/20 ,etc.

Debugging info

[2021-03-02 10:37] Ragnarliu commented on #5795
[External_System_ID] ACRN-6896

[2021-03-02 22:20] yuchuyang opened #5798 "config-tools: Force to turn off AC using scenario XMLs"
Add the capacity to turn off the AC using xml configuration.

[2021-03-02 22:21] yuchuyang commented on #5798
[External_System_ID] ACRN-6698

[2021-03-02 22:21] yuchuyang commented on #5798
[External_System_ID] ACRN-6975

[2021-03-02 23:10] gvancuts opened #5801 "Windows User OS not starting on Apollo Lake platforms"
It is not possible to start a Windows User VM on Apollo Lake platforms.
* GVT-d is not enabled (as indicated here: https://github.com/projectacrn/acrn-hypervisor/blob/master/hypervisor/acpi_parser/dmar_parse.c#L136-L143
* GVT in general is broken - see https://github.com/intel/gvt-linux/issues/84

Attempting to start a Windows User VM with GV-g will lead to the following error:
[code]

[2021-03-03 01:13] #5772 closed

[2021-03-03 01:15] yonghuah opened #5802 "potential hypervisor crash induced by write_protect_page() hypercall handler"
Invalid input 'gpa' will trigger hypervisor crash in write_protect_page() function.

[2021-03-03 01:15] yonghuah commented on #5802
[External_System_ID] ACRN-6919

[2021-03-03 01:43] junjiemao1 commented on #5749
The first problem has been solved by #5753. I'll take a look at the second.

[2021-03-03 03:52] pchand20 opened #5805 "using initrd with pre-launch kernel giving outof memory issue"
**Describe the bug**
when using ramdisk_tag in hybrid config for initrd image . we are seeing grub alocator issue our of memory.

**Platform**
TGL

**Codebase**
V-2.3

**Scenario**
Hybrid: with pre-launch linux kernel and  initrd image as module

**To Reproduce**
Steps to reproduce the behavior:
1. add ramdisk_tag in hybrid config
2. build image with prelaunch vm and initrd
3. change config to add

[2021-03-03 03:53] pchand20 commented on #5805
![image](https://user-images.githubusercontent.com/52216095/109750245-51f2a000-7b99-11eb-9743-a6ca55555487.png)

[2021-03-03 05:36] lifeix opened #5806 "[TGL][PTCM]Cache was not locked after post-RTVM power off and restart"

[2021-03-03 05:36] lifeix commented on #5806
[External_System_ID] https://jira.devtools.intel.com/browse/ACRN-6955

[2021-03-03 11:52] gvancuts opened #5811 "Booting ACRN on Apollo Lake UP2 causes platform reboot"
**Describe the bug**
Booting ACRN (v2.3 or master) on UP2 leads to a reboot of the platform.

**Platform**
Apollo Lake UP2

**Codebase**
v2.3 and master

**Scenario**
Tried with both `sdc` and `industry`, using `RELEASE=0`

**To Reproduce**
* Build ACRN v2.3 or master using `make BOARD=apl-up2 SCENARIO=sdc`
* Install all build artefacts, configure Grub
* Reboot the UP2 board

**Expected behavior**

[2021-03-03 12:19] ionutnechita opened #5812 "[documentation] Supported Hardware Page - incorrect serial port description - Kaby Lake"
Hi ACRN Team,

I noticed in your documentation a small content problem.
From what I have now, the 2 NUC - NUC7i5BNH and NUC7i7BNH do not have a serial port, but I notice a model with a serial port.
https://projectacrn.github.io/latest/reference/hardware.html#hardware

Is it a documentation issue?

Kaby Lake(Code name: Baby Canyon) | NUC7i5BNH(Board: NUC7i5BNB)  --  Serial Port | Yes
And
Kaby Lake(

[2021-03-03 13:04] gvancuts commented on #5812
Good catch @ionutnechita !

There is an additional mistake in that doc, Dawson Canyon does have a serial port so we should also correct this line:

Kaby Lake (Code name: Dawson Canyon) | NUC7i5DNH (Board: NUC7i5DNB) -- Serial Port | No

Let me know if you were planning on sending a PR to fix this, else I'll do it a little later.

Thanks!

[2021-03-03 13:39] ionutnechita commented on #5812
Hi @gvancuts,

If you could make the change in git for this issue.
Thanks for getting involved.

[2021-03-03 14:20] gvancuts commented on #5812
PR #5813 sent for review

Thanks for bringing this up to our attention!

[2021-03-03 14:38] gvancuts commented on #5769
Patch was merged, closing.

[2021-03-03 14:38] #5769 closed

[2021-03-03 14:42] gvancuts commented on #5741
To add to this:
* Can we confirm whether the table indicating what is validated or not is still accurate? (note: we've discovered many issues when running on Apollo Lake which make me suspicious about the SDC validation on that platform...)
* The list of usage scenarios does not match what we have in the code today... we need to update the list **and** make sure we check the ones we **actually** v

[2021-03-04 00:04] pchand20 commented on #5805
got a some debug detail when relocator is called.
![image](https://user-images.githubusercontent.com/52216095/109889358-75255a00-7c42-11eb-8b0b-097a059a6ba8.png)

[2021-03-04 03:26] wenlingz commented on #5793
@gvancuts please add JIRA ID, thanks

[2021-03-04 08:37] gvancuts commented on #5805
Not sure if this is completely related but some patches are needed in order to use large initramfs/initrd. Can you try to integrate and test those?
* https://github.com/tttech-industrial-buchsbaum/acrn-hypervisor/blob/debian/master/debian/patches/0009-hv-vm_load-avoid-overwriting-source-images.patch,
* https://github.com/tttech-industrial-buchsbaum/acrn-hypervisor/blob/debian/master/debian/patches

[2021-03-04 08:52] NanlinXie opened #5815 "Doc: Need update document to clarify kernel cmdline"
Currenly we have two ways to config linux kernel's parameter
1. Definition in XML bootargs for pre-launched VM/Service VM
2. Grub.conf could overwrite XML bootargs via module2 line of grub.cfg.
  a. Appending to SOS via the multiboot2 command line (only for debug)  might be removed in the future.
3. Config-tool and HV code will change two kernel cmdline param (max cpu#/hugepagesz) due to the reaso

[2021-03-04 17:22] pchand20 commented on #5805
counter some issue after these patches. hangs on console when run any VM.

ACRN Hypervisor
calibrate_tsc, tsc_khz=2803200
[35206856us][cpu=0][(null)][sev=2][seq=1]:HV version 2.3-unstable-2021-03-03 00:36:31-d57a21324-dirty DBG (daily tag:acrn-2020w48.5-180000p) hybrid_rt@tgl-rvp build by chandrap with acrn-config, start time 35198288us
[35229241us][cpu=0][(null)][sev=2][seq=2]:API version 1.0
[35

[2021-03-04 17:35] pchand20 commented on #5805
here is my boards e820 config from native linux boot.

 dmesg | grep e820
[    0.000000] BIOS-e820: [mem 0x0000000000000000-0x000000000009efff] usable
[    0.000000] BIOS-e820: [mem 0x000000000009f000-0x00000000000fffff] reserved
[    0.000000] BIOS-e820: [mem 0x0000000000100000-0x00000000338bcfff] usable
[    0.000000] BIOS-e820: [mem 0x00000000338bd000-0x0000000036a90fff] reserved
[    0.000000]

[2021-03-04 20:28] gvancuts commented on #5793
[External_System_ID] ACRN-7010

[2021-03-05 08:42] szhen11 opened #5818 "[EHL][v2.4_rc1] Failed to boot up WAAG randomly"
Environment
BOARD: EHL SBL
SOS Kernel: 5.4.90-linux-intel-ese-lts-acrn-sos-lts
Build Info: YOCTO-2021ww05.3 rc1

Steps
1. Boot to SOS
2. Boot up waag with script

acrn-dm -A -m $mem_size -s 0:0,hostbridge -U d2795438-25d6-11e8-864e-cb7a18b34643 \
--windows \
$logger_setting \
-s 6,virtio-blk,/root/waag/win10-ltsc.img \
-s 7,virtio-blk,/root/waag/newdisk.img \
-s 5,virtio-net,tap_WaaG,mac=00:16:3E:

[2021-03-05 08:43] szhen11 commented on #5818
[External_System_ID] ACRN-6984

[2021-03-05 13:12] gvancuts opened #5820 "Hypervisor command-line parameter document is incomplete"
The document describing the valid command-line arguments for the hypervisor ([here](https://projectacrn.github.io/latest/user-guides/hv-parameters.html)) is incomplete. More specially, it's missing the description on how to use the `mmio@` format to specify the serial port MMIO address.

[2021-03-05 18:06] ionutnechita commented on #5818
Hi @gvancuts,

I also saw this issue today.
But with this change made:

-        <ENFORCE_TURNOFF_AC>n</ENFORCE_TURNOFF_AC>
+        <ENFORCE_TURNOFF_AC>y</ENFORCE_TURNOFF_AC>

This issue is not solved.
At startup/booting, virtual machine with Windows does not display an image on the screen.

[2021-03-05 22:00] caschulz88 opened #5822 "Tiger Lake support"
Hi, seems like we are still lacking support for Tiger Lake architecture by Intel. I am using GVT-d based setup but I am not able to make it work with latest ACRN. Can someone please tell me what the status is for the new arch with Intel Xe iGPU? Thanks!

[2021-03-07 00:34] fuzhongl commented on #5822
@caschulz88
Please try V2.3 since it is the PV version for Tiger Lake platform.
Thanks!

[2021-03-07 00:51] fuzhongl commented on #5801
@gvancuts
Please use GVT-g for APL platform since it  doesn't support GVT-d.

[2021-03-07 00:55] fuzhongl commented on #5789
@ionutnechita
The GOP drive is needed for GVT-d.
Please follow this  [link](https://projectacrn.github.io/latest/tutorials/using_windows_as_uos.html)

[2021-03-07 12:05] ionutnechita commented on #5789
Hi @fuzhongl,

PREREQUISITES:
1) Get your specific "IntelGopDriver.efi" and "Vbt.bin"
    from your BIOS vendor

Where can i get these files from?  ( NUC7I7BNH )

[2021-03-07 13:04] caschulz88 commented on #5822
Awesome! Thanks a lot!

[2021-03-07 13:04] #5822 closed

[2021-03-08 01:19] fuzhongl commented on #5789
@ionutnechita
You should get them from manufactory of NUC7I7BNH.
Another solution about create WaaG image:
Install native windows in SATA/NVMe SSD or USB stick; then passthrough it to WaaG in launch script.

[2021-03-08 01:33] szhen11 commented on #5818
@ionutnechita Could you describe the configs(board, scenario, launch script, WaaG version and graphics driver version) and steps and  when you see "At startup/booting, virtual machine with Windows does not display an image on the screen."?

[2021-03-08 04:14] ylian16 opened #5825 "HV: interrupt modularization"
Interrupt API for modularization

[External_System_ID] ACRN-6909

[2021-03-08 05:49] #5640 closed

[2021-03-08 08:39] ionutnechita commented on #5789
Ok, but don't these files exist in public?

I'll look for them in public and maybe I'll find them.

The second method will be the last option for me.
Thanks.

[2021-03-08 09:03] gvancuts commented on #5801
GVT in general is broken on APL, that means both GVT-g **and** GVT-d.

[2021-03-08 09:05] gvancuts commented on #5801
This https://github.com/intel/gvt-linux/issues/84#issuecomment-792502055 has information about the patches that would need to be put in the 5.4 LTS kernel (which I guess is the pre-requisite before they can land in our `acrn-kernel` repo, isn't it?).

I do not know if these would be sufficient to get **both** GVT-g **and** GTV-d working on APL. I guess these would only fix the former.

[2021-03-08 15:09] ionutnechita commented on #5789
Hi @fuzhongl,

I found IntelGopDriver.efi and Vbt.bin for KBL.
I tested the installation of Windows 10 LTSC and Windows 2019 Server (year 2018).
Both went correctly exactly as in the documentation.

https://projectacrn.github.io/latest/tutorials/gpu-passthru.html#gpu-passthrough
https://projectacrn.github.io/latest/tutorials/using_windows_as_uos.html

ACRN HV / DM - DM version is: 2.4-unstable-c84

[2021-03-08 15:30] gvancuts commented on #5789
Thanks @ionutnechita !

@NanlinXie , I think we should catch this opportunity to update the doc to use the latest tags (`v2.4`), what do you think?

[2021-03-08 15:30] #5789 closed

[2021-03-08 16:44] ionutnechita opened #5826 "[WindowsGuest] Enable S5 - initiate a connection on a socket error"
Hi ACRN Team,

I try to enable S5 support in WaaG, but observe this issue:

[code]

[code]

Do you see any errors in the script?

SOS:
Acrn-dm  --version
HV / DM version is: 2.4-unstable-c843d2bbc-dirty (daily tag:acrn-2021w06.3-180000p), build by root@2021-03-05 20:08:36
Uname -a
Linux demo-acrn-opensuse-lab1 5.4.90-PKT-200203T060100Z-00002-g2d8c7622646a #1 SMP PREEMPT Fri Feb 12 20:21:08 EET 202

[2021-03-09 01:02] fuzhongl commented on #5789
@ionutnechita
Could you please share IntelGopDriver.efi and Vbt.bin of KBL NUC7I7BNH?
Thanks!

[2021-03-09 01:11] fuzhongl commented on #5801
@gvancuts There is known issue for GVT-g since v2.1; v2.0 is working for GVT-g.

[2021-03-09 09:50] gvancuts commented on #5801
OK, so the summary as far as Apollo Lake is concerned is the following:
1. GVT-g: working up until (and inc.) ACRN v2.0.
2. GVT-d: was never enabled on Apollo Lake

Is that a correct statement?

Regarding point 1, does it boil down to back-porting these patches (https://github.com/intel/gvt-linux/issues/84#issuecomment-792502055) on teh 5.4 LTS kernel (and pulling them into our `acrn-kernel` tree)

[2021-03-09 14:36] gvancuts commented on #5420
I suspect this is no longer an issue, can we close this?

[2021-03-10 00:23] fuzhongl commented on #5801
About point 1: This topic was discussed in ACRN project meeting several month ago; the decision is low priority for GVT-g; waiting for KVM upstream  to fix it since IDV solution is used for ACRN(since v2.1) and KVM for GVT-g;
About point 2: My understanding: It is APL hardware doesn't support GVT-d. Please double check with @NanlinXie
Thanks!

[2021-03-10 00:46] fuzhongl commented on #5559
[External_System_ID]ACRN-6867

[2021-03-10 01:50] lifeix opened #5830 "[Modularization] paging/memory part"

[2021-03-10 01:51] lifeix commented on #5830
[External_System_ID] ACRN-6908

[2021-03-10 17:12] gvancuts commented on #5236
I believe we have cleaned all these through the various PRs... @dbkinder @fitchbe , let me know if you see something that hasn't been addressed yet. Closing this for now.

[2021-03-10 17:12] #5236 closed

[2021-03-11 04:13] yuchuyang commented on #5710
[External_System_ID] ACRN-6888

[2021-03-11 07:47] slinke67 commented on #5599
Thanks for the support. Unfortunately the focus has changed and I may not follow up.

[2021-03-11 07:47] #5599 closed

[2021-03-12 03:13] fuzhongl commented on #5811
@gvancuts please share `dmesg |grep ttyS`  for native and Service VM boot.

[2021-03-12 12:35] gvancuts opened #5842 "Wrong format used in the documentation for the serial port BDF value"
The hypervisor can take a number of values to specify where the serial port is. This can be done at runtime too by passing the `uart=` parameter when the hypervisor starts. One of the value that can be passed is the BDF of the Serial Port PCI device. The format that was used originally (up until 2.3) looked like `uart=bdf@0x0:18.1`. This was changed with https://github.com/projectacrn/acrn-hypervi

[2021-03-12 12:43] gvancuts commented on #5842
[External_System_ID] ACRN-7016

[2021-03-15 01:29] #2542 closed

[2021-03-15 01:30] #3097 closed

[2021-03-15 01:33] #3606 closed

[2021-03-15 01:33] #3776 closed

[2021-03-15 02:00] #4048 closed

[2021-03-15 02:17] fuzhongl commented on #4127
Close it since no update for long time.

[2021-03-15 02:17] #4127 closed

[2021-03-15 02:20] #4216 closed

[2021-03-15 02:23] #4310 closed

[2021-03-15 02:23] fuzhongl commented on #4313
Fixed in v2.3.

[2021-03-15 02:23] #4313 closed

[2021-03-15 02:24] #4317 closed

[2021-03-15 02:26] fuzhongl commented on #4318
No this issue for GVT-d.

[2021-03-15 02:26] #4318 closed

[2021-03-15 02:26] #4334 closed

[2021-03-15 02:27] #4336 closed

[2021-03-15 02:28] fuzhongl commented on #4366
enabled with v2.3

[2021-03-15 02:28] #4366 closed

[2021-03-15 02:29] #4706 closed

[2021-03-15 02:30] #4838 closed

[2021-03-15 02:33] fuzhongl commented on #4900
fixed in master branch.

[2021-03-15 02:33] #4900 closed

[2021-03-15 02:33] #4912 closed

[2021-03-15 02:36] fuzhongl commented on #4959
fix in v2.1

[2021-03-15 02:36] #4959 closed

[2021-03-15 02:36] #4975 closed

[2021-03-15 02:37] #4989 closed

[2021-03-15 02:38] #4990 closed

[2021-03-15 02:38] #4991 closed

[2021-03-15 02:39] #4994 closed

[2021-03-15 02:40] #4995 closed

[2021-03-15 02:44] #5049 closed

[2021-03-15 02:45] fuzhongl commented on #5052
Fixed in v2.3

[2021-03-15 02:45] #5052 closed

[2021-03-15 02:45] #5053 closed

[2021-03-15 02:47] #5056 closed

[2021-03-15 02:48] #5062 closed

[2021-03-15 02:50] #5066 closed

[2021-03-15 02:50] #5067 closed

[2021-03-15 02:51] #5074 closed

[2021-03-15 02:51] #5077 closed

[2021-03-15 02:52] #5081 closed

[2021-03-15 02:52] #5085 closed

[2021-03-15 02:53] #5090 closed

[2021-03-15 02:53] #5091 closed

[2021-03-15 02:54] #5092 closed

[2021-03-15 02:54] #5094 closed

[2021-03-15 02:54] #5095 closed

[2021-03-15 02:56] #5107 closed

[2021-03-15 02:57] #5115 closed

[2021-03-15 02:57] #5119 closed

[2021-03-15 02:58] #5122 closed

[2021-03-15 02:58] #5125 closed

[2021-03-15 02:58] #5132 closed

[2021-03-15 02:59] #5146 closed

[2021-03-15 03:00] fuzhongl commented on #5151
fixed with v2.2

[2021-03-15 03:00] #5151 closed

[2021-03-15 03:02] fuzhongl commented on #5152
fixed in v2.3

[2021-03-15 03:02] #5152 closed

[2021-03-15 03:02] #5153 closed

[2021-03-15 03:03] #5168 closed

[2021-03-15 03:03] #5172 closed

[2021-03-15 03:04] #5178 closed

[2021-03-15 03:06] fuzhongl commented on #5183
fixed in v2.3

[2021-03-15 03:06] #5183 closed

[2021-03-15 03:08] #5184 closed

[2021-03-15 03:08] #5185 closed

[2021-03-15 03:09] #5190 closed

[2021-03-15 03:09] #5197 closed

[2021-03-15 03:10] #5199 closed

[2021-03-15 03:10] #5205 closed

[2021-03-15 03:11] #5208 closed

[2021-03-15 03:12] #5216 closed

[2021-03-15 03:12] #5220 closed

[2021-03-15 03:17] #5243 closed

[2021-03-15 03:18] #5256 closed

[2021-03-15 03:18] #5259 closed

[2021-03-15 03:19] #5263 closed

[2021-03-15 03:20] #5266 closed

[2021-03-15 03:27] #5267 closed

[2021-03-15 03:27] #5275 closed

[2021-03-15 03:28] #5276 closed

[2021-03-15 03:28] #5286 closed

[2021-03-15 03:29] #5288 closed

[2021-03-15 03:29] #5297 closed

[2021-03-15 05:34] #5298 closed

[2021-03-15 06:34] #5303 closed

[2021-03-15 06:35] #5330 closed

[2021-03-15 06:35] #5336 closed

[2021-03-15 06:36] #5338 closed

[2021-03-15 06:36] #5340 closed

[2021-03-15 06:36] #5350 closed

[2021-03-15 06:37] fuzhongl commented on #5352
fixed in v2.2

[2021-03-15 06:37] #5352 closed

[2021-03-15 06:37] #5355 closed

[2021-03-15 06:38] #5357 closed

[2021-03-15 06:38] #5358 closed

[2021-03-15 06:39] #5359 closed

[2021-03-15 06:55] #5366 closed

[2021-03-15 06:56] fuzhongl commented on #5369
[External_System_ID]ACRN-6671

[2021-03-15 06:56] #5389 closed

[2021-03-15 06:57] #5390 closed

[2021-03-15 06:57] #5394 closed

[2021-03-15 06:58] #5398 closed

[2021-03-15 06:58] #5401 closed

[2021-03-15 06:59] #5407 closed

[2021-03-15 07:02] #5418 closed

[2021-03-15 07:03] #5420 closed

[2021-03-15 07:04] #5427 closed

[2021-03-15 07:07] #5470 closed

[2021-03-15 08:15] #5518 closed

[2021-03-15 08:17] #5535 closed

[2021-03-15 08:18] #5544 closed

[2021-03-15 08:18] #5548 closed

[2021-03-15 08:19] #5555 closed

[2021-03-15 08:20] #5565 closed

[2021-03-15 08:21] #5592 closed

[2021-03-15 08:21] #5600 closed

[2021-03-15 08:22] #5605 closed

[2021-03-15 08:24] #5606 closed

[2021-03-15 08:25] #5609 closed

[2021-03-15 08:25] #5615 closed

[2021-03-15 08:28] #5635 closed

[2021-03-15 08:28] #5638 closed

[2021-03-15 08:29] #5649 closed

[2021-03-15 08:48] gvancuts commented on #5112
Not sure if *any* of the problems mentioned here has been fixed, but at least *some* haven't (e.g. misspelling of `pass-through`).

@fuzhongl , can you please add the commits that may have fixed part of the issues in this report?

[2021-03-15 08:50] gvancuts commented on #5553
We still need to address this piece before we can close this bug report:

[2021-03-15 14:26] gvancuts commented on #5660
[External_System_ID] ACRN-7018

[2021-03-16 01:48] #5442 closed

[2021-03-16 01:49] #5487 closed

[2021-03-16 02:01] fuzhongl commented on #5681
@ionutnechita
We don't try it yet, please have a try, Any problem please raise git issue.
Thanks!

[2021-03-16 02:01] #5681 closed

[2021-03-16 02:02] #5689 closed

[2021-03-16 02:04] #5695 closed

[2021-03-16 02:08] fuzhongl commented on #5704
As mentioned in: https://projectacrn.github.io/latest/tutorials/using_zephyr_as_uos.html
/efi/boot/bootx64.efi should work.

[2021-03-16 02:08] #5704 closed

[2021-03-16 02:09] #5710 closed

[2021-03-16 02:10] #5712 closed

[2021-03-16 06:41] fuzhongl commented on #5826
@ionutnechita  Do you refer this [doc:](https://projectacrn.github.io/latest/tutorials/enable_s5.html) ?

[2021-03-16 07:04] ionutnechita commented on #5826
Hi @fuzhongl,

Yes, this doc for S5 suport.

[2021-03-16 07:18] fuzhongl commented on #5826
Do you launch other UOS before WaaG?
If yes, please share the launch script.
Thanks!

[2021-03-16 11:34] ionutnechita commented on #5826
No, only Windows / WaaG.

[2021-03-16 15:58] gvancuts commented on #5812
Patch was merged, closing.

[2021-03-16 15:58] #5812 closed

[2021-03-16 16:01] gvancuts commented on #5793
Patch was merged, closing.

[2021-03-16 16:01] #5793 closed

[2021-03-16 16:04] gvancuts commented on #5752
[External_System_ID] ACRN-7019

[2021-03-16 18:24] ionutnechita opened #5844 "[BaaG] BSD As A Guest - DragonFly not booting with ACRN Hypervisor"
Hi ACRN Team,

I try to start DragonFly with ACRN-DM.
But when the kernel was initialized in BSD, it cracked with CPU panic in UOS / BaaG.

In SOS appear this messages:
[  236.721085] vcpu 0[1637]: segfault at 38 ip 0000557c6d159917 sp 00007fd123ffebf0 error 4 in acrn-dm[557c6d13b000+52000]
[  236.721091] Code: f8 02 0f 85 b1 00 00 00 4c 89 eb 48 c1 e3 04 4c 29 eb 48 c1 e3 03 4c 8d 7c 1d 60 4c 89

[2021-03-18 03:30] liujunming opened #5847 "HV:disable MSI interrupt under some cases in VT-d scenario"
In VT-d scenario, if MSI interrupt has been enabled, vCPU writes the content in MSI registers, and all bits of the content are read-only.
In this case, hypervisor code will call enable_disable_msi(vdev, false), which will disable MSI. This is wrong behavior, which will result in the disable of MSI.

[2021-03-18 03:37] liujunming commented on #5847
[External_System_ID] ACRN-7020

[2021-03-18 11:46] gvancuts commented on #5811
Native (Ubuntu 20.04) environment:
[code]

In the Service VM (using `uart=disabled`):
[code]

[2021-03-22 12:44] ionutnechita opened #5853 "/usr/share/acrn/conf doesn't exist!"
Hi ACRN Team,

I noticed this:
/usr/share/acrn/conf doesn't exist!
_scan_added_vm: Failed to check directory /usr/share/acrn/conf, err: -1

Shouldn't the acrnd service do this folder? ( mkdir -p /usr/share/acrn/conf; mkdir -p /usr/share/acrn/conf/add )
Or from installing hypervisor through makefiles.

acrn-dm --version
DM version is: 2.4-unstable-ae659e58a-dirty (daily tag:acrn-2021w06.3-180000p),

[2021-03-22 13:17] gvancuts commented on #5853
Not sure whether this is a fatal error or not (it does not look like one), it's been reported previously in this bug report: #4898. @ionutnechita , I propose that we close this one as a duplicate of this other bug report, any concern?

[2021-03-22 13:28] ionutnechita commented on #5853
Yes, we can close it. To write in this ticket #4898 so we can fix it.

[2021-03-22 13:29] ionutnechita commented on #4898
I noticed this:
/usr/share/acrn/conf doesn't exist!
_scan_added_vm: Failed to check directory /usr/share/acrn/conf, err: -1

Shouldn't the acrnd service do this folder? ( mkdir -p /usr/share/acrn/conf )
Or from installing hypervisor through makefiles.

[2021-03-22 14:30] gvancuts commented on #5853
Tracking the problem in #4898 , closing this.

[2021-03-22 14:30] #5853 closed

[2021-03-22 14:31] ionutnechita opened #5854 "/bin/sh: line 1: /usr/sbin/iasl: No such file or directory"
Hi ACRN Team,

I noticed this:
/bin/sh: line 1: /usr/sbin/iasl: No such file or directory

SOS:
OpenSUSE Tumbleweed

cat /etc/os-release
NAME="openSUSE Tumbleweed"
//# VERSION="20210320"
ID="opensuse-tumbleweed"
ID_LIKE="opensuse suse"
//VERSION_ID="20210320"
PRETTY_NAME="openSUSE Tumbleweed"
ANSI_COLOR="0;32"
CPE_NAME="cpe:/o:opensuse:tumbleweed:20210320"
BUG_REPORT_URL="https://bugs.opensuse.org

[2021-03-22 14:37] ionutnechita commented on #5726
Is there an update here?

In this moment this issue is reproduced:
Linux version 5.4.90-PKT-200203T060100Z-00006-g07fb8047e3dc (root@demo-acrn-opensuse-labl1) (gcc version 10.2.1 20210303 [revision 85977f624a34eac309f9d77a58164553dfc82975] (SUSE Linux)) #1 SMP PREEMPT Mon Mar 22 13:00:34 EET 2021
acrn-dm --version
DM version is: 2.4-unstable-ae659e58a-dirty (daily tag:acrn-2021w06.3-180000p), buil

[2021-03-22 15:11] gvancuts commented on #4898
The `acrnctl` does create this when running (see [here](https://github.com/projectacrn/acrn-hypervisor/blob/master/misc/services/acrn_manager/acrnctl.c#L349-L355)... except, it only creates it when running `acrnctl add`, i.e. when first adding a VM (its launch script).

I think it would be better to move this directory creation to the `main` function ([here](https://github.com/projectacrn/acrn-hyp

[2021-03-22 15:35] gvancuts commented on #5854
Hi @ionutnechita , yes, this is a known behaviour. Not one that I like but that's what it is :-)

This is why we have this paragraph in our "Getting Started" and "Building from Source" documents (note the last line):
[code]

Be aware of this Pull Request too: https://github.com/projectacrn/acrn-hypervisor/pull/5849. You will need this since Tumbleweed has gcc-10 in it ;-)

[2021-03-22 17:31] ionutnechita commented on #5854
Hi @gvancuts,

I understood this information. But the location can't change?
Must it be found every time in /usr/sbin?
Can't change to /usr/bin?

In OpenSUSE, it can be installed from the official repository.
//# zypper in acpica
acpica-20210105-1.3.x86_64
Absolute path to 'iasl' is '/usr/bin/iasl'.

[2021-03-22 21:35] gvancuts commented on #5854
You can change it at build time by setting the `ASL_COMPILER` variable, e.g.: `ASL_COMPILER=/usr/bin/iasl make BOARD=nuc7i7dnb SCENARIO=industry`.

[2021-03-22 21:37] gvancuts commented on #5854
I was actually thinking we could easily make the build system locate the binary automatically so we don't have to set it (and we can then start using the distro `acpica` package instead of downloading and building manually)... here is a PR that does just that: #5856

[2021-03-23 00:45] fuzhongl commented on #5726
@ionutnechita It was fixed in v2.4 branch, Please have a try.
Thanks!

[2021-03-23 07:02] jsun26intel commented on #5805
the message of "error: ../../git/grub-core/lib/relocator.c:1439:out of memory" comes from grub, means grub could not find memory slot to put the module.
"--nounzip" parameter could be used in grub to prevent .gz file be extracted when loading the module. If it still does not work, then seems no better solution to resolve this issue, except changing grub code.
I suggest to close this issue.
For the

[2021-03-23 07:05] wenlingz commented on #5825
[External_System_ID] ACRN-6909

[2021-03-23 08:46] SIMING29 opened #5859 "Run Xenomai UOS with debian image failed"
Kabylake platform, acrn 2.3, Industry Scenario

Update the debian uos to kernel 4.19.59-rt24
The debian uos and Clear linux's xenomai uos worked well.
When I used the Debian img to replaced the Clear Linux img to run with Xenomai kernel, had the error "Kernel panic - not syncing: No working init found."

sudo ./launch_xenomai.sh -f ../vm-debian/debian10-40G.img -k ./linux-4.19.59-xenomai-3.1-acrn+

[2021-03-23 10:54] gvancuts commented on #5859
This sounds like perhaps it's not finding the right rootfs. Based on the log, it believes the rootfs is on /dev/vda6, which seems a bit odd and I suspect it's `/home` that's in there. What is the partition layout of your Debian image (`fdisk -l *.img`). I'm guessing the right rootfs partition is 2, can you try to force that on [this line](https://github.com/projectacrn/acrn-hypervisor/blob/master/

[2021-03-23 11:45] gvancuts opened #5860 "Update of the "ACRN Installation via Debian Packages" document and scripts needed for 2.4"
The "ACRN Installation via Debian Packages" document and scripts ([here](https://github.com/projectacrn/acrn-hypervisor/tree/0bd384d41b882cd51cb507b416c51b7f399d9ee6/misc/packaging) need to be updated for 2.4. The version built by default is still 2.1 but if someone wants to change that to 2.4, a few more changes are needed not only in the `release.json` file but also in the scripts themselves as

[2021-03-23 11:46] gvancuts commented on #5860
@tttech-industrial-buchsbaum FYI

[2021-03-23 12:01] gvancuts commented on #5327
For the record, see #5856 and #5849

[2021-03-23 12:04] gvancuts opened #5861 "Missing dependency for building ACRN: `xmllint`"
As part of the tools needed for building ACRN is `xmllint`. This is currently missing from the list of packages that we instruct users to install on the dev machine. We install `libxml2-dev` (which we need) but only `libxml2-utils` will install this `xmllint` tool.

[2021-03-23 14:13] gvancuts commented on #5844
Hi @ionutnechita , am I understanding you correctly that you are trying to load the DragonFly BSD installer from a CD image and also giving ACRN an empty virtual disk, that I suppose you intent to use as the target installation disk?

What HW are you running on?

Have you tried to create a virtual disk with DragonFly properly installed on it using KVM/QEMU and then use that disk directly with ACRN

[2021-03-23 15:06] gvancuts commented on #4898
[External_System_ID] ACRN-7031

[2021-03-23 15:53] ionutnechita commented on #5844
Hi @gvancuts,

// What HW are you running on?

I use this:
Kaby Lake
NUC7i7BNH/NUC7i7BNB

[2021-03-23 18:04] yuchuyang opened #5863 "config-tools: loosen IVSHMEM_REGION restriction in schema"
A scenario can enable multiple IVSHMEM_REGIONs, loosen the restriction  to extend multiple regions support.

[2021-03-23 18:04] yuchuyang commented on #5863
[External_System_ID] ACRN-7027

[2021-03-24 01:34] SIMING29 commented on #5859
@gvancuts  Thanks , it worked with change "root=/dev/vda2". I builded the Debian Image according to the latest tutorial, so the partiton is same like the[ Figure 48 ](https://projectacrn.github.io/latest/tutorials/running_deb_as_user_vm.html#partition-vda)

yes, the line 219 is "echo 3 > /sys/kernel/debug/dri/0/i915_cache_sharing"
and the file exists.
# ls /sys/kernel/debug/dri/0/i915_cache_sharin

[2021-03-24 03:52] shuox opened #5866 "[EHL] Windows guest freeze in 3D/video playback/IO stress test"
Bug detailed description:

waag hang randomly during Demo test

Reproduce steps:
-------------
 1. Flash V2.3 RC8 build.

2. Boot up pre-launch RTVM and SOS

3. Boot up WaaG with 4G memory

4. Boot up YaaG with 200M memory

5.Run Demo test (3D heaven&video&prime95) in waag all night and Check WaaG

Current result:

waag hang randomly during Demo test

Expected result:
--------------

WaaG should r

[2021-03-24 03:53] shuox commented on #5866
[External_System_ID] ACRN-6886

[2021-03-24 08:01] gvancuts commented on #5861
Patch merged, closing.

[2021-03-24 08:01] #5861 closed

[2021-03-24 08:33] gvancuts commented on #5820
Patch was merged, closing.

[2021-03-24 08:33] #5820 closed

[2021-03-24 09:37] gvancuts commented on #5859
Thanks for the confirmation. We should really fix this [there](https://github.com/projectacrn/acrn-hypervisor/blob/master/misc/config_tools/data/sample_launch_scripts/nuc/launch_xenomai.sh#L153), i.e. search for the right root partition instead of assuming it is the latest partition. I need to think a little about how to do it easily, I don't know that there is an easy way and if not perhaps we sh

[2021-03-24 14:41] ionutnechita opened #5868 "/dev/rtc0 to wait for clock tick timed out - synchronization failed"
Hi ACRN Team,

I observe this issue:
demo-acrn-opensuse-labl1:/home/demo # hwclock --systohc
demo-acrn-opensuse-labl1:/home/demo # hwclock --hctosys
hwclock: select() to /dev/rtc0 to wait for clock tick timed out
demo-acrn-opensuse-labl1:/home/demo # hwclock --get
hwclock: select() to /dev/rtc0 to wait for clock tick timed out
demo-acrn-opensuse-labl1:/home/demo # hwclock --verbose
hwclock from ut

[2021-03-24 17:03] ionutnechita commented on #5726
Hi @fuzhongl,

On the master branch does this fix not exist?

[2021-03-24 18:27] yuchuyang opened #5869 "config-tools: find the unused bdf based on first unused "dev""
Refine the logic of finding unused bdf for emulated devices. First, find the unused bdf based on if the "dev" is unused. Increase the "func" for the next same type of emulated devices if the last assigned bdf exists. Otherwise, start over looking for unused bdf based on "dev" repeatedly.

[2021-03-24 18:28] yuchuyang commented on #5869
[External_System_ID] ACRN-7028

[2021-03-25 00:15] fuzhongl commented on #5726
@ionutnechita
Master branch is dev branch and it keeps moving...
There is no stability test for master branch. please try v2.4.
Thanks!

[2021-03-25 06:18] zhangshuai75 opened #5872 "uart output "vpci_write_cfg 0:1c.1 not found! off: 0xdb, val: 0xbf" at acrn startup"
WhiskyLake platform,  acrn 2.3, Industry Scenario
When the acrn startup, the uart port continued to print the information as shown blow.
The SOS can start, I'm just not sure if this information has any effect on the system

`
[12866219us][cpu=0][vm0:vcpu0][sev=2][seq=37]:vpci_write_cfg 0:1c.1 not found! off: 0xdb, val: 0xbf

[12877043us][cpu=0][vm0:vcpu0][sev=2][seq=38]:vpci_write_cfg 0:1c.2 not f

[2021-03-25 07:46] gvancuts commented on #5854
[External_System_ID] ACRN-7030

[2021-03-25 07:53] gvancuts commented on #4898
@haribabug , can you tell us whether the merge of #5855 solves your problems or you see more issues?

[2021-03-25 08:52] SIMING29 commented on #5872
After the SOS started, when I launch a UOS , the ACRN hypervisor shell show the messages as below.
The UOS is works normally.
Could I ignore these error messages？

`
ACRN:\>
ACRN:\>[530151964us][cpu=0][vm0:vcpu0][sev=3][seq=236]:ret=-1 hypercall=0x80000080 failed in vmcall_vmexit_handler

[530163673us][cpu=0][vm0:vcpu0][sev=3][seq=237]:ret=-1 hypercall=0x80000080 failed in vmcall_vmexit_handler

[

[2021-03-25 16:20] gvancuts opened #5874 "Build error when running multiple jobs in parallel"
The hypervisor build fails when running more than one job in parallel. Here is how to reproduce this:
[code]

The (truncated) output shows:
[code]

[2021-03-25 16:23] gvancuts commented on #5874
I _think_ that simply adding the `hvdefconfig` target as a pre-requisite to the `hypervisor` target is the right fix. In my testing, it solved the problem all the time... I have just submitted PR #5875

[2021-03-25 16:24] gvancuts commented on #5874
@junjiemao1 , can you please take a look?

[2021-03-26 07:19] fuzhongl opened #5879 "hybrid_rt scenario does not work with large initrd in pre-launched VM"
**Describe the bug**
For Hybrid_rt scenario, even the grub related `out of memory` issue fixed by adding `--nounzip` parameter after module2;
pre_launched VM still can't boot up with initrd image if the image is larger than 128M.

**Platform**
KBLNUC WHL TGL

**Codebase**
V2.*

**Scenario**
Hybrid_rt

[2021-03-26 07:26] fuzhongl commented on #5805
@jsun26intel Thanks for comments
https://github.com/projectacrn/acrn-hypervisor/issues/5879
will track **`hybrid_rt scenario does not work with large initrd in pre-launched VM issue`**.

So close this issue now.

[2021-03-26 07:26] #5805 closed

[2021-03-26 08:52] psun3x opened #5880 "Refine GPU DSM identical mapping"
**Describe the bug**
A clear and concise description of what the bug is.

**Platform**
Describe the platform information,

**Codebase**
Describe which codebase is used.

**Scenario**
Describe the scenario: Hybrid, Industry or logical_partition

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear an

[2021-03-26 08:53] psun3x commented on #5880
[External_System_ID] ACRN-6886

[2021-03-26 09:46] ionutnechita opened #5882 "Nested virtualization in ACRN Hypervisor"
Hi ACRN Team,

How could i activate Nested Virtualization in ACRN Hypervisor?
I have a Windows VM / WaaG machine and I would like to work with Hyper-V Manager and Docker containers.

![image](https://user-images.githubusercontent.com/9405900/112613079-5c1a5e00-8e28-11eb-89b4-97153ac29a80.png)

In Turn Windown features on and off, Hyper-V Platform option cannot be enabled on.

How can i activate th

[2021-03-26 10:44] gvancuts commented on #5882
Hi @ionutnechita , it is not possible to enable this, nested virtualization is not supported on ACRN.

[2021-03-26 10:55] ionutnechita commented on #5882
Hi @gvancuts,

Do you know any possibilities how I can work with Docker containers in Windows?

[2021-03-26 11:07] gvancuts commented on #5882
I don't I'm afraid.... I'm not an expert on Docker in Windows but my understanding was also that it required virtualization (Hyper-V) to be available... I don't know any way around that :-(

[2021-03-26 13:14] gvancuts commented on #5879
Hi @fuzhongl , can you also add a description of the bug/problem in the text above?

[2021-03-26 14:51] junjiemao1 commented on #5874
My guess is that the root cause lies in some missing dependencies in the Makefile under `hypervisor/`. I'll take a closer look after understanding how parallel builds work with recursive invocations of `make`.

[2021-03-26 20:32] gvancuts commented on #5874
That's my suspicion too, I don't know if there is a more subtle way of fixing this but take a look at PR #5875 as well. That one fixed the problem during all my testing.

[2021-03-26 21:58] gvancuts commented on #5874
[External_System_ID] ACRN-7034

[2021-03-27 02:48] fuzhongl commented on #5879
@gvancuts Just updated the description of the bug.

[2021-03-28 12:46] lygstate commented on #4871
He is talking about VxWorks 653

[2021-03-29 02:10] fuzhongl commented on #5626
Add `nokalsr` in sos kernel command line for workaround.
The formal fix is under review.

[2021-03-29 06:16] junjiemao1 commented on #5874
@gvancuts Here's my proposal: #5884.

[2021-03-29 06:28] zhangshuai75 opened #5885 "How to run Debian and Windows UOS at the same time"
Our goal is run a Windows uos and a RTVM uos on the x86 paltform. RTVM is best based on debian, not clr linux that we are not familiar with.
When the Windos uos is running, the VGA controller and USB controller are all passthroughed, so there is no display and usb device for the Debian.
Then I have tried launch debian through ssh login in sos, but always got "vm_create failed" error
`
[  759.66488

[2021-03-29 07:41] gvancuts commented on #5874
Thanks @junjiemao1 ! This looks good to me!

The patch I had proposed got merged just a couple of hours ago. Feel free to revert it if needed and merge this one instead!

[2021-03-29 07:58] gvancuts commented on #5859
@NanlinXie who owns this script?

I think we should remove the `echo 3 > /sys/kernel/debug/dri/0/i915_cache_sharing` and it would be useful to have someone look at the logic for determining the rootfs as well.

[2021-03-29 08:07] gvancuts commented on #5885
Hi @SIMING29 , can you share the version of ACRN you are using, as well as the scenario and launch script?

I guess the Windows User VM is running correctly, is it?

[2021-03-29 08:35] gvancuts commented on #5406
Adding to the list of things to be documented:
* `passthru` and all its options, e.g. `gpu`, `d3hot_reset`, `keep_gsi`

[2021-03-30 01:20] lirui34 opened #5888 "Unable to launch vm at the second time with `pty,/run/acrn/life_mngr_$vm_name` parameter added in the launch script"
**Describe the bug**
After adding parameter `pty,/run/acrn/life_mngr_$vm_name` into the launch script, the vm is able to launch at the first try but fail  at the second time once perform the poweroff operation in the vm...

**Platform**
EHL

**Codebase**
`HV release_2.4 branch`

**Scenario**
Hybrid_rt

**To Reproduce**
1. Setting below parameter into the launch script:
     `--pm_by_vuart pty,/run

[2021-03-30 02:11] yonghuah opened #5889 "free MSIX related resource before unload uio_pci_generic dirver"
Steps:

load uio_pci_generic driver

unload uio_pci_generic driver.

result:
MSI-x related resources are not released properly.

[2021-03-30 02:12] yonghuah commented on #5889
[External_System_ID] ACRN-7037

[2021-03-30 07:13] SIMING29 commented on #5885
The paltform is Kabylake, ACRN V2.3, Industry Scenario

The uos works well when running Windows or debian respectively.
The problem is that debian uos cannot be run after windows uos runs successfully.
[launch_debian.sh.txt](https://github.com/projectacrn/acrn-hypervisor/files/6227078/launch_debian.sh.txt)
[launch_win.sh.txt](https://github.com/projectacrn/acrn-hypervisor/files/6227080/launch_win.

[2021-03-30 13:53] gvancuts commented on #5885
Hi @SIMING29 ,

There are a couple of things likely problematic in your launch script for Debian, can you try with the one below instead?

I have removed the following from it:
* `--windows` flag
* GPU sharing (aka GVT-g, `pci-gvt`) since you're giving the GPU to the Windows User VM as a pass-through device
* The Windows script gives the USB controller (PCI device 00:14.0) as a pass-through device

[2021-03-30 14:13] gvancuts commented on #5885
Actually... one more thing (which can potentially be very important). The script above for launching Debian is not optimized at all to run a Real-Time VM. I just realised though that this is what you want to do, so we should really look at a script that is more like the one below. A few words about that script (that you likely **cannot** use as is):
* Note the additional flags: `--rtvm`, `--lapic_

[2021-03-31 02:35] yfliuuu opened #5895 "hv: Hide HLAT feature from guests"
For platform with HLAT (Hypervisor-managed Linear Address Translation) capability, the hypervisor shall hide this feature from its guests.

[2021-03-31 02:35] yfliuuu commented on #5895
[External_System_ID] ACRN-6627

[2021-03-31 09:40] SIMING29 commented on #5885
Hi @gvancuts Thanks for your detailed reply.

I edited the launch_debian.sh script and added a "-U 615db82a-e189-4b4f-8dbb-d321343e4ab3" parameter, the Debian vm is running according to the ACRN debug uart, but no system login displayed on the shell terminal.
Debian boot into blind mode. I think it's because the display device is passthroughed to Windows.

[code]
VM_1 is Windows(works OK), VM_3 is

[2021-03-31 21:46] jenmwms opened #5897 "[EHL] Guest OS system slowdown when number IOAPIC RTEs !=24 and fail to boot if =37"
**Describe the bug**
Using Zephyr RTOS as Guest OS in pre-launch mode of hybrid-rt scenario, discovered asymmetric behavior for different values of configuring the number of IOAPIC RTEs. If hardcoded to use 24 RTEs, tests run as anticipated. Recently, dynamic RTE support for IOAPIC driver was implemented and we appropriately retrieve the value from ACRN vIOAPIC, which is 48 supported RTEs.

Howeve

[2021-04-01 02:30] zhangshuai75 opened #5898 "Can't Create a Windows 7 Image"
WHL platform, ACRN2.3, Industry scenario
I have created two versions of Windows10 image, both of them worked well.
When I created a windows7 image, the VM stuck at "starting Windows".

[install_win7.sh.txt](https://github.com/projectacrn/acrn-hypervisor/files/6240498/install_win7.sh.txt)
![357358568](https://user-images.githubusercontent.com/41183477/113233088-0682fd00-92d1-11eb-8166-b41a1d3ad19f.

[2021-04-01 07:31] shuox opened #5899 "Windows guest reboots randomly during IDLE test"
Bug detailed description:

waag will reboot randomly during IDLE test

Reproduce steps:
-------------
 1. Flash V2.3 RC8 build.

2. Boot up pre-launch RTVM and SOS

3. Boot up WaaG with 4G memory

4. Boot up YaaG with 200M memory

5.Run IDLE test and Check WaaG

Current result:

Waag will reboot randomly  **

Expected result:
--------------

WaaG should run normally without reboot

Rate:  randomly

[2021-04-01 07:32] shuox commented on #5899
[External_System_ID] ACRN-6885

[2021-04-01 08:40] jsun26intel commented on #5897
have you tested on native ehl?

[2021-04-01 22:56] gvancuts commented on #5885
Do  you mean you changed the UUID that was indicated in my launch script above? Can you share that latest script (that may be easier for me to look at).

Most likely yes, there is no GPU available in that VM. That blind mode message is from Grub though as far as I know.

 Do you have any message from the Debian VM when you were starting it alone using the original script? Because there is no GPU,

[2021-04-02 03:02] NanlinXie opened #5903 "[Doc] Mismatch in text and picture in ACRN introduction documentation"
There's mismatch in text and Figure 8 for partition mode description, Figure 8 tells safety/rtvm for both guest, but description tells one is safety and another is user VM.

See ACRN webpage https://projectacrn.github.io/latest/introduction/index.html#logical-partition-scenario, which cause user confused about that.

[2021-04-02 07:01] jsun26intel commented on #5897
I've replied in zephyr github issue,  and let Zephyr QA team have a try with CONFIG_APIC_TIMER_IRQ=48.
I guess there is a IRQ overlap between IOAPIC and APIC TIMER.

[2021-04-02 09:35] gvancuts commented on #5903
Good catch, thanks @NanlinXie !

Looking through our various `logical_partition.xml` scenario files, they all only use 2 pre-launched standard VMs (`PRE_STD_VM`). The introductory text should talk rather generically about these different scenario in my opinion. So how about I change the text to indicate that in such scenario one could launch different kinds of VMs (Safety, RTVM, standard), the who

[2021-04-02 09:38] gvancuts commented on #5898
Hi @SIMING29 , we have never tried with Windows 7 AFAIK... @NanlinXie can you confirm this?

[2021-04-02 13:51] andyross commented on #5897
FWIW: the APIC timer interrupt doesn't use an IO-APIC line architecturally, it's always CPU-local.

The suspicion here is, indeed, that ACRN is exposing interrupt inputs to the IO-APIC that aren't external devices and/or shouldn't be initialized by the OS.  All Zephyr is doing with those lines is setting them to a known "idle" state (per the code: edge triggered, active high, masked, fixed deliver

[2021-04-02 16:19] fitchbe commented on #5903
The proposed change to the text to avoid being unnecessarily specific sounds really good to me. Not as sure about the added note, because notes with the word "currently" in them can become out of date. :-) Let's see what @dbkinder thinks.

[2021-04-02 18:39] dbkinder commented on #5903
Agree with Ben here.  We avoid using "currently" or "in the next release" or such wording that becomes confusing.  @gvancuts can you submit a PR to address this...

[2021-04-06 02:32] fuzhongl commented on #5898
@gvancuts  You are right! We have never tried with Windows 7.
Thanks!

[2021-04-06 02:50] fuzhongl commented on #5746
@ionutnechita This issue should be fixed with the latest code of v2.4.
Please heave a try.

[2021-04-06 09:23] SIMING29 commented on #5885
1. launch debian user vm

added the -U parameter in your first script.   [launch_debian.sh.txt](https://github.com/projectacrn/acrn-hypervisor/files/6263139/launch_debian.sh.txt)
When I ran the script alone, got the same message as before.

I added  `“-s 5,virtio-console,@stdio:stdio_port \”`  in the launch_debian.sh script
and added  `"console=tty0 console=hvc0 console=ttyS0"` in debian kernel co

[2021-04-06 22:00] gvancuts commented on #5903
Done, please take a look at #5906

[2021-04-07 01:46] SIMING29 commented on #5885
The error message of using launch_hard_rt_vm.sh to start uos is the same as using launch_xenomai.sh
[launch_hard_rt_vm.sh.txt](https://github.com/projectacrn/acrn-hypervisor/files/6268443/launch_hard_rt_vm.sh.txt)
[code]

[2021-04-07 01:54] fuzhongl commented on #5868
@ionutnechita  please try `hwclock --directisa`
Thanks!

[2021-04-07 09:59] hongxuzhen commented on #5106
@fuzhongl Would you give the detail explaination about "secure boot related"? I am faced with the same problem,but have no idea. following file is the log.
[20210401.log](https://github.com/projectacrn/acrn-hypervisor/files/6270671/20210401.log)

[2021-04-07 12:48] stanleyintel opened #5907 "hv: wrong condition to warn DRHD's INCLUDE_PCI_ALL flag"
**Describe the bug**
In hypervisor/acpi_parser/dmar_parse.c, the parse_dmar_table() shall not print out a warning message when parsing the last DRHD. Instead, it should print out a warning message when previous DRHD already set the DRHD_FLAG_INCLUDE_PCI_ALL_MASK flag. Specifically, the following if-condition.
(!is_include_all_emulated) is incorrect.

        if (!is_include_all_emulated) {

[2021-04-07 21:46] jenmwms commented on #5897
Yes, this is tested on native ehl. This issue is not observed.

[2021-04-07 21:49] jenmwms commented on #5897
Thank you! This does help give a definition that works reliably with Zephyr driver's support of dynamic RTEs, which retreives 48 as expected. However, this is more of a patch than a fix. There is still something going on as Andy described in comment above. Please consider this still a potential issue that we may be evading rather than resolving.

[2021-04-07 21:50] jenmwms commented on #5897
Thank you! This does help give a definition that works reliably with Zephyr driver's support of dynamic RTEs, which retreives 48 as expected. However, this is more of a patch than a fix. There is still something going on as Andy described in comment above. Please consider this still a potential issue that we may be evading rather than resolving.

[2021-04-08 00:27] fuzhongl commented on #5106
@hongxuzhen The original issue is about enabling security boot in BIOS.
Do you also enable security boot in BIOS?
Which platform and codebase are you using?
Could you share `vcpu_list` info under hypervisor console?

[2021-04-08 02:18] hongxuzhen commented on #5106
Dear fulongl,
        Sorry，Now I have not found how to enter the hypervisor console. I will continue to study the doc hard. or Can you tell the way?
      the detail as follow.
       Platform: nuc7i7dnb
       Code Base:release v2.3 or release v2.4
       BIOS Setting: HT and security boot disable，VMX and Vt-d enable
       platform/scenario xml file as shown in the attachment
       The command

[2021-04-08 02:46] ylian16 opened #5909 "[Modularization] timer"
The aim of this effort is:
1. split time related interfaces into logically separate ones, namely, basic cycle/tick support; timer API and short delay.
2. prompt those interfaces into common code with a thin layer of interface between the arch specific part.

[2021-04-08 03:32] SIMING29 commented on #5885
There will be warning messages in  ACRN debug uart when running launch_hard_rt_vm.sh
[code]

[2021-04-08 03:40] fuzhongl commented on #5106
@hongxuzhen
From you shared  20210401.log;

[code]

You already in hypervisor console.
Just hit `ENTER` key and input `vcpu_list`

[2021-04-08 06:15] hongxuzhen commented on #5106
@fuzhongl
   Thanks for your help， vpulist as follow

VM ID    PCPU ID    VCPU ID    VCPU ROLE    VCPU STATE    THREAD STATE
=====    =======    =======    =========    ==========    ==========
  0         0          0       PRIMARY      Running          RUNNING
  0         1          1       SECONDARY    Init             BLOCKED
  0         2          2       SECONDARY    Init             BLOCKED

[2021-04-08 15:30] dbkinder opened #5911 "doc: document how ACRN option details are maintained and generated"
Starting with the v2.4 release, the ACRN configuration option documentation is now maintained n the .xsd files over in the misc folder and we generate the documentation using xsltproc to pull annotation data from those .xsd files. Update the docbuild documentation (https://projectacrn.github.io/latest/tutorials/docbuild.html) to describe this.

[2021-04-08 17:50] andyross commented on #5897
Ah, OK.  So this is looking like a Zephyr bug then.

Our APIC code configures a "IRQ" in a funny space -- APIC interrupts are delivered to CPU vectors, not IO-APIC lines.  So the vectors get encoded such that the vector indexes lie immediately after the IO-APIC RTEs.  But when the number of RTEs changes (as it does here under ACRN) we need to move the APIC "IRQ" to match so it encodes the same vec

[2021-04-09 06:10] taoyuhong opened #5913 "DM: RAM and MMIO address change for post-launched VM"
change high RAM start address to 4GB for post-launched VM
change 64-bit mmio address space to 256G-512G for post-launched VM

[2021-04-09 06:11] taoyuhong commented on #5913
[External_System_ID] ACRN-6526

[2021-04-09 07:02] SIMING29 commented on #5885
I reconfigured the scenario and launch xml using ACRN configuration editor.Then it worked. I think the possible key factor is the setting of uos_type, which I set before is WINDOWS, now it's GENERIC LINUX.

[2021-04-09 07:19] jsun26intel commented on #5897
@andyross  @jenmwms
please double check zephyr's implementation.
EHL native doesn't use APIC timer, it use HPET timer by default, whereas ACRN has no vHPET implementation, so we have to use APIC timer instead. That's why the issue could not be reproduced on EHL native. Maybe you can have a try on APIC timer with SMP disabled.

On Zephry's apic timer implementation (drivers/timer/apic_timer.c), it

[2021-04-09 07:52] jsun26intel commented on #5897
oh, sorry. I missed the comments from @andyross .

[2021-04-09 10:17] NanlinXie opened #5915 "Hypervisor PTM Support"
The Hypervisor shall provide the hypervisor specific functionality needed for PTM(Precision Time Measurement) to function on PTM enabled PCIE devices that are passed through or mediated.

[2021-04-09 10:18] NanlinXie commented on #5915
[External_System_ID] ACRN-5896

[2021-04-09 10:23] NanlinXie opened #5916 "Need support of high MMIO addresses"
When high MMIO address is enabled in BIOS, we see memory corruptions in ACRN. This is due to the statically sized page tables (ppt_pxxx_pages) that is not big enough to cater for high MMIO address.

[2021-04-09 10:25] NanlinXie commented on #5916
[External_System_ID] ACRN-6046

[2021-04-09 10:26] NanlinXie opened #5917 "Virtualization RDT with CAT/CDP - Single VM"
The Hypervisor and ServiceOS shall be able to enable virtual CAT (Cache Allocation Tech) and virtual CDP (Cache Data Prioritization) for a single Guest VM.

[2021-04-09 10:26] NanlinXie commented on #5917
[External_System_ID] ACRN-6101

[2021-04-09 10:37] NanlinXie opened #5918 "Hybrid cores support in hypervisor"
For platform with hybrid cores (eg. ADL), the hypervisor shall be able to do enumeration and boot all big and small cores in its context.

[2021-04-09 10:37] NanlinXie commented on #5918
[External_System_ID] ACRN-6632

[2021-04-09 10:41] NanlinXie opened #5919 "UC lock support"
1. The hypervisor shall present a virtual UC lock capability to the guest, and directly deliver #GP to guest. Virtual UC lock capability helps the guest to isolate violations from user land. Guest write of MSR_TEST_CTL is ignored, guest read gets the written value.
2. Add a config ENFORCE_TURNOFF_UC if developer want to run ACRN on a buggy system.

[2021-04-09 10:42] NanlinXie commented on #5919
[External_System_ID] ACRN-6636

[2021-04-09 10:47] NanlinXie opened #5920 "Modularization for paging/memory/interrupt/multiboot/timing part."
ACRN shall be built with multiple modules
Same functionality module shall be able to realized through different implementation
Module shall be able to configurable (not choose or use different implementation)

[2021-04-09 10:47] NanlinXie commented on #5920
[External_System_ID] ACRN-6846

[2021-04-09 10:48] NanlinXie opened #5921 "Decouple libvirt with acrnctl and support all acrnctl functionality on virsh (Phase 1)"
1. Decouple libvirt with acrnctl and support some acrnctl’s functionality on virsh
2. Enable guest auto-boot in ACRN libvirt
<html>
<body>

Acrnctl command | Libvirt functionality | Libvirt Features in ACRN v2.7
-- | -- | --
acrnctl add | define | Yes
acrnctl del | undefine | Yes
acrnctl list | list | Yes
acrnctl start | start | Yes
acrnd | autostart | Yes

</body>
</html>

[2021-04-09 10:49] NanlinXie commented on #5921
[External_System_ID] ACRN-6920

[2021-04-09 10:50] NanlinXie opened #5922 "[ConfigToolTask] Refinement of board XML"
Configuration Tool Arch need to be optimized via refine board.xml and board xsd

[2021-04-09 10:50] NanlinXie commented on #5922
[External_System_ID] ACRN-6963

[2021-04-09 10:51] NanlinXie opened #5923 "Nested Virtualization"
The hypervisor shall support to run a hypervisor inside a partitioned VM, and such feature shall be configurable. The hypervisor shall support to run a hypervisor inside a partitioned VM, and such feature shall be configurable.

[2021-04-09 10:51] NanlinXie commented on #5923
[External_System_ID] ACRN-6965

[2021-04-09 10:52] NanlinXie opened #5924 "[Code refine]: Refine hypercall dispatch"
The permission checks in vmcall_vmexit_handler() cover multiple aspects in the same if … else if … else block, which will not scale when more kinds of checks are needed. To enhance scalability the permissions should be maintained and checked in a unified manner.

[2021-04-09 10:52] NanlinXie commented on #5924
[External_System_ID] ACRN-6999

[2021-04-09 23:24] NanlinXie commented on #5917
Doc Impact Analysis:

- [ ] Does the change introduce any hypervisor configuration data?

- [ ] Does the change add or modify any kernel module parameter?

- [ ] Does the change add or modify any DM command line option?

- [ ] Does the change add or modify any command line option in acrn-tools?

- [ ] Does the change add or modify any command to acrn shell (i.e. the HV UART shell for debugging)?

[2021-04-12 05:33] szhen11 opened #5925 "[acrn-configuration-tool] Audio device should be removed from launch script xml files"
Audio pt event should be removed from these launch script xml as below since audio device is no more exist in "ehl-crb-b.xml":

misc/config_tools/data/ehl-crb-b/industry_launch_1uos_waag.xml:         <audio desc="vm audio device">00:1f.3 Multimedia audio controller: Intel Corporation Device 4b58</audio>
misc/config_tools/data/ehl-crb-b/hybrid_rt_launch_1uos_waag.xml:                <audio desc="vm

[2021-04-12 05:35] szhen11 commented on #5925
[External_System_ID] ACRN-7029

[2021-04-12 07:45] fuzhongl commented on #5106
@hongxuzhen How many memory on you board?
Could you please share the `acrn.bin` for me to reproduce?

Thanks!

[2021-04-12 07:47] NanlinXie commented on #5921
Doc Impact Analysis:

- [ ] Does the change require HLD update? If yes, need update HLD.

- [ ] Does the change introduce any hypervisor configuration data? If yes, need update configuration item description.

- [ ] Does the change add or modify any kernel module parameter? If yes, need update kernel module parameter description.

- [ ] Does the change add or modify any DM command line option? If

[2021-04-12 08:05] ionutnechita commented on #5868
Hi @fuzhongl,

This command working.
Thanks.

[2021-04-12 09:14] gvancuts commented on #5868
Is this the expected behaviour (and if so, should this be documented somewhere) or is this a bug?

[2021-04-12 09:23] NanlinXie commented on #5815
Regarding to "hugepagesz" and "hugepages" kernel cmdline, we are aligned to below solution:
1. Remove the hardcode setting in HV code.
2. User could use grub to overwrite these two settings.
3. Config tool will set default value based on cpuid support, hugepagesz=1G, and calculate hugepages.
4. Add parameter description for how to set these two parameters.
5. Add sanity check in config tool to che

[2021-04-12 12:46] gvancuts commented on #5921
There are a few tutorials that reference `acrnctl`: "S5 enabling", "Kata Containers" and "OpenStack/libvirt"

Kata implementation also uses `acrnctl` so if we plan to deprecate or make the tool a debug tool like it was originally intended to be, we'll need to make adjustements to the Kata implementation and user guide.

[2021-04-12 13:22] ionutnechita commented on #5868
Hi @gvancuts,

Maybe it's a bug.
@fuzhongl, maybe you should explain this behavior here in the ticket so we can all understand it.

[2021-04-12 13:30] ionutnechita commented on #5882
Hi @gvancuts,

I observed this ticket:
https://github.com/projectacrn/acrn-hypervisor/issues/5923

Maybe is possible in future. Maybe with ACRN 2.5.

Thanks.

[2021-04-12 13:35] gvancuts commented on #5882
Hi @ionutnechita , yes, there is some form of nested virtualization that the team is looking into. I have not seen much details yet but my understanding is that the primary use-case is to allow this from within the Service VM. In your case, you would like to do this from a standard post-launched VM, and I'm not sure if that's within the scope of what they're looking at at the moment.

Having said

[2021-04-12 23:21] fuzhongl commented on #5868
@JasonChenCJ
Could you please help to comment about this issue?
Thanks!

[2021-04-13 01:04] fuzhongl commented on #5879
[External_System_ID] ACRN-7049

[2021-04-13 02:20] fuzhongl commented on #5897
Closed as it isn't ACRN bug.

[2021-04-13 02:20] #5897 closed

[2021-04-13 07:16] szhen11 opened #5927 "[TGL-NUC] grub can't load acrn.bin with default HV_RAM_SIZE"
Environment
# must include but not limited to the items below

HW/Board
TGLNUC

Build link
v2.4

Loading hypervisor industry scenario ...
error: couldn't find suitable memory target.
error: you need to load the kernel first.

[2021-04-13 07:16] szhen11 commented on #5927
[External_System_ID] ACRN-7033

[2021-04-13 08:38] iaGuoZhi opened #5928 "tutorial error in building acrn over qemu"
**Describe the bug**
When I want to boot acrn through qemu, tutorial [**Enable ACRN Over QEMU/KVM**](https://projectacrn.github.io/latest/tutorials/acrn_on_qemu.html) tells me build acrn hypervisor using  tag: acrn-2020w19.5-140000p. however there is no qemu.xml  in tag: acrn-2020w19.5-140000p which is used as BOARD_FILE.

**Codebase**

https://github.com/projectacrn/acrn-hypervisor/tree/acrn-2020

[2021-04-13 10:48] gvancuts commented on #5928
Good catch! (I wonder how this even passed our Q&A testing... @NanlinXie ?)

We should really take the opportunity to refresh this to be based on the latest release, i.e. `v2.4`.

[2021-04-13 10:52] gvancuts commented on #5882
@ionutnechita , FYI, the first set of patches to support nested virtualization have been sent on the mailing list for review: https://lists.projectacrn.org/g/acrn-dev/message/31213

[2021-04-13 10:53] gvancuts commented on #5923
@NanlinXie , this one will definitely require some documentation ;-)

[2021-04-14 01:00] iaGuoZhi commented on #5928
Is there any arch-hypervisor release can build acrn over qemu? I'm eager to try ACRN over qemu.

[2021-04-14 01:22] gvancuts commented on #5928
I'm in the process of trying to update this document to be based on ACRN v2.4 (the latest release as of today).

Unfortunately, ACRN v2.4 does not start. It throws the following error on the console:
[code]

@NanlinXie can you confirm what is the latest version that we have validated? Can you also ask one of the engineer to chime in as to what the problem may be with this ACRN v2.4 error on QEMU?

[2021-04-14 08:08] lifeix opened #5929 "ADL platform enabling"

[2021-04-14 08:08] lifeix commented on #5929
[External_System_ID]ACRN-7009

[2021-04-14 08:14] fuzhongl commented on #5705
@ionutnechita This issue is fixed in v2.4.
Please double check it.
Thanks!

[2021-04-14 09:02] gvancuts commented on #5928
For information, I have tried this on both Skylake and Kaby Lake processors with the same results.

[2021-04-14 16:20] ionutnechita opened #5931 "[WindowsGuest] It is not seen and detected Oracle VirtIO SCSI Virtual Disk"
Hi ACRN Team,

I try to install WaaG in ACRN SOS.
But not working. VirtIO Disk is not detected.
I using ACRN 2.4 Stable, but i try with ACRN 2.5 Unstable and this issue is same.

SOS:
OpenSUSE Tumbleweed
ACRN 2.4
Scenario: Industry / Industrial
Oracle ISO for Windows VirtIO Drivers
GOP VBIOS for NUC7I7BNH

WaaG / ISO for install:
Win10_20H2_v2_English_x64.iso

[code]

[code]

[code]

[code]

[2021-04-15 06:41] lirui34 opened #5932 "config-tools: Fail to create KATA VM type in tgl-rvp industry scenario through the webui app"
*HV branch:* master / commit: b8e0ef32404850f394597836c2dbf7d71511230e
*Step:*
1. launch webui app:
`# python misc/config_tools/config_app/app.py`
2. Import tgl-rvp board and choose default industry scenario xml
3. Click "Add a VM below " button to create a "KATA VM"
4. Check the new vm from the bottom of the page.

*Result:*
The new vm was changed to "POST STD VM"

[2021-04-15 06:45] lirui34 commented on #5932
[External_System_ID] ACRN-7053

[2021-04-15 09:07] ionutnechita commented on #5931
I've tried the --windows parameter now, and it looks like I'm going to install.
So without the --windows parameter, the Windows operating system cannot be installed.

[2021-04-15 11:55] tttech-industrial-buchsbaum opened #5936 "Cannot start VM without life_mgnr running on SOS in ACRN 2.4"
Up till now we are using ACRN 2.0 on a Debian base system together with libvirt to control the VMs. One of the VMs is started with RT parameters. This is the command that is generated by the libvirt's ACRN hypervisor driver (deduced from libvirtd logs):

[code]

As you can see we use vuart based power mangement channel to the VM where life_mngr is running (`/usr/bin/life_mngr uos /dev/ttyS1`) to d

[2021-04-15 17:33] ionutnechita commented on #5705
Hi @fuzhongl,

This issue is fixed.
It's fine now.

Total Physical Memory: 7.94 GB

I tested with ACRN 2.4 and Scenario: Industrial / Industry

It's fine for close this ticket.

[2021-04-15 21:46] gvancuts opened #5938 "ACRN v2.4 does not run on QEMU"
I'm in the process of trying to update our "Running ACRN on QEMU" document to be based on ACRN v2.4 (the latest release as of today).

Unfortunately, ACRN v2.4 does not start. It throws the following error on the console:
[code]
You can see the steps that I have followed in my draft PR #5937

_Originally posted by @gvancuts in https://github.com/projectacrn/acrn-hypervisor/issues/5928#issuecomment

[2021-04-15 23:57] #5705 closed

[2021-04-16 08:47] zhangshuai75 opened #5939 "How to write an application to test Inter-VM Communication"
![ivshmem](https://user-images.githubusercontent.com/41183477/114996320-4c46e480-9ed1-11eb-920b-7863ae71db0d.png)

As shown in the picture, Is there an application demo under linux and windows？
Or where can I find the relevant information? like the ivshmem user-space driver and the API

[2021-04-16 09:30] NanlinXie commented on #5936
Could you try to remove --pm_notify_channel uart --pm_by_vuart tty,/dev/ttyS1 if the VM is not intended for lifecycle_mngr?

Best wishes!
Nanlin
From: Helmut Buchsbaum ***@***.***>
Sent: Thursday, April 15, 2021 7:56 PM
To: projectacrn/acrn-hypervisor ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [projectacrn/acrn-hypervisor] Cannot start VM without life_mgnr running on SOS in ACRN 2.4 (#5936)

[2021-04-16 13:46] iaGuoZhi commented on #5928
Hi gvancuts!
I'm sorry to bother you, but I'm very eager to run ACRN so as to try out what it offers. This is a really pressing deadline for me. Therefore, As Qemu can not boot ACRN now, Would you like to help me check whether ACRN v2.4 is supported in Maxtang Intel WHL-U i7-8665U (AX8665U-A2). If it is supported, I will buy a Maxtang right now.

[2021-04-16 14:24] ionutnechita commented on #5931
Hi @gvancuts,

In documentation page for "--windows" parameter.
https://projectacrn.github.io/latest/user-guides/acrn-dm-parameters.html?highlight=windows

--windows
This option is used to run Windows User VMs. It supports Oracle virtio-blk, virtio-net and virtio-input devices for Windows guests with secure boot.

usage:

--windows

A note may be mentioned to say that this parameter is important t

[2021-04-17 00:37] gvancuts commented on #5928
Hi @iaGuoZhi , I don't have that board myself but I believe it works fine. @NanlinXie can you confirm?

The very latest platform that we support are the Tiger Lake-based NUCs (aka Tiger Canyon). E.g.:
* https://ark.intel.com/content/www/us/en/ark/products/212517/intel-nuc-11-pro-kit-nuc11tnhi50l.html
* https://ark.intel.com/content/www/us/en/ark/products/205603/intel-nuc-11-pro-kit-nuc11tnki5.html

[2021-04-17 01:12] SIMING29 commented on #4982
Hi @fuzhongl

Are there these limitations still exist in ACRN 2.3?

Can you share the test application? Or give some clues about ivshmem test programming, like where can I find the user-space driver and api
Thanks.

[2021-04-17 07:05] NanlinXie commented on #5928
Hi, @iaGuoZhi ,
1.  For the Qemu document, there's one mistake for the ACRN tag, please try ACRN v2.0 for Qemu to see whether it works for you.
2. Maxtang WHL board is working with the latest ACRN, but we suggested user to use ACRN v2.0 for WHL board for full feature.
3. As geoffroy said , we are going to recommend Tiger Lake NUC to community soon, you could join our next week's TCM to see the dis

[2021-04-17 07:06] iaGuoZhi commented on #5928
Thanks! @gvancuts  @NanlinXie

[2021-04-17 07:10] NanlinXie commented on #5938
Two things are ongoing on Qemu guide:
1. Fix the error tag in current document, there's mistake for the ACRN tag, it should be ACRN v2.0.
2. Qemu has regression issue after v2.0, we are ongoing to fix that and refresh the QEMU guide to the latest ACRN.

[2021-04-18 03:18] iaGuoZhi commented on #5928
Hi!
Which hw can exploit ACRN's full feature? wl10 or axwl10?
As ACRN document mentions Maxtang WL10 in Supported hardware section. https://projectacrn.github.io/2.0/reference/hardware.html#verified-platforms-according-to-acrn-usage
and AXWL10 is recommanded in getting start with ubuntu section https://projectacrn.github.io/2.0/getting-started/rt_industry_ubuntu.html
Thanks~

[2021-04-19 00:40] fuzhongl commented on #4982
@zhangshuai75

This issue is fixed in v2.1.
Please refer this [link](https://projectacrn.github.io/latest/tutorials/enable_ivshmem.html) about ivshmemTest.

[2021-04-19 01:25] zhangshuai75 commented on #4982
@fuzhongl
Thanks, I have set the acrn according to the link above, but I'm not sure how to write the application to test
please check this issue #5939

[2021-04-19 01:38] fuzhongl commented on #4982
@NanlinXie
Any comments about ivshmemTest?

[2021-04-19 06:42] szhen11 commented on #5815
[External_System_ID] ACRN-7057

[2021-04-19 07:50] zhangshuai75 commented on #5558
Hi @fuzhongl
Can you update the patch file?
When copy the above patch content to a file, it will cause the use of “spaces” to replace the “Tab”, which will lead to patching failure

[2021-04-19 08:08] yantingj opened #5941 "Add ADL-P Board xml"
We need to add board xml to enable ADL-P platform.

[2021-04-19 08:39] fuzhongl commented on #5558
Hi ZhangShai
The patch is generated by git.
The format maybe changed when copied to github.
This patch is NOT MUST if your board has serial port or you use 5.4 rt kernel.

BR.
Fuzhong
From: ZhangShuai ***@***.***>
Sent: Monday, April 19, 2021 3:51 PM
To: projectacrn/acrn-hypervisor ***@***.***>
Cc: Liu, Fuzhong ***@***.***>; Mention ***@***.***>
Subject: Re: [projectacrn/acrn-hypervisor] can't boo

[2021-04-19 08:59] yantingj commented on #5941
[External_System_ID] ACRN-7009

[2021-04-19 09:19] hongxuzhen commented on #5106
Dear fuzhongl,  Sorry for later，memory = 16G, acrn.bin
[acrn_bin.tar.gz](https://github.com/projectacrn/acrn-hypervisor/files/6334753/acrn_bin.tar.gz)
as follow

[2021-04-19 09:43] fuzhongl commented on #5106
@hongxuzhen  Only 45 byte for your uploaded acrn_v2.4.bin
There must be something wrong,  please re-uploaded again.
Thanks!

[2021-04-19 10:00] hongxuzhen commented on #5106
Sorry,Please check the new one
[acrn_bin.tar.gz](https://github.com/projectacrn/acrn-hypervisor/files/6335044/acrn_bin.tar.gz)

[2021-04-19 12:02] gvancuts commented on #5939
Hi @zhangshuai75 , this is a gap, we do not have such tutorial or example code. It would be good to have one. @NanlinXie , who can we assign this to?

[2021-04-19 12:18] yonghuah commented on #5939
@zhangshuai75 @gvancuts ,  ACRN implements IVHSHMEM device following below device specification defined by KVM/QEMU community:
https://git.qemu.org/?p=qemu.git;a=blob_plain;f=docs/specs/ivshmem-spec.txt;hb=HEAD

For usage information, please refer to "Enable Inter-VM Communication Based on Ivshmem“
https://projectacrn.github.io/latest/tutorials/enable_ivshmem.html

-Yonghua

[2021-04-19 13:20] gvancuts commented on #5939
Thanks @yonghuah , I am aware of these documents (and I guess @zhangshuai75 is too), but it would be good to have a small sample app that demonstrates this and can also help users validate that the shared memory segments they set up are working correctly. `man shm_open` (https://man7.org/linux/man-pages/man3/shm_open.3.html) gives a simple example and something similar, but for ACRN would be good

[2021-04-19 21:47] gvancuts opened #5943 "Cannot boot from USB device with some platforms"
It is not possible to boot from USB on some platform/devices. We need additional options turned on in the kernel, namely:
[code]

[2021-04-19 21:48] gvancuts commented on #5943
[External_System_ID] ACRN-7048

[2021-04-20 00:19] fuzhongl commented on #5106
@hongxuzhen
You shared acrn.bin can't work on my side. From the  HV version info, it seems like your build isn't the final v2.4 code: unstable info isn't for release branch.

[code]

I build with v2.4; it works well. Please check boot log for detail.
sudo make clean && sudo make hypervisor BOARD=nuc7i7dnb SCENARIO=sdc

[Multiboot2 Bootloader: GRUB 2.02-2ubuntu8.17
[0us][cpu=0][(null)][sev=3][seq=1

[2021-04-20 02:22] zhangshuai75 commented on #5939
@gvancuts @yonghuah , Thanks, our main purpose now is to test the functionality and performance of ACRN, the application development will be put after the verification. From our point of view, it’s better to have a demo, otherwise we may take a lot of time to write and the test results are not comprehensive

[2021-04-20 03:58] zhangshuai75 commented on #5717
Hi @chejianj how did you test the ivshmem? Is there any open source demo or programming information?

[2021-04-20 06:26] tttech-industrial-buchsbaum commented on #5936
But --pm_notify_channel uart --pm_by_vuart tty,/dev/ttyS1 defines the connection between acrn-dm and the VM and is needed for the life cycle management of the VM! There is just no reason to run life_mngr running on SOS!

[2021-04-20 07:00] gvancuts commented on #5939
We need a tutorial on how to use `ivshmem`, let's track this in this request, re-opening. Please assign someone to this task and @dbkinder @fitchbe and I will help review this.

[2021-04-20 07:26] yantingj commented on #5936
Can you try to only remove the option "--pm_notify_channel uart"?
The use case for life_mngr running on SOS is: System shutdown request from a UoS to SoS. In this case, UoS need "--pm_notify_channel uart" in acrn-dm option, and SoS need life_mngr service.
In your uese case, you only need system shutdown request from SoS to UoS, thus, "--pm_notify_channel uart" and life_mngr are not needed.

[2021-04-20 13:38] gvancuts commented on #5936
We really need a better document that describes the different options and scenarios for managing power management at the system level. I have tried to reverse-engineer some of it already but it appears rather convoluted to me and the language we use in the various options that are linked to this is not really helping me. Net net, I think I can help improve the doc but I need help understand the wh

[2021-04-20 23:36] fuzhongl commented on #5106
@hongxuzhen Could you please check if sos boots up on your board after adding  `nokaslr` in kernel cmdline?
Thanks!

[2021-04-21 01:55] hongxuzhen commented on #5106
With rebuild acrn.efi; this issue has be solved. I build acrn.efi with 'git checkout release_v2.4' before that time, may be the root cause is this.
thanks a lot for your help!

[2021-04-21 02:43] fuzhongl commented on #5106
@hongxuzhen Thanks for feedback.

[2021-04-21 09:06] gvancuts opened #5948 "ACRN Configuration Toolset: hardcoding of boards for pass-through devices"
There are a number of things hard-coded in https://github.com/projectacrn/acrn-hypervisor/blob/master/misc/config_tools/library/board_cfg_lib.py that should really be listed outside of the tool itself (i.e. in the board or scenario configuration files instead). Examples of those:
* List of known PCI devices to be hidden for some board - https://github.com/projectacrn/acrn-hypervisor/blob/master/mi

[2021-04-22 00:40] rliu88 commented on #5915
For post launch:
To use, to "enable-ptm" when pass through device, example in launch script:
/home/labuser/RL/bin/acrn-dm -A -m $mem_size -s 0:0,hostbridge \
  -s 3,virtio-blk,/home/labuser/RL/ubuntu_images/uos-test.img \
  -s 4,virtio-net,tap0 \
  -s 5,virtio-console,@stdio:stdio_port \
  -s 6,passthru,a9/00/0,**enable_ptm** \
  --ovmf /usr/share/acrn/bios/OVMF.fd \
}

Sample output from guest os

[2021-04-22 03:49] NanlinXie opened #5950 "[DX_task]Remove is_rt_vm"
GUEST_FLAG_RT is actually a policy level flag, which should only be aware by up-level, and should not be seen in hypervisor source code.

In the hypervisor, it should not know if a VM is a RT VM, but just know if a VM is using LAPIC pass-thru, and if a VM is a high severity VM.

[2021-04-22 03:49] NanlinXie commented on #5950
[External_System_ID] ACRN-6701

[2021-04-22 03:50] NanlinXie commented on #5950
Doc Impact Analysis:

- [ ] New feature -> new HLD and usage guide
- [ ] [HLDs](https://projectacrn.github.io/2.3/developer-guides/hld/index.html)
- [ ] [Configuration data](https://projectacrn.github.io/2.3/tutorials/acrn_configuration_tool.html)
- [ ] [Kernel module parameters](https://projectacrn.github.io/2.3/user-guides/kernel-parameters.html)
- [ ] [Device Model (acrn-dm) parameters](https:/

[2021-04-22 06:41] yonghuah opened #5951 "SOS boot failed with PTCM enabled on mainline branch"
Steps

Config to enable PSRAM in TGL scenario xml (misc/config_tools/data/tgl-rvp/industry.xml)                                                                         <PSRAM>
<PSRAM_ENABLED>n</PSRAM_ENABLED>
</PSRAM>
build hypervisor w: make BOARD=tgl-rvp SCENARIO=industry release=0
replace the build on test BOARD and boot HV and SOS
Expect Result

HV and SOS boot normally with PTCM enabled

Actu

[2021-04-22 06:41] yonghuah commented on #5951
[External_System_ID] ACRN-7068

[2021-04-22 08:15] ylian16 opened #5953 "hv: Fixed release build issue introduced with PR 5857"
Header files were not properly handled in release versions.

[2021-04-22 08:35] ylian16 commented on #5953
[External_System_ID] ACRN-7069

[2021-04-22 08:54] szhen11 opened #5955 "[TGL][Master][IVSHMEM]Failed to build HV after enable IVSHMEM on master branch"
Environment

 HV repo: https://github.com/projectacrn/acrn-hypervisor.git
commit 628bca5cad3edd7a9f6d1abdbd29fa38964b6239
Branch： Master
 HW: TGL

Steps

        1. git clone HV repo and check out master branch

        2. Config to enable IVSHMEMin TGL scenario xml (misc/config_tools/data/tgl-rvp/industry.xml)

[2021-04-22 08:54] szhen11 commented on #5955
[External_System_ID] ACRN-7070

[2021-04-22 10:04] gvancuts commented on #5938
Additional information on this issue: that error is gone since 628bca5cad3edd7a9f6d1abdbd29fa38964b6239 (more specifically this updated define: `#define MAXIMUM_PA_WIDTH	46U	/* maximum physical-address width */` is what gets us passed the error above).

It does not however work yet, the hypervisor successfully starts the Service VM but it does not boot. There is a kernel crash in the Service VM an

[2021-04-22 10:49] shuox opened #5956 "TLFS bugs"
1) waag's Hypercall should not clear edx register when CPU is under x64 mode
2) Initial value of reference time is not zero

[2021-04-22 10:50] shuox commented on #5956
[External_System_ID] ACRN-5566

[2021-04-22 10:50] shuox commented on #5956
[External_System_ID] ACRN-5586

[2021-04-22 10:51] gvancuts commented on #5950
Why is this marked as a `DX_task`? I thought it was more of a code clean-up initiative but with in practice little to no effect to the user, or am I missing something?

[2021-04-22 10:54] gvancuts opened #5959 "Use of UUIDs: should they be visible or not to users?"
**Use of UUIDs: should the user use them, if so how?**
I actually cannot think of a reason we’d want those to be exposed to the user at all.
* The use of `--rtvm` implies we use a specific UUID in the launch script. This is redundant and error-prone. We should be able to leave the UUID out of the picture and let `acrn-dm` figure out which to use or throw an error if none is available.

[2021-04-22 10:56] gvancuts opened #5960 "CPU assignment in ACRN"
The `--cpu_affinity` parameter (`acrn-dm`) should work within the boundaries of what’s defined in the scenario XML. A meaningful error should be thrown if the launch script uses a CPU assignment that conflicts with that.

[2021-04-22 10:57] gvancuts commented on #5960
A case could also be made to remove the option altogether although I personnally see _some_ value in being able to tweak a little the basic CPU assignment from the scenario file directly from the launch script.

[2021-04-22 11:01] gvancuts opened #5961 "Automatic (and transparent) CPU cores offlining"
CPU core(s) need to be set `offline` before they can be assigned to a User VM. This is currently done manually or as part of the launch script, but outside of the ACRN tools (e.g. `acrnctl`, `acrn-dm`, ...). This operation should really be done transparently by `acrn-dm` when starting the User VM.

[2021-04-22 11:03] gvancuts opened #5962 "ACRN Device Model `--windows` parameter"
The `--windows` parameter is used to enable the Oracle VirtIO block device instead of the standard `virtio-blk`.

This option should probably be renamed into something more meaningful, or possibly even as a sub-option of the `virtio-blk` PCI device.

I assume other User VM OSs may want to use that device, not just Windows (or is this really something that can and should only be used with Windows?)

[2021-04-22 12:05] gvancuts opened #5963 "ACRN Configuration Toolset"
Importing/creating new board should **not** create new files mixed with the rest of the existing code.

[2021-04-23 01:08] zhangshuai75 commented on #5188
use V2.3 with passthrough gpu works well

[2021-04-23 01:08] #5188 closed

[2021-04-23 01:09] zhangshuai75 commented on #5872
ignore these messages.

[2021-04-23 01:09] #5872 closed

[2021-04-23 01:11] zhangshuai75 commented on #5898
not success with Win7

[2021-04-23 01:11] #5898 closed

[2021-04-23 01:16] zhangshuai75 commented on #5885
Use this patch to enable polling mode in linux-stable-xenomai, or git clone the newest linux-stable-xenomai.
[Merge pull request #2 from tw4452852/virtio-polling-mode · intel/linux-stable-xenomai@224f688 · GitHub](https://github.com/intel/linux-stable-xenomai/commit/224f68869f267cd9df60399d32553431e71afc8a)

[2021-04-23 01:16] #5885 closed

[2021-04-23 01:50] zhangshuai75 opened #5965 "When reboot RTVM, the SOS reboot"
**Describe the bug**
When I reboot the RTVM, the SOS will reboot.

**Platform**
WHL Intel(R) Core(TM) i7-8665U

**Codebase**
$ acrn-dm -v
DM version is: 2.3-cfc3017a6-dirty (daily tag:acrn-2020w48.5-180000p)

**Scenario**
industry

**To Reproduce**

 sudo ./launch_xenomai.sh -b /dev/sda2 -k ../linux-4.19.59-xenomai-3.1-acrn+-x86.tar.gz
or
sudo ./launch_hard_rt_vm.sh

In RTVM, poweroff function is

[2021-04-23 04:00] zhangshuai75 commented on #4982
Hi @fuzhongl  Any update?

[2021-04-23 11:04] gvancuts opened #5966 "Remove MAX_KATA_VM_NUM variable"
There is a hypervisor variable that defines the max number of Kata Containers that can be run on ACRN: https://projectacrn.github.io/latest/reference/config-options.html?highlight=kata_vm#cmdoption-arg-hv.CAPACITIES.MAX_KATA_VM_NUM.

My analysis after a little digging is that we should be able to remove this altogether and treat Kata Containers are normal post-launched User VMs. There is nothing i

[2021-04-23 23:17] gvancuts commented on #5842
Patch merged, closing

[2021-04-23 23:17] #5842 closed

[2021-04-23 23:20] gvancuts opened #5968 "HV can't support UART=dbf@XXX format if bar0 of the serial_PCI device isn't MMIO"
The hypervisor will fail to use a PCI serial port device if its bar0 is not MMIO.

[2021-04-23 23:21] gvancuts commented on #5968
[External_System_ID] ACRN-7011

[2021-04-24 03:37] iaGuoZhi opened #5970 "ACRN panic when boot acrn-hypervisor in MAXTANG WHL WL10 board"
**Describe the bug**

When I follow ACRN document [Getting Started Guide for ACRN Industry Scenario with Ubuntu Service VM](https://projectacrn.github.io/2.0/getting-started/rt_industry_ubuntu.html) with ACRN v2.0 using MAXTANG WHL WL10 board. ACRN fail to boot

**Platform**

cpu: i5: Intel(R) Core(TM) i5-8265U
service vm: ubuntu20
grub: grub2.04

**Codebase**
I've tried ACRN v2.0 v2.2 v2.4.

**Sc

[2021-04-24 06:38] gvancuts commented on #5970
Can you check/confirm the following:
* Number of CPUs on your platform?
* Check bios options (hyperthreading turned off, all VT turned on, e.g. VT-x, VT-d)
* Version of Ubuntu used, is that 18.04 or 20.04?

I don't know if this is what can cause this issue but you need to patch Grub in 18.04.

[2021-04-24 11:16] iaGuoZhi commented on #5970
Thanks @gvancuts
After I configure BIOS with hyperthreading disabled, ACRN can boot successfully now. Thanks a lot~

[2021-04-25 10:38] iaGuoZhi commented on #5558
Hi @fuzhongl
Can ACRN hypervisor v2.0 support rt kernel 5.4? I encountered the same problem when boot rt kernel 4.19 on ACRN hypervisor v2.0.

[2021-04-25 10:42] iaGuoZhi commented on #5558
Is ACRN document out of date? Documents whether v2.0 or latest version both tell me to build rt kernel with version 4.19. which will cause above problem.

[2021-04-25 21:24] gvancuts commented on #5970
Thanks for the confirmation @iaGuoZhi !

@NanlinXie @dbkinder , this is an example of an error message that could be improved. And perhaps ACRN shouldn't panic if there are more processors than what it was configured to use.

[2021-04-26 11:57] iaGuoZhi commented on #5970
In [Getting Started Guide for ACRN Industry Scenario with Ubuntu Service VM](https://projectacrn.github.io/2.0/getting-started/rt_industry_ubuntu.html) with ACRN v2.0, Service VM should be installed in nvm while RTVM should be installed in SATA.

Is it necessary?

I installed both Service VM and RTVM in SATA, while Service VM on `/dev/sda5 `and RTVM in `/dev/sda6`. However I came across such error

[2021-04-26 12:49] gvancuts commented on #5970
Hi @iaGuoZhi , you will need to adjust the launch script and also make sure that you have a bootloader properly configured if you do that. Where did you put the ESP (Grub bootloader)?

Having said that, you will find that sharing the same physical disk (just different partition) will adversely affect the realtime performance of your RTVM. The reason we install the Service VM and RTVM rootfs on dif

[2021-04-27 00:12] fuzhongl commented on #5558
@iaGuoZhi It is fine for v2.0.
Which board are you using? with serial port or not? If without serial please adding virtio-console in launch script?

[2021-04-27 01:29] iaGuoZhi commented on #5970
Hi @gvancuts

My ESP is in /dev/sda3.
![sata_partition](https://user-images.githubusercontent.com/41318515/116170923-56bb7680-a73a-11eb-8bd6-f6a57ef52491.jpg)

and I modified RTVM grub file like this.
![Screenshot_20210427_092059](https://user-images.githubusercontent.com/41318515/116170732-f2001c00-a739-11eb-9f35-9c3521fcd351.png)
where UUID and PARTUUID and been updated according to RTVM's root

[2021-04-27 01:36] iaGuoZhi commented on #5558
Hi @fuzhongl , I'm working on ACRN v2.0 on MAXTANG WHL Board.(WHL-IPC-I5). However I came across such error when launch RTVM with kernel version 4.19.

https://github.com/projectacrn/acrn-hypervisor/issues/5970#issuecomment-826776579

Would you mind having a look at this issue? Thanks a lot.

[2021-04-27 02:22] fuzhongl commented on #5970
@iaGuoZhi
It is expected; setup related  issue:
SATA was passthroughed to RTVM, but SOS also using this SATA.
We prefer RTVM installed in one Whole SSD(If no more SSD on your board, please using USB driver) then passthrough the whole SSD to RTVM, ovmf will launch it base on the bdf info in launch script.

[2021-04-27 06:33] zhangshuai75 opened #5972 "configure one display port for Windows and another for SOS?"
Our paltform is MaxTang WL37, Intel(R) Core(TM) i7-8665U
It has two display ports, a VGA and a HDMI. When I launch the Windows UOS, both of them will show the Windows desktop.
If I want to operate on SOS again, I can only log in remotely through the network.

So, is it possible to configure one port for Windows and another for SOS？

[2021-04-27 07:30] gvancuts commented on #5970
Hi @iaGuoZhi , I'm not sure what you call teh RTVM Grub config but in your case I suspect you have only one Grub instance for the entire system, and that's causing problems here. Here is what the Getting Started Guide is setting up when you use two separate disks in terms of boot sequences:
1. Service VM: platform UEFI firmware -> Grub (ESP partition on the **NVMe** disk) -> rootfs on NVMe (`/dev/

[2021-04-27 07:34] gvancuts commented on #5972
Hi @zhangshuai75 , you need to use GVT-g (graphics sharing) to be able to assign display ports to different VMs (here the Service VM and Windows User VM).

Unfortunately I do not think GVT-g still works in recent versions of ACRN, so you may have to go back to a previous version (from the 1.x series).

@NanlinXie @fuzhongl , can you help clarify the status of GVT-d in ACRN?

[2021-04-27 07:41] yonghuah opened #5973 "[mainline] Fail to launch RTVM with --psram"
*Environment*

 HV repo: [https://github.com/projectacrn/acrn-hypervisor.git]

Branch： Master

 kernel:  ACRN  latest master [image|http://sit-image.sh.intel.com/acrn_daily_build/YOCTO-2021ww17.1-1/], SOS kernel has updated to 5.4.106.
  HW: TGL

*Steps*
 # Config to enable PSRAM in TGL scenario xml (misc/config_tools/data/tgl-rvp/industry.xml)                                                     

[2021-04-27 07:42] yonghuah commented on #5973
[External_System_ID] ACRN-7011

[2021-04-27 07:52] fuzhongl commented on #5972
@zhangshuai75 About both of them will show the Windows desktop, this is becaused gpu is passthroughed to Windows.
If you  want to configure one port for Windows and another for SOS; Please using v2.0 for gvt-g(since gvt-g has the known issue since v2.1)

[2021-04-27 08:11] iaGuoZhi commented on #5970
Thanks! @gvancuts @fuzhongl
I'd like to try option2.1 first. I have two questions.
1. where should bootargs set? and which is bootargs's value? UID or bdf?
2.  _We will also need to restore your Grub installation to point at the correct Service VM partition._ Do you mean I should update file `/etc/grub.d/40_custom` of SOS?

[2021-04-27 08:14] iaGuoZhi commented on #5970
Thanks! @gvancuts @fuzhongl
I'd like to try option2.1 first. I have two questions.

1. which is bootargs's value? UID or bdf?
2. _We will also need to restore your Grub installation to point at the correct Service VM partition._ Do you mean I should update file /etc/grub.d/40_custom of SOS?

[2021-04-27 08:27] gvancuts commented on #5970
The `-B, --bootargs` parameter should be set to something like: `root=PARTUUID=<UUID of rootfs partition> rw rootwait nohpet console=hvc0 console=ttyS0 no_timer_check ignore_loglevel log_buf_len=16M consoleblank=0 clocksource=tsc tsc=reliable x2apic_phys processor.max_cstate=0 intel_idle.max_cstate=0 intel_pstate=disable mce=ignore_ce audit=0 isolcpus=nohz,domain,1 nohz_full=1 rcu_nocbs=1 nosoftlo

[2021-04-27 08:42] ylian16 opened #5975 "Modularization: hide arch names in include directives"
Instead of use explicit arch names, e.g., "include <x86/foo.h>", it is now mandatory to use "include <asm/foo.h>".

The makefile will setup the correct include path based on config.

[2021-04-27 08:46] zhangshuai75 commented on #5972
ok, I will try the v2.0 later, thanks.

[2021-04-27 08:49] iaGuoZhi commented on #5970
Thanks!, After follow above tips, I update acrn-dm command parameters, however my usage is not correct, here is my script.
![acrn-dm-command](https://user-images.githubusercontent.com/41318515/116213279-3c07f280-a778-11eb-8720-d2a34885ce5f.jpg)

[2021-04-27 08:58] #5972 closed

[2021-04-27 09:05] NanlinXie commented on #5920
Doc Impact Analysis:

- [ ] New feature -> new HLD and usage guide
- [ ] [HLDs](https://projectacrn.github.io/2.3/developer-guides/hld/index.html)
- [ ] [Configuration data](https://projectacrn.github.io/2.3/tutorials/acrn_configuration_tool.html)
- [ ] [Kernel module parameters](https://projectacrn.github.io/2.3/user-guides/kernel-parameters.html)
- [ ] [Device Model (acrn-dm) parameters](https:/

[2021-04-27 09:11] NanlinXie commented on #5923
Doc Impact Analysis:

- [x] New feature -> new HLD and usage guide
- [ ] [HLDs](https://projectacrn.github.io/2.3/developer-guides/hld/index.html)
- [ ] [Configuration data](https://projectacrn.github.io/2.3/tutorials/acrn_configuration_tool.html)
- [ ] [Kernel module parameters](https://projectacrn.github.io/2.3/user-guides/kernel-parameters.html)
- [ ] [Device Model (acrn-dm) parameters](https:/

[2021-04-27 09:29] NanlinXie commented on #5916
Doc Impact Analysis:

- [ ] New feature -> new HLD and usage guide
- [ ] [HLDs](https://projectacrn.github.io/2.3/developer-guides/hld/index.html)
- [ ] [Configuration data](https://projectacrn.github.io/2.3/tutorials/acrn_configuration_tool.html)
- [ ] [Kernel module parameters](https://projectacrn.github.io/2.3/user-guides/kernel-parameters.html)
- [ ] [Device Model (acrn-dm) parameters](https:/